.fl-theme-mist .fl-tabs li.fl-tabs-active a,
.fl-theme-mist .fl-tabs li.fl-tabs-active a:hover {
    background-color:#fff;
}
.fl-theme-mist .fl-tabs-content {
    margin-top:0;
    background-color:#fff;    
    border-width:0px;
}
.fl-tabs li :focus {
    outline:none;
    color:#f00 !important;
}
/*********************************************************/
.demoContent {
    margin:0 -10px;
    padding:10px;
    background:#f4f4f4;
    color:#333;
}

.demoContent h2 a {
    font-size:.85em;
    padding:0 20px;
}
.example p {
    margin:0; padding:10px; background:#fff;
}
.example iframe {
    border:1px solid #666;
    margin:10px 0 0;
    width:100%;
    height:500px;
}
.codeOptions {
    border:1px solid #4070A1;
    border-width:0 1px 1px;
    background-color:#fff;
}
.codeOptions a {
    padding:5px;
}
.codeOptions p {
    text-align:center;
    margin:0;
    padding:5px;
}
.content pre.fl-tabs-content {
    border:1px solid #4070A1;
    border-width:0 1px 1px;
}
code ol {
    font-size:.8em;
    color:#666;
    overflow: auto;
}
.plaintext {
    font-size:.8em;
    overflow:auto;
}
textarea.plaintext {
    width:100%;
    height:500px;
}
