<div class="fl-demoMenu">
    <div class="fl-demoMenu-title">
        <a class="flc-demoMenu-toggleControl fl-fluid-star" href="#"></a>
        <h1>A <a href="http://fluidproject.org/projects/" target="_blank">fluid project</a> component demo</h1>
    </div>
    <div class="flc-demoMenu-body fl-demoMenu-body">
        <span class="flc-demoMenu-componentName fl-demoMenu-componentName"></span> (<span class="flc-demoMenu-componentVersion fl-demoMenu-componentVersion"></span>)
        <div class="flc-demoMenu-description fl-demoMenu-description"></div>
        <div class="fl-demoMenu-instructions">
            <h2><span class="flc-demoMenu-instructionsHeading"></span></h2>
            <div class="flc-demoMenu-instructions"></div>
        </div>
        <div class="fl-demoMenu-links">
            <ul>
                <li><a class="flc-demoMenu-codeLink" href="#"><span class="fl-icon fl-icon-github"></span> <span class="flc-demoMenu-codeLinkText"></span></a></li>
                <li><a class="flc-demoMenu-apiLink" href="#"><span class="fl-icon fl-icon-api"></span> <span class="flc-demoMenu-apiLinkText"></span></a></li>
                <li><a class="flc-demoMenu-designLink" href="#"><span class="fl-icon fl-icon-design"></span> <span class="flc-demoMenu-designLinkText"></span></a></li>
            </ul>
            <div class="fl-demo-links-feedback">
                <span class="flc-demoMenu-feedbackText"></span>
                <a class="flc-demoMenu-feedbackLink" href="#"><span class="flc-demoMenu-feedbackLinkText"></span></a>
            </div>
        </div>
    </div>
    <div class="fl-demoMenu-footer">
        <a class="flc-demoMenu-closeControl" href="#"><span class="flc-demoMenu-closeText"></span></a>
    </div>
</div>
