<div class="fl-demoMenu">
    <div class="fl-fluid-star">
        <a class="flc-demoMenu-toggleControl" href="#"></a>
    </div>
    <div class="fl-demoMenu-body fl-group">
        <div class="fl-demoMenu-title">
            <h1><span class="flc-demoMenu-title-begin"></span><a href="http://fluidproject.org/projects/" target="_blank"><span class="flc-demoMenu-title-linkText"></span></a><span class="flc-demoMenu-title-end"></span></h1>
        </div>
        
        <div class="fl-demoMenu-contents">
            <span class="flc-demoMenu-componentName fl-demoMenu-componentName"></span> (<span class="flc-demoMenu-componentVersion fl-demoMenu-componentVersion"></span>)
            <div class="flc-demoMenu-description fl-demoMenu-description"></div>
            <div class="fl-demoMenu-instructions">
                <h2><span class="flc-demoMenu-instructionsHeading"></span></h2>
                <div class="flc-demoMenu-instructions"></div>
            </div>
            <div class="fl-demoMenu-links">
                <ul>
                    <li><a class="flc-demoMenu-codeLink" href="#"><span class="fl-icon fl-icon-github"></span> <span class="flc-demoMenu-codeLinkText"></span></a></li>
                    <li><a class="flc-demoMenu-apiLink" href="#"><span class="fl-icon fl-icon-api"></span> <span class="flc-demoMenu-apiLinkText"></span></a></li>
                    <li><a class="flc-demoMenu-designLink" href="#"><span class="fl-icon fl-icon-design"></span> <span class="flc-demoMenu-designLinkText"></span></a></li>
                </ul>
                <div class="fl-demo-links-feedback">
                    <span class="flc-demoMenu-feedbackText"></span>
                    <a class="flc-demoMenu-feedbackLink" href="#"><span class="flc-demoMenu-feedbackLinkText"></span></a>
                </div>
            </div>
        </div>

        <div class="fl-demoMenu-footer">
            <a class="flc-demoMenu-closeControl" href="#"><span class="flc-demoMenu-closeText"></span></a>
        </div>
    </div>
</div>
