<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" dir="ltr" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Demo Menu</title>
        <link rel="stylesheet" type="text/css" href="../css/styles.css" />
        
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css' />

     </head>
     <body>
        <div class="fl-demoMenu">
            <div class="fl-demoMenu-title">
                <a class="fl-fluid-star" href="#"></a>
                <h1>A fluid project component demo</h1>
            </div>
            <div class="fl-demoMenu-body">
                <div class="fl-demoMenu-description">
                    A description of the component should appear here. It should say:
                    <ul>
                        <li>What the component does.</li>
                        <li>Why it is interesting / useful.</li>
                    </ul>
                </div>
                <div class="fl-demoMenu-instructions">
                    <h2>Instructions</h2>
                    <p>
                        Do this to do this.
                        Do that to do that.
                    </p>
                </div>
                <div class="fl-demoMenu-links">
                    <ul>
                        <li><a href="#"><span class="fl-icon fl-icon-github"></span> code</a></li>
                        <li><a href="#"><span class="fl-icon fl-icon-api"></span> API</a></li>
                        <li><a href="#"><span class="fl-icon fl-icon-design"></span> design</a></li>
                    </ul>
                    <div class="fl-demo-links-feedback">
                        Feedback statement and link
                        <a href="#">Link text</a>
                    </div>
                </div>
            </div>
            <div class="fl-demoMenu-footer">
                <a href="#">close</a>
            </div>
        </div>
    </body>
</html>