<div class="fl-demoMenu">
    <div class="fl-demoMenu-title">
        <a class="fl-fluid-star flc-demoMenu-showButton" href="#"></a>
        <h1>A <a href="http://fluidproject.org/projects/" target="_blank">fluid project</a> component demo</h1>
    </div>
    <div class="fl-demoMenu-body flc-demoMenu-body">
        <div class="fl-demoMenu-description flc-demoMenu-description"></div>
        <div class="fl-demoMenu-instructions">
            <h2><span class="flc-demoMenu-instructionsHeading"></span></h2>
            <div class="flc-demoMenu-instructions"></div>
        </div>
        <div class="fl-demoMenu-links">
            <ul>
                <li><a href="#"><span class="fl-icon fl-icon-github"></span> code</a></li>
                <li><a href="#"><span class="fl-icon fl-icon-api"></span> API</a></li>
                <li><a href="#"><span class="fl-icon fl-icon-design"></span> design</a></li>
            </ul>
            <div class="fl-demo-links-feedback">
                Feedback statement and link
                <a href="#">Link text</a>
            </div>
        </div>
    </div>
    <div class="fl-demoMenu-footer">
        <a href="#">close</a>
    </div>
</div>
