<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" dir="ltr" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Demo Menu</title>
        <link rel="stylesheet" type="text/css" href="../css/styles.css" />
        
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css' />

        <script type="text/javascript" src="../../../lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/FluidDocument.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/FluidDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/FluidIoC.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/DataBinding.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/FluidView.js"></script>
        <script type="text/javascript" src="../../../framework/core/js/FluidRequests.js"></script>
        <script type="text/javascript" src="../../../lib/fastXmlPull/js/fastXmlPull.js"></script>
        <script type="text/javascript" src="../../../framework/renderer/js/fluidParser.js"></script>
        <script type="text/javascript" src="../../../framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../../../framework/renderer/js/RendererUtilities.js"></script>
        <script type="text/javascript" src="../js/DemoMenu.js"></script>
    </head>
    <body class="fl-theme-uio-lgdg">
        <div class="flc-demoMenu"></div>
        <script type="text/javascript">
            $(document).ready(function () {
                fluid.demoMenu(".flc-demoMenu");
            })
        </script>
    </body>
</html>
