
.demo-listReorderer-container ol {
    padding-left: unset;
}

.demo-listReorderer-container ol li {
    border-right: 3px solid #6d6e71; /* thicker right border acts as a grab indicator. */
    list-style-position: inside;
    margin-bottom: 5px;
    padding: 5px;
}

.demo-listReorderer-container ul {
    margin-bottom: 0;
    margin-top: 0;
}

.demo-listReorderer-container ul li {
    border-right: none;
    margin: 0;
    padding: 0;
    padding-left: 1em;
}

.demo-listReorderer-movable-default {
    background-color: #e7e8e9;
}

.demo-listReorderer-movable-hover,
.demo-listReorderer-movable-selected {
    background-color: #fff;
    border-bottom: 1px solid #00a651;
    border-left: 1px solid #00a651;

    /* Change the left, top, and bottom borders on hover and select.
       Leave the right border alone as it serves as the grab indicator. */
    border-top: 1px solid #00a651;
    cursor: move;
    outline: none;

    /* set the 5px padding inherited (ol li) to 4px to compensate for
       1px hover border. */
    padding: 4px;
}

.demo-listReorderer-movable-dragging {
    background-color: #d2f7d8;
    border: 1px solid #00a651;
    left: 10px;
    position: relative;
}

.demo-listReorderer-movable-mousedrag {
    visibility: hidden;
}

.demo-listReorderer-avatar {
    background-color: #2bb673;
    border: 0;
    color: #2bb673;
    filter: alpha(opacity=55); /* ie opacity fix */
    opacity: 0.55;
}

.demo-listReorderer-dropMarker {
    background-color: #00a651;
    border-width: 0;
    font-size: 0;
    height: 3px;
    line-height: 0;
    list-style-type: none;
    overflow: hidden;
    padding: 0 0 0 0;
}
