
.demo-listReorderer-container ol {
    padding-left: unset;
}

.demo-listReorderer-container ol li {
    padding: 5px;
    margin-bottom: 5px;
    list-style-position: inside;
    border-right: 3px solid #6d6e71; /* thicker right border acts as a grab indicator. */
}

.demo-listReorderer-container ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.demo-listReorderer-container ul li {
    margin:0px;
    padding:0px;
    padding-left:1em;
    border-right: none;
}

.demo-listReorderer-movable-default{
    background-color: #e7e8e9;
}

.demo-listReorderer-movable-hover, .demo-listReorderer-movable-selected{
    background-color: #fff;
    outline: none;
    cursor: move;

    /* Change the left, top, and bottom borders on hover and select.
       Leave the right border alone as it serves as the grab indicator. */
    border-top: 1px solid #00a651;
    border-left: 1px solid #00a651;
    border-bottom: 1px solid #00a651;

    /* set the 5px padding inherited (ol li) to 4px to compensate for
       1px hover border. */
    padding: 4px;
}

.demo-listReorderer-movable-dragging {
    position: relative;
    left: 10px;
    border: 1px solid #00a651;
    background-color: #d2f7d8;
}

.demo-listReorderer-movable-mousedrag {
    visibility: hidden;
}

.demo-listReorderer-avatar {
    opacity: 0.55;
    filter: alpha(opacity=55); /* ie opacity fix */
    border: 0;
    color: #2bb673;
    background-color: #2bb673;
}

.demo-listReorderer-dropMarker {
    background-color : #00a651;
    height:3px;
    padding:0 0 0 0;
    border-width: 0px;
    list-style-type:none;
    font-size:0px;
    line-height:0px;
    overflow:hidden;
}
