/* TAB STYLES */

#tabs li a{
border: 2px solid #ccc;
}

#activeTabLink{
border: 2px solid white !important;
}


.orderable-default{
position: relative;
top: 0px;
}

.orderable-hover{
}

.orderable-selected a {
border-color: black black #ccc black !important;
}

.orderable-selected #activeTabLink {
border-color: black black white black !important;
}

.orderable-dragging {
	opacity: 0.75;
}

.orderable-dragging a{
background-color: lightyellow !important;
position: relative;
top: -5px;
border-color: lightyellow !important;
}

.orderable-dragging #activeTab{
background-color: lightyellow !important;
position: relative;
top: -5px;
border-color: lightyellow !important;
}

.orderable-drop-marker{
  height: 16px !important;
  width: 2px;
  background-color: yellow !important;
  float: left;
}
