@font-face {
    font-family: "OpenSans";
    src: url("../../../lib/fonts/OpenSans-Light.ttf");
    font-weight: 300;
    font-style: normal;    
}

@font-face {
    font-family: 'OpenSans';
    src:url('../../../lib/fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src:url('../../../lib/fonts/OpenSans-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

html {
    overflow: visible;
}

.fl-uiOptions-fatPanel .fl-uiOptions {
    font-family: 'OpenSans',"Myriad Pro", Helvetica, Arial, sans-serif;
    line-height: 1.2em !important; /* FLUID-4959: fix the line height so it doesn't scale with the UIO line space scaling. */
}

/* UI Options Fat Panel styles */
.fl-uiOptions-fatPanel {
    background-color: #fff;
    background-image: url('../images/default/fatpanelbg.png');
    background-repeat: repeat;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #766d68;
    padding: 10px 0px;
    margin: 0px;
    
}

/* Preference Panels */
.fl-uiOptions-fatPanel ul.fl-uiOptions-panels {
    margin: 0 20px;
    white-space: nowrap;
}

.fl-uiOptions-fatPanel .fl-uiOptions-panels li.fl-uiOptions-panel {
    border: 1px solid #615e59;
    border-radius: 5px;
    box-shadow: 2px 2px #7a766d;
    display: inline-block;
    padding: 1em;
    min-height: 9.6em;
    width: 25em;
    background-color: #fff;
    margin-right: 10px;
    white-space: normal;
    vertical-align:middle;
 }

.fl-uiOptions-fatPanel h2 {
    color: #766d68;
    padding: 0 0 0.5em 0;
    margin: 0 0 1.5em 0;   
    width: 100%; 
    border-bottom: solid #ccc 1px;
    box-shadow: 0px 6px 7px -6px rgba(0,0,0,0.3);
    font-size: 1.2em;
    text-transform: lowercase;
    line-height:1.7em;
    height: 2em;
}

.fl-uiOptions-fatPanel .fl-inputs {
    float: none;
}

.fl-uiOptions-fatPanel label {
    font-size: 1em;
}

/* Table of Contents switch */
.fl-uiOptions-fatPanel .fl-uiOptions-fatPanel-toc {
    width: 6em;
    height:2em;
    margin-right:10px;
    float:left;
}

.fl-uiOptions-fatPanel .fl-uiOptions-fatPanel-toc label {
    line-height: 1.7em !important;
}

/* Emphasize links & buttons panel */
.fl-uiOptions-fatPanel .fl-links-buttons-options label {
    width: 22em;
    display:inline-block;
}

.fl-uiOptions-fatPanel .fl-links-buttons-options li {
    margin-bottom: 0.4em;
}

.fl-uiOptions-fatPanel h2 label,
.fl-uiOptions-fatPanel h2 .heading-text {
    float:left;
    padding-top: 0.2em;
    font-size: 1.3em;
    font-weight: 600;
}

/* Font Icons */
.fl-uiOptions-fatPanel .fl-icon-next, .fl-uiOptions-fatPanel .fl-icon-prev {
    font-family: 'InfusionIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    float: left;
    margin: 0.2em 0.3em 0 0;
    font-size: 1.5em; 
}
.fl-uiOptions-fatPanel .fl-icon-next:before {
    content: "\e001";
}
.fl-uiOptions-fatPanel .fl-icon-prev:before {
    content: "\e002";
}

/* Theming */
.fl-uiOptions-fatPanel.fl-theme-bw,
.fl-uiOptions-fatPanel.fl-theme-wb,
.fl-uiOptions-fatPanel.fl-theme-by,
.fl-uiOptions-fatPanel.fl-theme-yb,
.fl-uiOptions-fatPanel.fl-theme-lgdg {
    background-image: none;
}
