// Basic stylus functions used by other stylus files

linear-gradient()
    // Generate the gradient effect used by linear-gradient()
    content = arguments[0]
    count = 0
    for element in arguments
        if (count != 0)
            content = content, element
        count = count + 1

    if current-property
        add-property(current-property[0], s('-o-linear-gradient(%s)', content))
        add-property(current-property[0], s('-webkit-linear-gradient(%s)', content))
        add-property(current-property[0], s('-ms-linear-gradient(%s)', content))
        add-property(current-property[0], s('-moz-linear-gradient(%s)', content))
        s('linear-gradient(%s)', content)
    else
        error('linear-gradient() must be used within a property')
