// Contains colour variables for contrast themes

.fl-theme-bw {
    --fl-fgColor: #000000;
    --fl-bgColor: #ffffff;
}

.fl-theme-wb {
    --fl-fgColor: #ffffff;
    --fl-bgColor: #000000;
}

.fl-theme-yb {
    --fl-fgColor: #ffff00;
    --fl-bgColor: #000000;
}

.fl-theme-by {
    --fl-fgColor: #000000;
    --fl-bgColor: #ffff00;
}

.fl-theme-lgdg {
    --fl-fgColor: #bdbdbb;
    --fl-bgColor: #555555;
}

.fl-theme-gd {
    --fl-fgColor: #888888;
    --fl-bgColor: #222222;
    --fl-linkColor: #8080ff;
    --fl-disabledColor: #cc0000;
    --fl-selectedFgColor: #ffffff;
    --fl-selectedBgColor: #008000;
    --fl-buttonFgColor: #ffffff;
    --fl-buttonBgColor: #000000;
}

.fl-theme-gw {
    --fl-fgColor: #6c6c6c;
    --fl-bgColor: #ffffff;
    --fl-linkColor: #6666cc;
    --fl-disabledColor: #993333;
    --fl-selectedFgColor: #ffffff;
    --fl-selectedBgColor: #404080;
    --fl-buttonFgColor: #000000;
    --fl-buttonBgColor: #ffffff;
}

.fl-theme-bbr {
    --fl-fgColor: #000000;
    --fl-bgColor: #bb9966;
    --fl-linkColor: #000099;
    --fl-disabledColor: #600000;
    --fl-selectedFgColor: #ffffff;
    --fl-selectedBgColor: #000070;
    --fl-buttonFgColor: #000000;
    --fl-buttonBgColor: #ffd18a;
}
