// Contains utility functions for building contrast themes
// !important is used for all styles to ensure that Preferences Framework's enactors are able to override the pages default styles.

.fl-theme-bw {
    --fColor: #000000;
    --bColor: #ffffff;
}

.fl-theme-wb {
    --fColor: #ffffff;
    --bColor: #000000;
}

.fl-theme-yb {
    --fColor: #ffff00;
    --bColor: #000000;
}

.fl-theme-by {
    --fColor: #000000;
    --bColor: #ffff00;
}

.fl-theme-lgdg {
    --fColor: #bdbdbb;
    --bColor: #555555;
}

.fl-theme-gd {
    --fColor: #888888;
    --bColor: #222222;
    --linkColor: #8080ff;
    --disabledColor: #cc0000;
    --selectedForegroundColor: #ffffff;
    --selectedBackgroundColor: #008000;
    --buttonForegroundColor: #ffffff;
    --buttonBackgroundColor: #000000;
}

.fl-theme-gw {
    --fColor: #6c6c6c;
    --bColor: #ffffff;
    --linkColor: #6666cc;
    --disabledColor: #993333;
    --selectedForegroundColor: #ffffff;
    --selectedBackgroundColor: #404080;
    --buttonForegroundColor: #000000;
    --buttonBackgroundColor: #ffffff;
}

.fl-theme-bbr {
    --fColor: #000000;
    --bColor: #bb9966;
    --linkColor: #000099;
    --disabledColor: #600000;
    --selectedForegroundColor: #ffffff;
    --selectedBackgroundColor: #000070;
    --buttonForegroundColor: #000000;
    --buttonBackgroundColor: #ffd18a;
}

// For the general theme styling that applies to html elements and infusion components
build-themes-Enactors() {
    [class*="fl-theme"]:not(.fl-theme-prefsEditor-default) {
        &, *, .fl-pre view-theme&,
        div, input,
        h1, h2, h3, h4, h5, h6 {
            color: var(--fColor) !important;
            background-color: var(--bColor) !important;
            border-top-color: var(--fColor) !important;
            border-right-color: var(--fColor) !important;
            border-bottom-color: var(--fColor) !important;
            border-left-color: var(--fColor) !important;
        }

        &:disabled,
        :disabled,
        :disabled legend,
        input[type="button"]:disabled,
        input[type="button"]:disabled *,
        input[type="reset"]:disabled,
        input[type="reset"]:disabled *,
        input[type="submit"]:disabled,
        input[type="submit"]:disabled *  {
            color: var(--disabledColor) !important;
        }

        &::selection,
        ::selection {
            color: var(--selectedFColor) !important;
            background-color: var(--selectedBColor) !important;
        }

        iframe {
            border-top-color: var(--fColor) !important;
            border-right-color: var(--fColor) !important;
            border-bottom-color: var(--fColor) !important;
            border-left-color: var(--fColor) !important;
        }

        a,
        a *, {
            color: var(--linkColor, var(--fColor)) !important;
            font-weight: bold !important;
            background-color: var(--bColor) !important;
        }

        button,
        button *,
        input[type="button"],
        input[type="button"] *,
        input[type="reset"],
        input[type="reset"] *,
        input[type="submit"],
        input[type="submit"] *,
        .fl-input-button,
        .fl-input-button * {
            color: var(--buttonForegroundColor, var(--fColor)) !important;
            background-color: var(--buttonBackgroundColor, var(--bColor)) !important;
        }

        ::placeholder {
            color: currentColor;
            font-style: italic;
        }

        // Tables
        th {
            border-top-width: 0.1em;
            border-top-style: solid;
            border-top-color: var(--fColor) !important;
            border-right-width: 0.1em;
            border-right-style: solid;
            border-right-color: var(--fColor) !important;
            border-bottom-width: 0.1em;
            border-bottom-style: solid;
            border-bottom-color: var(--fColor) !important;
            border-left-width: 0.1em;
            border-left-style: solid;
            border-left-color: var(--fColor) !important;
            background-color: var(--fColor) !important;
            color: var(--bColor) !important;
        }

        td {
            border-top-width: 0.1em;
            border-top-style: solid;
            border-top-color: var(--fColor) !important;
            border-right-width: 0.1em;
            border-right-style: solid;
            border-right-color: var(--fColor) !important;
            border-bottom-width: 0.1em;
            border-bottom-style: solid;
            border-bottom-color: var(--fColor) !important;
            border-left-width: 0.1em;
            border-left-style: solid;
            border-left-color: var(--fColor) !important;
        }

        // Focus
        .fl-focus:focus, .fl-focus :focus, &.fl-focus :focus, .selectable {
            outline-width: 0.2em;
            outline-style: solid;
            outline-color: var(--fColor);
        }

        // Infusion Components
        // Reorderer
        .fl-reorderer-dropMarker {
            background-color: #f00 !important;
        }

        // Inline edit
        .fl-inlineEdit-edit {
            background-color: var(--fColor) !important;
            color: var(--bColor) !important;
            border-top-width: 0.1em;
            border-top-style: solid;
            border-top-color: var(--bColor) !important;
            border-right-width: 0.1em;
            border-right-style: solid;
            border-right-color: var(--bColor) !important;
            border-bottom-width: 0.1em;
            border-bottom-style: solid;
            border-bottom-color: var(--bColor) !important;
            border-left-width: 0.1em;
            border-left-style: solid;
            border-left-color: var(--bColor) !important;
            padding-top: 0.1em;
            padding-right: 0.1em;
            padding-bottom: 0.1em;
            padding-left: 0.1em;
            margin-top: -0.1em;
            margin-right: -0.1em;
            margin-bottom: -0.1em;
            margin-left: -0.1em;
        }

        // Textfield Stepper
        .fl-textfieldStepper .fl-textfieldStepper-textField {
            border: solid 1px var(--fColor);
        }

        .fl-textfieldStepper .fl-textfieldStepper-button:disabled {
            visibility: hidden;
        }

        .fl-textfieldStepper .fl-textfieldStepper-focus {
            outline-color: var(--fColor);
        }

        // Orator
        .fl-orator-highlight {
            color: var(--bColor) !important;
            background-color: var(--fColor) !important;
            outline-color: var(--fColor);
        }

        .fl-orator-controller-playToggle {
            text-shadow: unset;
        }

        .fl-icon-orator:before {
            background-color: var(--bColor);
            color: var(--fColor);
            text-shadow: unset;
        }

        .fl-orator-controller > *:not(:first-child):hover,
        .fl-orator-controller :hover .fl-orator-controller-playToggle,
        .fl-orator-controller :hover .fl-orator-controller-playToggle:before,
        .fl-orator-selectionReader-control:hover,
        .fl-orator-selectionReader-control:hover .fl-icon-orator:before,
        .fl-orator-selectionReader-control:hover * {
            background-color: var(--fColor) !important;
            color: var(--bColor) !important;
        }

        .fl-orator-selectionReader-control.fl-orator-selectionReader-above:after,
        .fl-orator-selectionReader-control.fl-orator-selectionReader-above:hover:after,
        .fl-orator-selectionReader-control.fl-orator-selectionReader-above:before {
            border-top-color: var(--fColor);
        }

        .fl-orator-selectionReader-control.fl-orator-selectionReader-below:after,
        .fl-orator-selectionReader-control.fl-orator-selectionReader-below:hover:after,
        .fl-orator-selectionReader-control.fl-orator-selectionReader-below:before {
            border-bottom-color: var(--fColor);
        }

        // Inverted color
        // General Styling
        &.fl-inverted-color, &.fl-inverted-color *, .fl-preview-theme&.fl-inverted-color {
            color: var(--bColor) !important;
            background-color: var(--fColor) !important;
            border-top-color: var(--bColor) !important;
            border-right-color: var(--bColor) !important;
            border-bottom-color: var(--bColor) !important;
            border-left-color: var(--bColor) !important;
        }

        .fl-focus:focus, .fl-focus :focus, &.fl-focus :focus, .selectable


        // Focus
        &.fl-inverted-color.fl-focus :focus,
        &.fl-inverted-color.fl-focus:focus,
        .fl-inverted-color.fl-focus :focus,
        .fl-inverted-color.fl-focus:focus,
        &.fl-focus .fl-inverted-color :focus,
        &.fl-focus .fl-inverted-color:focus,
        .fl-focus .fl-inverted-color :focus,
        .fl-focus .fl-inverted-color:focus {
            outline-width: 0.2em;
            outline-style: solid;
            outline-color: var(--bColor);
        }

        .fl-inverted-color {
            &, *,
            div, input,
            h1, h2, h3, h4, h5, h6 {
                color: var(--bColor) !important;
                background-color: var(--fColor) !important;
                border-top-color: var(--bColor) !important;
                border-right-color: var(--bColor) !important;
                border-bottom-color: var(--bColor) !important;
                border-left-color: var(--bColor) !important;
            }

            &::selection,
            ::selection {
                color: var(--selectedBColor) !important;
                background-color: var(--selectedFColor) !important;
            }

            iframe {
                border-top-color: var(--bColor) !important;
                border-right-color: var(--bColor) !important;
                border-bottom-color: var(--bColor) !important;
                border-left-color: var(--bColor) !important;
            }

            a,
            ^[0..-2] a.fl-inverted-color,
            a *,
            ^[0..-2] a.fl-inverted-color * {
                color: var(--bColor) !important;
                font-weight: bold !important;
                background-color: var(--linkColor, var(--fColor)) !important;
            }

            button,
            ^[0..-2] button.fl-inverted-color,
            button *,
            ^[0..-2] button.fl-inverted-color *,
            input[type="button"],
            ^[0..-2] input[type="button"].fl-inverted-color,
            ^[0..-2] input[type="button"].fl-inverted-color *,
            input[type="reset"],
            ^[0..-2] input[type="reset"].fl-inverted-color,
            ^[0..-2] input[type="reset"].fl-inverted-color *,
            input[type="submit"],
            ^[0..-2] input[type="submit"].fl-inverted-color,
            ^[0..-2] input[type="submit"].fl-inverted-color *,
            .fl-input-button,
            &.fl-input-button,
            .fl-input-button *,
            &.fl-input-button * {
                color: var(--buttonBackgroundColor, var(--bColor)) !important;
                background-color: var(--buttonForegroundColor, var(--fColor)) !important;
            }

            // Tables
            th {
                border-top-width: 0.1em;
                border-top-style: solid;
                border-top-color: var(--bColor) !important;
                border-right-width: 0.1em;
                border-right-style: solid;
                border-right-color: var(--bColor) !important;
                border-bottom-width: 0.1em;
                border-bottom-style: solid;
                border-bottom-color: var(--bColor) !important;
                border-left-width: 0.1em;
                border-left-style: solid;
                border-left-color: var(--bColor) !important;
                background-color: var(--bColor) !important;
                color: var(--fColor) !important;
            }

            td {
                border-top-width: 0.1em;
                border-top-style: solid;
                border-top-color: var(--bColor) !important;
                border-right-width: 0.1em;
                border-right-style: solid;
                border-right-color: var(--bColor) !important;
                border-bottom-width: 0.1em;
                border-bottom-style: solid;
                border-bottom-color: var(--bColor) !important;
                border-left-width: 0.1em;
                border-left-style: solid;
                border-left-color: var(--bColor) !important;
            }

            // Infusion focus element
            .fl-focus:focus, .fl-focus :focus, .selectable {
                outline-width: 0.2em;
                outline-style: solid;
                outline-color: var(--bColor);
            }

            // Infusion Components
            // Reorderer
            .fl-reorderer-dropMarker {
                background-color: #f00 !important;
            }

            // Inline Edit
            .fl-inlineEdit-edit {
                background-color: var(--bColor) !important;
                color: var(--fColor) !important;
                border-top-width: 0.1em;
                border-top-style: solid;
                border-top-color: var(--fColor) !important;
                border-right-width: 0.1em;
                border-right-style: solid;
                border-right-color: var(--fColor) !important;
                border-bottom-width: 0.1em;
                border-bottom-style: solid;
                border-bottom-color: var(--fColor) !important;
                border-left-width: 0.1em;
                border-left-style: solid;
                border-left-color: var(--fColor) !important;
                padding-top: 0.1em;
                padding-right: 0.1em;
                padding-bottom: 0.1em;
                padding-left: 0.1em;
                margin-top: -0.1em;
                margin-right: -0.1em;
                margin-bottom: -0.1em;
                margin-left: -0.1em;
            }

            // Orator
            .fl-orator-highlight {
                color: var(--fColor) !important;
                background-color: var(--bColor) !important;
                outline-color: var(--bColor);
            }

            .fl-icon-orator:before {
                background-color: var(--fColor);
                color: var(--bColor);
            }

            .fl-orator-controller > *:not(:first-child):hover,
            .fl-orator-controller :hover .fl-orator-controller-playToggle:before {
                background-color: var(--bColor) !important;
                color: var(--fColor) !important;
            }

            .fl-orator-selectionReader-control:hover,
            .fl-orator-selectionReader-control:hover .fl-icon-orator:before,
            .fl-orator-selectionReader-control:hover * {
                background-color: var(--bColor) !important;
                color: var(--fColor) !important;
            }

            .fl-orator-selectionReader-control.fl-orator-selectionReader-above:after,
            .fl-orator-selectionReader-control.fl-orator-selectionReader-above:hover:after,
            .fl-orator-selectionReader-control.fl-orator-selectionReader-above:before {
                border-top-color: var(--bColor);
            }

            .fl-orator-selectionReader-control.fl-orator-selectionReader-below:after,
            .fl-orator-selectionReader-control.fl-orator-selectionReader-below:hover:after,
            .fl-orator-selectionReader-control.fl-orator-selectionReader-below:before {
                border-bottom-color: var(--bColor);
            }

            // TextfieldStepper
            .fl-textfieldStepper .fl-textfieldStepper-focus {
                outline-color: var(--bColor);
            }
        }
    }
}
