.demo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-panel {
    margin-top: 2rem;
    height: 48vh;
    width: 48vh;
    background-color: #000000;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10vh;
}

.demo-light {
    background-color: #ffffff;
}

.demo-light .demo-text {
    text-shadow: 5px 4px 2px rgba(150, 150, 150, 1);
}
