/* Base Appearance + States */
.fl-reorderer-movable-default {
    cursor:move;
} 

/* automatically applied the keyboard selected re-orderable item */
.fl-reorderer-movable-selected {
	background-color: lightyellow !important;
}

/* automatically applied as the mouse hovers over re-orderable item */
.fl-reorderer-movable-hover {
    background-color: lightyellow; /* !important;;*/
}

/* automatically applied the keyboard selected re-orderable item */
.fl-reorderer-movable-dragging {
    background     :#ccc !important;    
}

.fl-reorderer-avatar {
    cursor          : move;
    list-style-type : none;
    filter          : alpha(opacity=75);
    opacity         : 0.75;    
}


.flc-reorderer-dropWarning {
    display : none;
    padding: 5px 25px; 
    color : #fff;
    opacity:1;
    filter:alpha(opacity=100);
    background: #900 url('../images/themes/_common/exclamation.png') no-repeat 5px center;
}

/* DROP MARKER: different layouts might require different drop marker appearances */
/* Horizontal drop marker: designed for vertical layouts (default) */
.fluid-vertical-order .fl-reorderer-dropMarker{
    background-color: #F00 !important;
    height          : 0;
    padding         : 2px 0 0 0;
    border-width    : 0;
    margin          : -2px 0 0 0;
    list-style-type : none;
    font-size       : 0;
    line-height     : 0;
    overflow        : hidden;
}
/* Vertical drop marker: designed for grid or horizontal layouts */
.fluid-horizontal-order .fl-reorderer-dropMarker {
    background-color: #F00 !important;
    padding         : 0 3px;
    border-width    : 0;
    margin          : 0 -3px !important;
    list-style-type : none;
    overflow        : hidden;
    width           : 0 !important;
}

/* Themed Appearance + States */
