@charset "utf-8";

/* CSS Document */

/** CONTENT AREA **/
#contentArea {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

#contentArea.home {
    background-color: #fff;
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/** DEFAULT CONTENT FORMATTING **/

/** ALL FONT SIZES, INCLUDING MAIN, ARE BASED ON SIZE DEFINED HERE **/
.caption {
    color: #0057a5;
    font-size: 0.9em;
    line-height: 0.83;
    margin-left: 0;
    margin-right: 4px;
    padding-top: 2px;
    text-decoration: none;
}

.demo-content a {
    color: #0079ab;
    font-weight: normal;
    text-decoration: none;
}

.demo-content a:link {
    color: #0079ab;
}

.demo-content a:visited {
    color: #0079ab;
}

.demo-content a:hover {
    color: #ffbf00;
}

.demo-content h1 {
    color: #0057a5;
    font-size: 2.1em;
    font-weight: bold;
    letter-spacing: 0.5px;
    letter-spacing: 0.001em;
    line-height: 1;
    margin: 0;
    margin-bottom: 8px;
}

.demo-content p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-bottom: 0.9em;
    margin-top: 0;
}

h3 {
    color: #0057a5;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
}

h5 a:hover {
    color: #ffbf00;
    font-size: 0.95em;
    font-weight: bold;
}

h6 {
    border-bottom: 2px #00a3e3 solid;
    color: #0057a5;
    font-size: 1.17em;
    margin: 0 2px;
    padding: 0;
}

p a {
    font-weight: bold;
    text-decoration: none;
}

p.first {
    font-size: 1em;
    font-weight: bold;
}

em {
    font-style: italic;
    font-weight: lighter;
}

/** FOOTER **/
#footer {
    color: #0057a5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    z-index: 10000;
}

#footer a {
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
}

#footer a:link { color: #0057a5; }
#footer a:visited { color: #0057a5; }
#footer a:hover { color: #00a0e1; }

/** Header **/
#headTitle {
    align-items: center;
    border-bottom: 1px solid #aedbf4;
    border-top: 1px solid #aedbf4;
    display: flex;
    font-size: 1.5rem;
    height: 5.1rem;
}

#headTitle svg {
    color: #263f78;
    fill: #007ec6;
    flex-shrink: 0;
    height: 4rem;
    padding: 0.2rem;
    padding-right: 1rem;
    width: 4.75rem;
}

.fl-theme-yb #headTitle svg,
.fl-theme-wb #headTitle svg,
.fl-theme-by #headTitle svg,
.fl-theme-bw #headTitle svg,
.fl-theme-bbr #headTitle svg,
.fl-theme-lgdg #headTitle svg,
.fl-theme-gd #headTitle svg,
.fl-theme-gw #headTitle svg {
    color: inherit;
    fill: currentColor;
}

#headTitle span {
    width: 20rem;
}

/** MID NAV **/
#midBlock {
    background-color: #f0f8fe;
    display: block;
    height: 2.17em;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    top: 0;
    vertical-align: middle;
    width: 100%;
}

#midBlock nav {
    padding-top: 0.1rem;
}

/* SEARCH */
#searchBox {
    position: absolute;
    right: 0;
    top: 0;
}

#searchlabel {
    color: #0079aa;
}

/* MIDDLE-LEFT ITEMS */

#midNavElements a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
}

#midNavElements a:link {
    color: #0057a5;
}

#midNavElements a:visited {
    color: #0057a5;
}

#midNavElements a:hover {
    color: #00a0e1;
}

#midNavElements {
    display: inline;
    list-style-type: none;
    margin-left: 7px;
    padding-left: 0;
    position: relative;
}

#midNavElements li {
    display: inline;
    padding-right: 1em;
}

#midNavElements li::before {
    color: #0057a5;
    content: "»";
    padding-right: 0.3em;
}

.fl-theme-by #midNavElements li::before,
.fl-theme-yb #midNavElements li::before,
.fl-theme-bw #midNavElements li::before,
.fl-theme-wb #midNavElements li::before,
.fl-theme-lgdg #midNavElements li::before,
.fl-theme-gd #midNavElements li::before,
.fl-theme-gw #midNavElements li::before,
.fl-theme-bbr #midNavElements li::before,
.fl-theme-by #newsReleasesList li::before,
.fl-theme-yb #newsReleasesList li::before,
.fl-theme-bw #newsReleasesList li::before,
.fl-theme-wb #newsReleasesList li::before,
.fl-theme-lgdg #newsReleasesList li::before,
.fl-theme-gd #newsReleasesList li::before,
.fl-theme-gw #newsReleasesList li::before,
.fl-theme-bbr #newsReleasesList li::before {
    color: inherit;
}

/** Right-side News Releases **/

#newsReleasesList {
    background: #f0f8ff;
    border: 1px solid #e4e4e4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    list-style-type: none;
    margin: 0;
    margin-bottom: 11px;
    padding-left: 0;
    width: 26em;
}

#newsReleasesList li {
    border-bottom: 1px dotted #ddd;
    display: flex;
    font-size: 1em;
    font-weight: bold;
    padding: 4px;
}

#newsReleasesList li::before {
    color: #f0bf00;
    content: "»";
    font-weight: normal;
    padding-right: 0.3em;
}

#newsReleasesList ul {
    background-color: #f0f8ff;
    list-style: none;
    margin: 0;
    padding: 5px;
    padding-top: 2px;
}

#newsReleasesList h3 {
    color: ##0079ac;
    font-size: 1.4em;
}

/** GENERAL DOCUMENT STYLES **/

body {
    background: url(../images/bg.gif);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body.fl-theme-yb,
body.fl-theme-by,
body.fl-theme-wb,
body.fl-theme-bw,
body.fl-theme-lgdg,
body.fl-theme-gw,
body.fl-theme-gd,
body.fl-theme-bbr {
    background-image: none !important;
}

#content {
    background: none;
    background-color: #fff;
    margin: 3em auto auto;
    position: relative;
    width: 68em;
}

#container {
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
    min-height: 450px;
    padding: 0 0 2px 0;
    width: 68em;
}

/** TOP NAVIGATION **/
#header {
    background: #fff;
    z-index: 10000;
}

.spacer {
    color: #fff;
    margin-left: 20px;
}

.demo-content .topicheading {
    color: #0057a5;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

img {
    border: 1px solid #ccc;
}

img.icon {
    border: none;
}

.fl-theme-yb .left_tab,
.fl-theme-yb .middle_tab,
.fl-theme-yb .right_tab,
.fl-theme-yb .middle_tab .h1_middle_text,
.fl-theme-wb .left_tab,
.fl-theme-wb .middle_tab,
.fl-theme-wb .right_tab,
.fl-theme-wb .middle_tab .h1_middle_text,
.fl-theme-by .left_tab,
.fl-theme-by .middle_tab,
.fl-theme-by .right_tab,
.fl-theme-by .middle_tab .h1_middle_text,
.fl-theme-bw .left_tab,
.fl-theme-bw .middle_tab,
.fl-theme-bw .right_tab,
.fl-theme-bw .middle_tab .h1_middle_text,
.fl-theme-lgdg .left_tab,
.fl-theme-lgdg .middle_tab,
.fl-theme-lgdg .right_tab,
.fl-theme-lgdg .middle_tab .h1_middle_text,
.fl-theme-gw .left_tab,
.fl-theme-gw .middle_tab,
.fl-theme-gw .right_tab,
.fl-theme-gw .middle_tab .h1_middle_text,
.fl-theme-gd .left_tab,
.fl-theme-gd .middle_tab,
.fl-theme-gd .right_tab,
.fl-theme-gd .middle_tab .h1_middle_text,
.fl-theme-bbr .left_tab,
.fl-theme-bbr .middle_tab,
.fl-theme-bbr .right_tab,
.fl-theme-bbr .middle_tab .h1_middle_text {
    background-image: none !important;
}

.fl-theme-yb #left_box .middle_tab,
.fl-theme-by #left_box .middle_tab,
.fl-theme-wb #left_box .middle_tab,
.fl-theme-bw #left_box .middle_tab,
.fl-theme-lgdg #left_box .middle_tab,
.fl-theme-gw #left_box .middle_tab,
.fl-theme-gd #left_box .middle_tab,
.fl-theme-bbr #left_box .middle_tab {
    width: 19.1em;
}

.box {
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 4px 5px;
}

.h1_middle_text {
    color: #fff;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.08em;
    font-weight: bold;
    line-height: 1.3;
    margin-left: 6px;
}

.theme_image_caption {
    border-top: 1px solid #ccc;
    font-size: 0.9em;
    font-style: italic;
    margin-left: 3px;
    padding-top: 2px;
}

#article_image {
    border: 1px solid #ccc;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#left_box {
    float: left;
    margin-right: 10px;
    width: 21.3em;
}

#left_box .left_tab {
    background: url(../images/tab_left_side.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 1.5em;
    width: 0.24em;
}

#left_box .middle_tab {
    background: url(../images/tab_middle_side.png);
    background-color: #0080aa;
    background-repeat: repeat-x;
    background-size: contain;
    float: left;
    height: 1.5em;
    width: 19.2em;
}

#left_box .right_tab {
    background: url(../images/tab_right_side.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 1.5em;
    width: 0.3125em;
}

#breadcrumbs {
    color: #0057a5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    margin-left: 10px;
    margin-top: 5px;
}

#breadcrumbs a {
    color: #0079ab;
    padding-bottom: 2px;
    text-decoration: none;
}

.article {
    float: left;
    margin-top: 10px;
    width: 19.9em;
}

.article img {
    border: 1px solid #ccc;
}

.article_description {
    border-top: 2px #00a3e3 solid;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-top: 5px;
    min-height: 100px;
}

h5 {
    color: #0057a5;
    font-size: 0.96em;
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
}

.demo-content h5 a,
.demo-content h5 a:visited {
    color: #0057a5;
    font-size: 0.95em;
    font-weight: bold;
    text-decoration: none;
}

.demo-content h5 a:hover {
    color: #ffbf00;
}

.line {
    border-top: 1px #00a3e3 solid;
    margin-top: 1px;
}

/* Main Nav */
#mainBlock {
    background: url(../images/nav_bar.png);
    background-color: #0080aa;
    background-repeat: repeat-x;
    background-size: contain;
    height: 2.3em;
    width: 68em;
}

.fl-theme-yb #mainBlock,
.fl-theme-wb #mainBlock,
.fl-theme-by #mainBlock,
.fl-theme-bw #mainBlock,
.fl-theme-bbr #mainBlock,
.fl-theme-lgdg #mainBlock,
.fl-theme-gw #mainBlock,
.fl-theme-gd #mainBlock {
    background-image: none;
    border-bottom: 1px solid currentColor;
    border-top: 1px solid currentColor;
    padding-bottom: 1px;
}

#mainNavElements {
    display: inline;
    list-style-type: none;
}

#mainNavElements:hover {
    display: inline;
    list-style-type: none;
    padding: 0;
}

div.dropdown {
    float: left;
    font-size: 1em;
    height: 1.8em;
    list-style-type: none;
    margin-top: 2px;
    padding-top: 5px;
    z-index: 10000000;
}

div.dropdown:hover {
    background: #0057a5;
    color: #fff;
    z-index: 10000000;
}

.navigation {
    display: block;
    margin: 0;
    padding: 0;
    z-index: 10000000;
}

.demo-content a.navitems {
    color: #fff;
    font-size: 0.9em;
    font-weight: normal;
    margin-left: 4px;
}

.demo-content a.navitems:hover {
    color: #aedbf4;
}

.demo-content a.mainnavitems {
    color: #fff;
    margin-left: 15px;
}

.demo-content a:hover.mainnavitems {
    color: #aedbf4;
}

div.top {
    background: #0057a5;
    position: absolute;
    width: 15.65em;
}

.border {
    border-top: 1px #aedbf4 solid;
    margin: 4px 5px;
}

.demo-content .ltblue {
    color: #aedbf4;
    margin-bottom: 0;
    margin-left: 4px;
}

.rollover_resources_off {
    background: #fff;
    border: 1px dotted black;
    display: none;
    left: 220px;
    margin-top: -18px;
    opacity: 1;
    padding-right: 2px;
    position: absolute;
    width: 220px;
}

p.hover_text {
    background: #fff;
    color: #0057a5;
    font-size: 0.9em;
    line-height: normal;
    margin-bottom: 0;
    padding: 2px 4px;
}

p.hover_text a {
    color: #0057a5;
}

.demo-content a.linker {
    color: #0057a5;
    font-size: 1.1em;
    font-weight: bold;
}

.demo-content a:hover.linker {
    color: #ffbf00;
}
