body {
    margin:1em;
    font-family:verdana,arial,sans-serif;
}

table {
	font-size: 1em;
	border: 1px solid #555;
	border-collapse: collapse;
}

td, th { 
	padding: 3px 5px;
}

th {
	font-weight: bold;
	text-align: left;
	color: white;
	background-color: #666;
	border-left: 1px solid white;
}	

tr {
	border-bottom: 1px solid #BBB;	
}

td {
	border-left: 1px solid #BBB;
	vertical-align: top;
}

tr:last-child {
	border-bottom: none;
}

td:first-child, th:first-child, thead th:first-child {
	border-left: none;
}

.odd-row td {
  background-color: #EEE;
}

td > span {
	display: block;
	padding: 3px 5px 2px 5px;
	border: 1px solid white;
}

.info {
    background-color: #dddddd;
}

.render-button {
    text-align: center;
}
.menu-group {
    float: left;
    width: 45%;
    margin: 0 2%;
}

.model-dump {
    border: solid 1px;
    font-family: monospace;
    font-size: larger;
}
