.fl-uiOptions-previewContent {font-size:13px; background:#e8ffea url(../images/main_bg.png) no-repeat fixed 0px 0px; padding: 0 10px;}
.fl-uiOptions-previewContent h1 {margin:0; padding:5px 0 5px 0;}
.fl-uiOptions-previewContent h2 {}
.fl-uiOptions-previewContent h3 {}
.fl-uiOptions-previewContent p {padding:5px;}
.fl-uiOptions-previewContent img {float:right; margin:10px 0;}
.fl-uiOptions-previewContent strong {}
.fl-uiOptions-previewContent em {}
.fl-uiOptions-previewContent ul {}
.fl-uiOptions-previewContent ol {}
.fl-uiOptions-previewContent li {}
.fl-uiOptions-previewContent table {}
.fl-uiOptions-previewContent table thead {}
.fl-uiOptions-previewContent table thead th {background-color:#fff;}
.fl-uiOptions-previewContent table tbody {}
.fl-uiOptions-previewContent table tbody td {}
.fl-uiOptions-previewContent table tfoot {}
.fl-uiOptions-previewContent table tfoot th {} 