<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Dynamic Reorderer</title>
        <link rel="stylesheet" type="text/css" href="../../../../../src/lib/normalize/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="../../../../../src/framework/core/css/fluid.css" />
        <link type="text/css" rel="stylesheet" href="css/reorderer.css" />

        <!-- styling for manual tests -->
        <link rel="stylesheet" type="text/css" href="../../../shared/css/manualTests.css" />

        <script type="text/javascript" src="../../../../../src/lib/jquery/core/js/jquery.js"></script>
        <script type="text/javascript" src="../../../../../src/lib/jquery/ui/js/jquery-ui.js"></script>
        <script type="text/javascript" src="../../../../../src/lib/jquery/plugins/touchPunch/js/jquery.ui.touch-punch.js"></script>
        <script type="text/javascript" src="../../../../../src/framework/core/js/FluidDocument.js"></script>
        <script type="text/javascript" src="../../../../../src/framework/core/js/jquery.keyboard-a11y.js"></script>
        <script type="text/javascript" src="../../../../../src/framework/core/js/Fluid.js"></script>
        <script type="text/javascript" src="../../../../../src/framework/core/js/FluidDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../../../src/framework/core/js/FluidIoC.js"></script>
        <script type="text/javascript" src="../../../../../src/framework/core/js/FluidView.js"></script>
        <script type="text/javascript" src="../../../../../src/framework/core/js/DataBinding.js"></script>
        <script type="text/javascript" src="../../../../../src/framework/renderer/js/fluidRenderer.js"></script>
        <script type="text/javascript" src="../../../../../src/components/reorderer/js/ReordererDOMUtilities.js"></script>
        <script type="text/javascript" src="../../../../../src/components/reorderer/js/GeometricManager.js"></script>
        <script type="text/javascript" src="../../../../../src/components/reorderer/js/Reorderer.js"></script>
        <script type="text/javascript" src="js/dynamicReorderer.js"></script>

    </head>
    <body>
        <aside class="instructions-container">
            <div class="instructions-content">
                <h2>Description</h2>
                <p>
                    Below is a set of reorderable elements with the ability to dynamically create additional elements that are added to the set.
                    This is a demostration to verify the fix for FLUID-1702.
                </p>
                <h2>Instructions</h2>
                <ol>
                    <li>Move one of the reorderable items</li>
                    <li>Activate the "New Item" button, to create a new reorderable item</li>
                    <li>Move the new item to a new position in the list</li>
                </ol>
            </div>
        </aside>
        <main>
            <h1>Dynamic Reorderer</h1>
            <input id="newElm" type="button" value="New Item" />
            <div id="orderableContainer">
                <div id="1" class="myorderable">This is 1</div>
                <div id="2" class="myorderable">This is 2</div>
                <div id="3" class="myorderable">This is 3</div>
            </div>
        </main>

        <script type="text/javascript">
            demo.initDynamicReorderer();
        </script>
    </body>
</html>
