body {
  max-width: 60em;
  min-width: 56em;
}
.fl-prefsEditor-fullNoPreview .fl-prefsEditor-category {
  border-top: 2px solid #ddd;
  clear: both;
}
.fl-prefsEditor-fullNoPreview .fl-prefsEditor-category h2 img {
  padding-top: 10px;
  margin-bottom: -4px;
}
.fl-prefsEditor-fullNoPreview .fl-prefsEditor-buttons {
  text-align: right;
}
.fl-prefsEditor-fullNoPreview .fl-col-flex {
  padding-top: 15px;
}
.fl-prefsEditor-fullNoPreview ul {
  float: left;
}
.fl-prefsEditor-fullNoPreview ul li {
  clear: left;
}
.fl-prefsEditor-fullNoPreview label,
.fl-prefsEditor-fullNoPreview .fl-inputs {
  margin-bottom: 15px;
}
