<form id="options" action="" class="flc-uiOptions-fatPanel-tabs fl-uiOptions">    
    <div class="flc-uiOptions-controls">    
        <!-- div>
            <a id="reset" class="flc-uiOptions-reset fl-uiOptions-reset" href="#">Reset All</a>
        </div -->   
        
        <ul class="fl-uiOptions-panels">     
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-text-sizer"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-text-font"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-line-spacer"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-contrast fl-contrast"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-layout-controls"></div></li>   
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-links-controls"></div></li>         
	    </ul>
    </div>
</form>
