<form id="options" action="" class="flc-uiOptions-fatPanel-tabs fl-uiOptions">                
    <div class="flc-uiOptions-controls">    
        <ul class="fl-uiOptions-panels">     
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-text-size"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-text-font"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-line-space"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-contrast"></div></li> 
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-layout-controls"></div></li>   
	        <li class="fl-uiOptions-panel"><div class="flc-uiOptions-links-controls"></div></li>         
	    </ul>
    </div>
</form>