<form id="options" action="" class="fl-uiOptions fl-uiOptions-fullNoPreview fl-col-fixed-72em">    
    <div class="flc-uiOptions-controls">
	    <div class="fl-uio-category fl-col-mixed-250">    		
			<h2 class="fl-col-fixed fl-force-left"><img src="../../../../components/uiOptions/images/uio_icon_textanddisplay_18x18.png" alt="" /> Text and display</h2>
            <div class="flc-uiOptions-text-controls fl-uiOptions-text"></div>                                       		    		
    	</div>	    		    		
        
	    <div class="fl-uio-category fl-col-mixed-250">
            <h2 class="fl-col-fixed fl-force-left"><img src="../../../../components/uiOptions/images/uio_icon_layoutandnavigation_18x18.png" alt="" /> Layout and navigation</h2>        
            <div class="flc-uiOptions-layout-controls fl-uiOptions-layout"></div>                   		
        </div>
            
	    <div class="fl-uio-category fl-col-mixed-250">
            <h2 class="fl-col-fixed fl-force-left"><img src="../../../../components/uiOptions/images/uio_icon_linksandbuttons_18x18.png" alt="" /> Links and buttons</h2>
            <div class="flc-uiOptions-links-controls fl-uiOptions-links"></div>      		
        </div>
    </div>

    <div class="fl-text-align-center fl-uio-buttons">
        <input class="flc-uiOptions-save fl-uio-save" type="button" value="Save and apply" />
        <input class="flc-uiOptions-reset" type="button" value="Reset" />
        <input class="flc-uiOptions-cancel fl-uio-cancel" type="button" value="Cancel" />
    </div>                
</form>                
