<form id="options" action="" class="fl-uiOptions fl-uiOptions-fullPreview fl-col-fixed-72em">    
    <div class="flc-uiOptions-controls fl-col-fixed-38em fl-force-left">

        <div class="flc-uiOptions-text-controls fl-uio-category">
        </div>

        <div class="flc-uiOptions-layout-controls fl-uio-category">
        </div>

        <div class="flc-uiOptions-links-controls fl-uio-category">
        </div>
    </div>

    <div class="fl-col-fixed-31em fl-force-right">
        <div class="fl-uio-preview">
            <h2>Preview your changes</h2>
            <iframe class="flc-uiOptions-preview-frame" src="" frameborder="0"></iframe>
        </div>
        <div class="fl-text-align-center fl-uio-buttons">
            <input class="flc-uiOptions-save fl-uio-save" type="button" value="Save and apply" />
            <input class="flc-uiOptions-reset" type="button" value="Reset" />
            <input class="flc-uiOptions-cancel fl-uio-cancel" type="button" value="Cancel" />
        </div>                
    </div>
    
</form>                
