<form id="options" action="" class="fl-uiOptions fl-uiOptions-fullPreview fl-col-fixed-72em">    
    <div class="fl-col-fixed-38em fl-force-left">

        <h2><img src="../../../../components/uiOptions/images/uio_icon_textanddisplay_18x18.png" alt="" /> Text and display</h2>
        <div class="flc-uiOptions-text-controls fl-uiOptions-category">
        </div>

        <h2><img src="../../../../components/uiOptions/images/uio_icon_layoutandnavigation_18x18.png" alt="" /> Layout and navigation</h2>
        <div class="flc-uiOptions-layout-controls fl-uiOptions-category">
        </div>

        <h2><img src="../../../../components/uiOptions/images/uio_icon_linksandbuttons_18x18.png" alt="" /> Links and buttons</h2>
        <div class="flc-uiOptions-links-controls fl-uiOptions-category">
        </div>
    </div>

    <div class="fl-col-fixed-31em fl-force-right">
        <div class="fl-uiOptions-preview">
            <h2>Preview your changes</h2>
            <iframe class="flc-uiOptions-preview-frame" src="" frameborder="0"></iframe>
        </div>
        <div class="fl-text-align-center fl-uiOptions-buttons">
            <input class="flc-uiOptions-save fl-uiOptions-save" type="button" value="Save and apply" />
            <input class="flc-uiOptions-reset" type="button" value="Reset" />
            <input class="flc-uiOptions-cancel fl-uiOptions-cancel" type="button" value="Cancel" />
        </div>                
    </div>
    
</form>                
