<form id="options" action="" class="fl-uiOptions fl-uiOptions-fullPreview fl-focus">    
    <div class="fl-container-flex60 fl-force-left">

        <h2 class="fl-uiOptions-text-icon">Texto y apariencia </h2>
        <div class="flc-uiOptions-text-controls fl-uiOptions-category fl-uiOptions-text">
        </div>

        <h2 class="fl-uiOptions-layout-icon">Diseño y navegación</h2>
        <div class="flc-uiOptions-layout-controls fl-uiOptions-category fl-uiOptions-layout">
        </div>

        <h2 class="fl-uiOptions-links-icon">Enlaces y botones</h2>
        <div class="flc-uiOptions-links-controls fl-uiOptions-category fl-uiOptions-links">
        </div class="fl-uiOptions-text-icon">
    </div>

    <div class="fl-container-flex35 fl-force-right">
        <div class="fl-uiOptions-preview">
            <h2>Vista previa de los cambios </h2>
            <iframe class="flc-uiOptions-preview-frame" src="" frameborder="0"></iframe>
        </div>
        <div class="fl-uiOptions-buttons">
            <input class="flc-uiOptions-save fl-uiOptions-save" type="button" value="Guardar y aplicar " />
            <input class="flc-uiOptions-reset" type="button" value="Restaurar" />
            <input class="flc-uiOptions-cancel fl-uiOptions-cancel" type="button" value="Cancelar" />
        </div>                
    </div>
    
</form>                
