<ul class="fl-clearfix">
    <li class="fl-force-left">
        <label for="volume">Default Volume</label>
        <div>
            <span>icon of a speaker with no sound</span>
            <div id="volume" class="flc-uiOptions-media-volume" />
            <span>icon of a speaker with maximized sound </span>
        </div>
    </li>
    <li class="fl-force-left">
        <input type="checkbox" id="captions" class="flc-uiOptions-media-captions fl-force-left" />
        <div>
            <label for="captions">Show captions whenever possible</label>
            <p class="fl-uiOptions-option-description">Captions show only the text that is currently being spoken</p>
        </div>
    </li>
    <li>
        <input type="checkbox" id="transcripts" class="flc-uiOptions-media-transcripts fl-force-left" />
        <div>
            <label for="transcripts">Show transcripts whenever possible</label>
            <p class="fl-uiOptions-option-description">Transcripts show the whole text, and highlight the portion being spoken</p>
        </div>
    </li>
</ul>



