
<form id="options" action="" class="fl-col-flex2 fl-uiOptions uiOptions">
    
    <!-- column 1, options -->
    <div class="flc-uiOptions-controls fl-col">
            <h2>Easier to see</h2>
            <div class="fl-uiOptions-controlGroup">
                <ol class="fl-controls-right">
                    <li>
                        <label for="text-font" class="fl-label">Font style:</label>
                        <select rsf:id="text-font" id="text-font"" >
                        </select>
                    </li>
                    
                    <li class="flc-uiOptions-min-text-size fl-uiOptions-min-text-size">
                        <label for="min-text-size" class="fl-label">Minimum text size:</label>
                        <p class="fl-slider fl-force-right fl-slider-horz flc-textfieldSlider-slider"> </p>
                        <input id="min-text-size" class="fl-textfield flc-textfieldSlider-field" type="text" />pt                                
                    </li>

                    <li>
                        <label for="text-spacing" class="fl-label">Text Spacing:</label>
                        <select rsf:id="text-spacing" id="text-spacing" >
                            <option>text-spacing here</option>
                        </select>
                    </li>
                    <li class="flc-uiOptions-line-spacing fl-uiOptions-line-spacing">
                        <label for="line-spacing" class="fl-label">Line Spacing:</label>
                        <p class="fl-slider fl-force-right fl-slider-horz flc-textfieldSlider-slider"> </p>
                        <input id="line-spacing" class="fl-textfield flc-textfieldSlider-field" type="text" />                             
                    </li>
                    <li>
                        <label class="fl-label" for="theme">Contrast:</label>
                        <select rsf:id="theme" id="theme">
                            <option>contrast here</option>
                        </select>
                    </li>

                    <li>
                        <span class="fl-label">Background Images:</span>
                        <fieldset>
                            <legend>Background Images</legend>
                            <span rsf:id="background-images-row:">
                                <input rsf:id="background-images-choice" id="background-images-choice" type="radio" />
                                <label rsf:id="background-images-label" for="background-images-choice">choice</label>
                            </span>
                        </fieldset>
                    </li>

                    <li>                             
                        <span class="fl-label">Simplified Layout:</span>
                        <fieldset>
                            <legend>Simplified Layout</legend>
                            <span rsf:id="layout-row:">
                                <input rsf:id="layout-choice" id="layout-choice" type="radio" />
                                <label rsf:id="layout-label" for="layout-choice">choice</label>
                            </span>
                        </fieldset>
                    </li>
                </ol>
            </div>
        
            <h2>Easier to find</h2>
            <div class="fl-uiOptions-controlGroup">
                <ol class="fl-controls-right">
                    <li>
                        <span class="fl-label">Table of Contents:</span>
                        <fieldset>
                            <legend>Table of Contents</legend>
                            <span rsf:id="toc-row:">
                                <input rsf:id="toc-choice" id="toc-choice" class="fl-textfield" type="radio"/>
                                <label rsf:id="toc-label" for="toc-choice">choice</label>
                            </span>
                        </fieldset>
                    </li>                            
                    <li>
                        <span class="fl-label">Links:</span>
                        <fieldset>
                            <legend>Links</legend>
                            <input rsf:id="links-underline" id="links-underline" type="checkbox"/>
                            <label for="links-underline">Underline</label><br />
                            <input rsf:id="links-bold" id="links-bold" type="checkbox"/>
                            <label for="links-bold">Bold</label><br />
                            <input rsf:id="links-larger" id="links-larger" type="checkbox"/>
                            <label for="links-larger">Larger</label>
                        </fieldset>
                    </li>
                    <li>
                        <span class="fl-label">Inputs:</span>
                        <fieldset>
                            <legend>Inputs</legend>
                            <input rsf:id="inputs-larger" id="inputs-larger" type="checkbox"/>
                            <label for="inputs-larger">Larger</label>
                        </fieldset>                                   
                    </li>
                </ol>
            </div>
        
    </div>
    <!-- column 2, preview -->
    <div class="fl-col">
        <div class="fl-subcomp-preview">
            <h2><strong>Preview window</strong> (updates automatically)</h2>
            <iframe class="flc-uiOptions-preview-frame" src="" frameborder="0"></iframe>
        </div>
        <div class="fl-text-align-center fl-subcomp-buttons">
            <input class="flc-uiOptions-reset" type="button" value="Reset" />
            <input class="flc-uiOptions-save" type="button" value="Save and apply" />
            <input class="flc-uiOptions-cancel" type="button" value="Cancel" />
        </div>                
    </div>
    
</form>                
