            <ul class="fl-clearfix">
                <li class= "fl-uiOptions-option fl-uiOptions-option-first fl-uiOptions-option-1col">
                    <input type="checkbox" id="links-choice" class="flc-uiOptions-links fl-force-left" />
                    <div class="fl-force-left">
                        <label for="links-choice" class="fl-label">Emphasize Links</label>
                        <p class="fl-uiOptions-option-description">Makes links larger, bold, and underlined</p>
                    </div>
                </li>
                <li class= "fl-uiOptions-option fl-uiOptions-option-1col">
                    <input type="checkbox" id="inputs-choice"class="flc-uiOptions-inputs-larger fl-force-left" />
                    <div class="fl-force-left">
                        <label for="inputs-choice" class="fl-label">Make Inputs Larger</label>
                        <p class="fl-uiOptions-option-description">Makes buttons, drop-down menus, text-fields, and other inputs larger</p>
                    </div>
                </li>        
            </ul>        
