            <div class="fl-uiOptions-controlGroup">
                <ol class="fl-controls-right">
                    <li>
                        <label for="text-font" class="fl-label">Font style:</label>
                        <select class="flc-uiOptions-text-font" id="text-font">
                        </select>
                    </li>
                    
                    <li class="flc-uiOptions-min-text-size fl-uiOptions-min-text-size">
                        <label for="min-text-size" class="fl-label">Minimum text size:</label>
                        <p class="flc-textfieldSlider-slider fl-slider fl-force-right fl-slider-horz"> </p>
                        <input id="min-text-size" class="flc-textfieldSlider-field fl-textfield" type="text" />pt                                
                    </li>

                    <li>
                        <label for="text-spacing" class="fl-label">Text Spacing:</label>
                        <select class="flc-uiOptions-text-spacing" id="text-spacing" >
                            <option>text-spacing here</option>
                        </select>
                    </li>
                    <li class="flc-uiOptions-line-spacing fl-uiOptions-line-spacing">
                        <label for="line-spacing" class="fl-label">Line Spacing:</label>
                        <p class="flc-textfieldSlider-slider fl-slider fl-force-right fl-slider-horz"> </p>
                        <input id="line-spacing" class="flc-textfieldSlider-field fl-textfield" type="text" />                             
                    </li>
                    <li>
                        <label class="fl-label" for="theme">Contrast:</label>
                        <select class="flc-uiOptions-theme" id="theme">
                            <option>contrast here</option>
                        </select>
                    </li>
                </ol>
            </div>

