<h2><span class="fl-icon-links"></span><span class="flc-uiOptions-links-label heading-text"></span></h2>
<ul class="fl-inputs fl-links-buttons-options">
	<li>
		<input type="checkbox" id="links-choice" class="flc-uiOptions-links fl-force-left" />
		<label class="flc-uiOptions-links-choice-label" for="links-choice"></label>
	</li>
	<li>
		<input type="checkbox" id="inputs-choice" class="flc-uiOptions-inputs-larger fl-force-left" />
		<label class="flc-uiOptions-links-inputs-choice-label" for="inputs-choice"></label>
	</li> 
</ul>
