            <ul>
                <li>
                    <input type="checkbox" id="links-choice" class="flc-uiOptions-links fl-force-left" />
                    <div>
                        <label for="links-choice">Destacar los enlaces </label>
                        <p class="fl-uiOptions-option-description">Aumenta el tamaño de los enlaces, y los muestra en negrita y subrayados </p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="inputs-choice" class="flc-uiOptions-inputs-larger fl-force-left" />
                    <div>
                        <label for="inputs-choice">Aumentar el tamaño de las opciones </label>
                        <p class="fl-uiOptions-option-description">Aumenta el tamaño de los botones, menús desplegables, campos de texto y otras opciones </p>
                    </div>
                </li>        
            </ul>        
