                <div>
                	<h2><label for="line-spacing">Table of Contents</label></h2>
                    <div>
                        <input type="checkbox" id="toc-choice" class="fl-uiOptions-fatPanel-toc flc-uiOptions-toc fl-force-left fl-hidden-accessible" />
                        <label for="toc-choice">
                        	<span class="fl-uiOptions-fatPanel-switch">
                        		<span class="fl-uiOptions-fatPanel-switch-inner"></span>
                        	</span>
                        	Show Table of Contents
                        </label>
                        <p class="fl-uiOptions-option-description">Adds a table of contents to the top of the page</p>
                    </div>
                </div>                            