
<form id="options" action="" class="fl-col-flex2 fl-uiOptions">
    
    <!-- column 1, options -->
    <div class="flc-uiOptions-controls fl-col">
		<h2><img src="images/uio_icon_textanddisplay_18x18.png" alt="" /> Text and display</h2>
		
		<ul class="fl-uio-form">
			<li class="flc-uiOptions-min-text-size">
				<label for="min-text-size" class="fl-label">Text Size</label>
				<div class="fl-inputs">
					<p class="flc-textfieldSlider-slider fl-slider fl-slider-horz"> </p>
					<input id="min-text-size" class="flc-textfieldSlider-field" type="text" /> times                                
				</div>
			</li>
			<li>
				<label for="text-font" class="fl-label">Text Style</label>
				<select rsf:id="text-font" id="text-font" class="fl-inputs"></select>
			</li>   
			<li>
				<label class="fl-label" for="theme">Colour & Contrast</label>
				<select rsf:id="theme" id="theme" class="fl-inputs">
					<option>contrast here</option>
				</select>
			</li>
			<li class="flc-uiOptions-line-spacing fl-uiOptions-line-spacing">
				<label for="line-spacing" class="fl-label">Line Spacing</label>
				<div class="fl-inputs">
					<p class="fl-slider fl-slider-horz flc-textfieldSlider-slider"> </p>
					<input id="line-spacing" class="flc-textfieldSlider-field" type="text" /> times  
				</div>
			</li>			
        </ul>            
                    
        <h2><img src="../images/uio_icon_layoutandnavigation_18x18.png" alt="" /> Layout and navigation</h2>        
		<ul>
			<li>                             
				<input type="checkbox" id="layout-choice" />
				<label for="layout-choice" class="fl-label">Simplify Layout</label>
				<p>Converts a page to a single column layout</p>
			</li>                
			<li>
				<input type="checkbox" id="toc-choice" />
				<label for="toc-choice" class="fl-label">Show Table of Contents</label>
				<p>Adds a table of contents to the top of the page</p>
			</li>                            
		</ul>
            
        <h2><img src="../images/uio_icon_linksandbuttons_18x18.png" alt="" /> Links and buttons</h2>
        <ul>
			<li>
				<input type="checkbox" id="links-choice" />
				<label for="links-choice" class="fl-label">Emphasize Links</label>
				<p>Makes links larger, bold, and underlined</p>
			</li>
			<li>
				<input type="checkbox" id="inputs-choice" />
				<label for="inputs-choice" class="fl-label">Make Inputs Larger</label>
				<p>Makes buttons, drop-down menus, text-fields, and other inputs larger</p>
			</li>        
        </ul>        
    </div>
    <!-- column 2, preview -->
    <div class="fl-col">
        <div class="fl-preview">
            <h2>Preview your changes</h2>
            <iframe class="flc-uiOptions-preview-frame" src="" frameborder="0"></iframe>
        </div>
        <div class="fl-text-align-center fl-subcomp-buttons">
            <input class="flc-uiOptions-reset" type="button" value="Reset" />
            <input class="flc-uiOptions-save" type="button" value="Save and apply" />
            <input class="flc-uiOptions-cancel" type="button" value="Cancel" />
        </div>                
    </div>
    
</form>                
