<ul class="fl-clearfix fl-uiOptions-media fl-uiOptions-topContainer">
    <li class="fl-uiOptions-volume fl-media-column">
        <label for="volume">Default Volume</label>
        <div class="fl-inputs">
                <div class="fl-force-left fl-icon fl-volume-slider-left"><span class="fl-hidden-accessible">icon of a speaker with no sound</span></div>                       
                <div id="volume" class="flc-uiOptions-volume fl-slider fl-slider-horz"></div>
                <div class="fl-force-left fl-icon fl-volume-slider-right"><span class="fl-hidden-accessible">icon of a speaker with maximum sound</span></div>
        </div>
    </li>
    <li class="fl-media-column">
        <ul class="fl-uiOptions-nestedList">
            <li>
		        <input type="checkbox" id="captions" class="flc-uiOptions-captions fl-force-left" />
		        <div>
		            <label for="captions">Show captions whenever possible</label>
		            <p class="fl-uiOptions-option-description">Captions show only the text that is currently being spoken</p>
		        </div>
		        <input type="checkbox" id="transcripts" class="flc-uiOptions-transcripts fl-force-left" />
		        <div>
		            <label for="transcripts">Show transcripts whenever possible</label>
		            <p class="fl-uiOptions-option-description">Transcripts show the whole text, and highlight the portion being spoken</p>
		        </div>
            </li>
        </ul>
    </li>
    <li class="fl-media-column">
        <ul class="fl-uiOptions-nestedList">
          <li>
            <label for="language">Use preferred language</label>
          </li>
          <li>
            <p>Captions and transcripts will default to this language if available</p>
            <select class="flc-uiOptions-language">
                <option value="en">English</option>
                <option value="fr">French</option>
            </select>
          </li>
        </ul>
    </li> 
</ul>


