<h2><span class="fl-icon-contrast"></span><span class="heading-text">Colour & Contrast</span></h2>
<div class="flc-uiOptions-themeRow fl-choice">
	<input type="radio" class="flc-uiOptions-themeInput fl-hidden-accessible" name="theme" id="bw" value="bw" />
	<div class="fl-indicator"></div>
	<label for="bw" class="flc-uiOptions-themeLabel fl-theme-uio-bw">
	    <span class="fl-preview-A"></span>
	    <span class="fl-hidden-accessible">Black on White</span>
	    <div class="fl-crossout"></div>
	</label>
</div>
