            <h2><img src="../../../../components/uiOptions/images/uio_icon_layoutandnavigation_18x18.png" alt="" /> Layout and navigation</h2>        
            <ul class="fl-clearfix">
                <li class= "fl-uio-option fl-uio-option-first fl-uio-option-1col">                             
                    <input type="checkbox" id="layout-choice" class="flc-uiOptions-layout fl-force-left" />
                    <div class="fl-force-left">
                        <label for="layout-choice" class="fl-label">Simplify Layout</label>
                        <p class="fl-uio-option-description">Converts a page to a single column layout</p>
                    </div>
                </li>                
                <li class= "fl-uio-option fl-uio-option-1col">
                    <input type="checkbox" id="toc-choice" class="flc-uiOptions-toc fl-force-left" />
                    <div class="fl-force-left">
                        <label for="toc-choice" class="fl-label">Show Table of Contents</label>
                        <p class="fl-uio-option-description">Adds a table of contents to the top of the page</p>
                    </div>
                </li>                            
            </ul>
