
<form id="options" action="" class="fl-col-flex2 fl-uiOptions uiOptions">
    
    <!-- column 1, options -->
    <div class="flc-uiOptions-controls fl-col">
        <div class="flc-uiOptions-text-controls">
        </div>

        <div class="flc-uiOptions-layout-controls">
        </div>

        <div class="flc-uiOptions-links-controls">
        </div>
    </div>
    
    <!-- column 2, preview -->
    <div class="fl-col">
        <div class="fl-subcomp-preview">
            <h2><strong>Preview window</strong> (updates automatically)</h2>
            <iframe class="flc-uiOptions-preview-frame" src="" frameborder="0"></iframe>
        </div>
        <div class="fl-text-align-center fl-subcomp-buttons">
            <input class="flc-uiOptions-reset" type="button" value="Reset" />
            <input class="flc-uiOptions-save" type="button" value="Save and apply" />
            <input class="flc-uiOptions-cancel" type="button" value="Cancel" />
        </div>                
    </div>
    
</form>                
