/build/
/dist/
/products/
/node_modules/
/src/components/switch/css/*.css
/src/framework/preferences/css/*.css
/.bundle/
/.vagrant/
/src/lib/hypher/
/src/lib/jquery/
/src/lib/normalize/
/src/lib/open-dyslexic/
/src/lib/opensans/
/src/lib/roboto/
/src/lib/url-polyfill/
/tests/lib/jquery-simulate/
/tests/lib/mockjax/
/tests/lib/sinon/
package-lock.json
report.tap
coverage
reports
