/build/
/dist/
/node_modules/
/src/framework/preferences/css/*.css
/src/framework/preferences/css/*.css.map
/.bundle/
/src/lib/atkinson-hyperlegible/
/src/lib/hypher/
/src/lib/jquery/
/src/lib/opendyslexic/
/src/lib/opensans/
/src/lib/roboto-slab/
/tests/lib/jquery-simulate/
/tests/lib/sinon/
/tests/lib/xhr-mock/
package-lock.json
.project
report.tap
coverage
products
reports
src/lib/fonts
