.settings
.project

src/WEB-INF
src/components
src/demos
src/integration-demos
src/standalone-demos

src/tests/3rd-party-tests
src/tests/component-tests
src/tests/framework-tests
src/tests/manual-tests
src/tests/all-tests.html
src/tests/lib/jquery-ui
src/tests/lib/mockjax
src/tests/lib/README
src/tests/test-core/testTests
src/tests/test-core/utils/js/DebugFocus.js

src/lib/jquery/plugins
src/lib/jquery/ui

src/lib/json
src/lib/swfobject
src/lib/swfupload
src/framework/fss

build-scripts
products
project.xml
project.properties
pom.xml
