{
	extends: "stylelint-config-standard-scss",
	plugins: [
		"stylelint-order"
	],
	rules: {
        "block-opening-brace-newline-after": "always",
        "block-closing-brace-newline-before": "always",
        "indentation": 4,
		"no-descending-specificity": null,
		"order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-alphabetical-order": true
	}
}
