/**/
/* Main image viewer */
/**/
.demo-container-imageViewer {
    width: 100%;
    height: 24em;
    border: 0.1em solid #000;
    text-align:center;
}

/* Stretch the image to fit the height view container, while maintaining the aspect ratio. */
.demo-image-mainImage {
    height:100%;
    max-width: calc(100vw - 2em - 2px)
}


/**/
/* Thumbnails */
/**/
.demo-container-imageThumbnails  {
    max-width: calc(100vw - 2em - 2px);
    padding: 1em;
    background-color:#CCCBE4;
    border: 1px solid #000;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;
    list-style:none outside none;
}

.demo-container-imageThumbnails li {
    display:inline-block;
    flex: 0 0 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align:center;
}

.demo-container-imageThumbnails img {
    max-height:7em;
    border:5px solid #fff;
}

.demo-container-imageThumbnails .demo-selected,
.demo-container-imageThumbnails li:hover img {
    border: 5px solid black;
}

/**/
/* Five Star Widget */
/**/
.demo-container-fiveStar {
    background-color:#CCCBE4;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    text-align:center;
    padding: 1em 0;
    margin-top:1em;
}

.demo-container-fiveStar #demo-ranking {
    cursor: pointer;
}

#demo-ranking.demo-selected img:focus {
    outline: 3px solid black;
}
