.example-columns {
    -webkit-columns: 12.5rem 4;
    -moz-columns: 12.5rem 4;
    columns: 12.5rem 4;
}

.example-column {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}

main {
    max-width: 950px;
    width: 95%;
}
