body {
    font-family: "Myriad Pro", Helvetica, Tahoma, Verdana, sans-serif;
}

main.content {
    margin: 0;
    max-width: none;
    padding-left: 2rem;
    width: 95%;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 1em;
}

.backButton {
    background-color: #0071bc;
    padding: 10px;
}

.backButton a {
    background-image: url("../images/arrow_left.png");
    background-repeat: no-repeat;
    color: white;
    padding-left: 25px;
    text-decoration: none;
}
