a:hover {
    background-color: #d2e0e6;
}

.instructions-container {
    margin-top: 3rem;
}

.assortedContent-theme-basic header {
    text-shadow: 4px 3px 4px #426088;
}

.overflow-test {
    background: linear-gradient(to bottom right, #426088, rgba(255, 255, 255, 0));
    border: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 2rem auto 0;
    overflow: hidden;
    padding: 1rem;
    text-overflow: ellipsis;
    transition: width 1s;
    white-space: nowrap;
    width: 30rem;
}

.overflow-test:hover {
    background: linear-gradient(to top right, #426088, rgba(255, 255, 255, 0));
    white-space: normal;
    width: 35rem;
}

main {
    /* needed for IE11 */
    display: block;
    padding: 1rem 1rem 3rem;
}

.assortedContent-theme-basic main {
    background-color: #fff;
}

table,
form {
    margin: 0 auto;
    width: 90%;
}

.intro {
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px #292929;
    padding: 0.5rem;
    width: 75%;
}

/* form styling */
fieldset {
    margin-top: 2rem;
    padding: 1rem;
}

textarea {
    height: 5rem;
    padding: 0.3rem;
    resize: vertical;
    width: 40rem;
}

input.submit {
    float: right;
    margin-top: 1rem;
}

.radio-buttons ul {
    list-style-type: none;
}

.radio-buttons li {
    padding-top: 0.2rem;
}

.select-text-input code {
    float: right;
}

.text-area textarea {
    display: block;
    margin-bottom: 1rem;
}

.text-area button {
    background-image: url("../images/INFUSION_orange_graphic.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    width: 10rem;
}

.disabled-inputs {
    margin-top: 4rem;
}

.disabled-inputs ul {
    list-style: none;
    padding-left: 0;
}

.disabled-inputs li {
    margin-bottom: 1rem;
}

/* figure styling */
.test-figure {
    width: 30rem;
}

.test-figure img {
    width: inherit;
}

.test-figure figcaption {
    text-align: center;
}

.assortedContent-theme-basic {
    background-color: #426088;
    background-image: url("../images/bg-grad.png");
    background-position: left top;
    background-repeat: repeat-x;
}

.assortedContent-theme-basic.fl-prefsEditor-themePicker-defaultThemeLabel,
.assortedContent-theme-basic.fl-prefsEditor-themePicker-defaultThemeLabel span,
.assortedContent-theme-basic.fl-prefsEditor-themePicker-defaultThemeLabel .fl-crossout {
    background-color: #fff !important;
    background-image: none !important;
    border-color: #000 !important;
    color: #000 !important;
}

.assortedContent-theme-basic .assortedContent-content {
    background-color: white;
    margin-top: 50px;
    padding: 10px;
}

.assortedContent-theme-basic .assortedContent-header,
.assortedContent-theme-basic .assortedContent-footer {
    border: solid 1px #426088;
    padding: 15px;
}

.assortedContent-theme-basic .assortedContent-header h1 {
    font-size: 2em;
}

.assortedContent-theme-basic .assortedContent-breaking {
    background-color: red;
    margin: 5px;
    padding: 5px;
}

.assortedContent-theme-basic .assortedContent-header .assortedContent-tagline {
    font-size: 1.5em;
    font-style: italic;
}

.assortedContent-theme-basic .assortedContent-breaking h1 {
    font-style: italic;
}

/* table styling */
caption {
    border: 1px;
    border-radius: 2rem 2rem 0 0;
    border-style: solid;
    padding: 0.3rem;
}

th {
    padding: 0.3rem;
}

td {
    border: 1px solid #ccc;
    padding: 0.5rem;
}

td:first-child {
    width: 12rem;
}

.element-examples td:first-child {
    font-family: monospace;
}

.element-examples tfoot td:first-child {
    font-family: inherit;
}

.assortedContent-theme-basic caption {
    border-color: #426088;
}

.assortedContent-theme-basic th,
.assortedContent-theme-basic tfoot td {
    background-color: #426088;
    color: white;
}
