.instructions-container {
    margin-top: 3rem;
}

header {
    color: #FFF;
}

main {
    padding: 1rem 1rem 3rem;
}
.assortedContent-theme-basic main {
    background-color: #ffffff;
}

table, form {
    width: 90%;
    margin: 0 auto;
}
/* form styling */
fieldset {
    padding: 1rem;
    margin-top: 2rem;
}
textarea {
    width: 40rem;
    height: 5rem;
    padding: 0.3rem;
}
input[type="submit"] {
    float: right;
    margin-top: 1rem;
}
.radio-buttons ul {
    list-style-type: none;
}
.radio-buttons li {
    padding-top: 0.2rem;
}
.select-text-input code {
    float: right;
}
.text-area button {
    width: 10rem;
    height: 2rem;
    background-image: url("http://wiki.fluidproject.org/download/attachments/24939866/INFUSION_orange_graphic.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* figure styling */
.test-figure {
    width: 30rem;
}
.test-figure img {
    width: inherit;
}
.test-figure figcaption {
    text-align: center;
}

.assortedContent-theme-basic {
    background-color: #426088;
    background-image: url("../images/bg-grad.png");
    background-position: left top;
    background-repeat: repeat-x;
}

.assortedContent-theme-basic .assortedContent-content {
    background-color: white;
    margin-top: 50px;
    padding: 10px;
}

.assortedContent-theme-basic .assortedContent-header,
.assortedContent-theme-basic .assortedContent-footer {
    border: solid 1px #426088;
    padding: 15px;
}

.assortedContent-theme-basic .assortedContent-header h1 {
    font-size:2em;
}
.assortedContent-theme-basic .assortedContent-breaking {
    background-color: red;
    padding: 5px;
    margin: 5px;
}

.assortedContent-theme-basic .assortedContent-header .assortedContent-tagline {
    font-size:1.5em;
    font-style: italic;
}
.assortedContent-theme-basic .assortedContent-breaking h1 {
    font-style: italic;
}

/* table styling */
th {
    padding: 0.3rem;
}
td {
    border: 1px solid #cccccc;
    padding: 0.5rem;    
}
td:first-child {
    width: 12rem;
}
.element-examples td:first-child {
    font-family: monospace;
}
.element-examples tfoot td:first-child {
    font-family: inherit;
}

.assortedContent-theme-basic th,
.assortedContent-theme-basic tfoot td {
    color: white;
    background-color: #426088;
}


