a:hover {
    background-color: #D2E0E6 ;
}
.instructions-container {
    margin-top: 3rem;
}

.assortedContent-theme-basic header {
   text-shadow: 4px 3px 4px #426088;
}
.overflow-test {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    border: 1px;
    border-style: solid;
    width: 30rem;
    padding: 1rem;
    margin: 2rem auto 0;
    cursor: pointer;
    transition: width 1s;
    background: linear-gradient(to bottom right, #426088, rgba(255,255,255,0));
}
.overflow-test:hover {
    width: 35rem;
    white-space: normal;
    background: linear-gradient(to top right, #426088, rgba(255,255,255,0));
}
main {
    padding: 1rem 1rem 3rem;
}
.assortedContent-theme-basic main {
    background-color: #ffffff;
}

table, form {
    width: 90%;
    margin: 0 auto;
}
.intro {
    width: 75%;
    padding: 0.5rem;
    box-shadow: 1px 1px 3px #292929;
    border-radius: 0.5rem;
}

/* form styling */
fieldset {
    padding: 1rem;
    margin-top: 2rem;
}
textarea {
    width: 40rem;
    height: 5rem;
    padding: 0.3rem;
    resize: vertical;
}
input[type="submit"] {
    float: right;
    margin-top: 1rem;
}
.radio-buttons ul {
    list-style-type: none;
}
.radio-buttons li {
    padding-top: 0.2rem;
}
.select-text-input code {
    float: right;
}
.text-area textarea {
    display: block;
    margin-bottom: 1rem;
}
.text-area button {
    width: 10rem;
    height: 2rem;
    background-image: url("http://wiki.fluidproject.org/download/attachments/24939866/INFUSION_orange_graphic.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.disabled-inputs ul {
    list-style: none;
    padding-left: 0;
}
.disabled-inputs li {
    margin-bottom: 1rem;
}
.disabled-inputs #test-input-submit-disabled {
    float: none;
}

/* figure styling */
.test-figure {
    width: 30rem;
}
.test-figure img {
    width: inherit;
}
.test-figure figcaption {
    text-align: center;
}

.assortedContent-theme-basic {
    background-color: #426088;
    background-image: url("../images/bg-grad.png");
    background-position: left top;
    background-repeat: repeat-x;
}

.assortedContent-theme-basic .assortedContent-content {
    background-color: white;
    margin-top: 50px;
    padding: 10px;
}

.assortedContent-theme-basic .assortedContent-header,
.assortedContent-theme-basic .assortedContent-footer {
    border: solid 1px #426088;
    padding: 15px;
}

.assortedContent-theme-basic .assortedContent-header h1 {
    font-size:2em;
}
.assortedContent-theme-basic .assortedContent-breaking {
    background-color: red;
    padding: 5px;
    margin: 5px;
}

.assortedContent-theme-basic .assortedContent-header .assortedContent-tagline {
    font-size:1.5em;
    font-style: italic;
}
.assortedContent-theme-basic .assortedContent-breaking h1 {
    font-style: italic;
}

/* table styling */
caption {
    padding: 0.3rem;
    border: 1px;
    border-style: solid;
    border-radius: 2rem 2rem 0 0;
}
th {
    padding: 0.3rem;
}
td {
    border: 1px solid #cccccc;
    padding: 0.5rem;
}
td:first-child {
    width: 12rem;
}
.element-examples td:first-child {
    font-family: monospace;
}
.element-examples tfoot td:first-child {
    font-family: inherit;
}
.assortedContent-theme-basic caption {
    border-color: #426088;
}
.assortedContent-theme-basic th,
.assortedContent-theme-basic tfoot td {
    color: white;
    background-color: #426088;
}
