/*
	CSS: Internet Explorer 5.x
	Project: Sakai Foundation
	Developer: Deyan Todorov
	E-mail: office@websitebg.info
*/
input {
	height: 25px;
}
.add-widget-right {
	width: 540px;
}
.add-widget-menu ul li a {
	width: 203px;
}
.create-site-build-course-up .scu-right {
	margin-left: 125px;
}
.add-tools-left a {
	width: 145px;
}
.ssg-table td input.ssg-site-id {
	width: 114px;
	height: 41px;
}
.stj-search input {
	width:505px;
	height:28px;
}