.overview {
    margin: 0 2em 2em 2em;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel {
    width: auto;
    min-width: 25em;
}

.fl-prefsEditor-onoff {
    margin: 1em 0;
}

.mpe-increasing {
    width: 30em;
}

.mpe-speakIncrease {
    width: 60em;
}

.mpe-slider {
    padding: 1.5em 0;
}
.fl-prefsEditor .mpe-slider .fl-slider {
    margin-top: 1em;
}

.mpe-increasing-magPos {
    float: right;
}

.mpe-speakIncrease ul.fl-inputs {
    border: 1px solid gray;
    padding: 0 1em 2em 1em;
    display: inline-block;
    width: 25em;
}
