.overview {
    margin: 0 2em 2em 2em;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel {
    width: auto;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel .fl-inputs {
    margin: 0.2rem;
    padding: 0.2rem;
}

.fl-prefsEditor-onoff {
    margin: 1em 0;
}

.mpe-slider {
    padding: 1.5em 0;
}

.mpe-radioRow {
    padding-top: 0.5rem;
}

.mpe-radioRow label {
    display: inline;
}

.fl-prefsEditor .mpe-slider .fl-slider {
    margin-top: 1em;
}

.mpe-increasing-magPos {
    float: right;
    padding-left: 1rem;
}

.mpe-speakIncrease .mpe-panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mpe-speakIncrease ul.fl-inputs {
    border: 1px solid gray;
    padding: 0 1em 2em 1em;
    width: 25em;
}
