body {
    font-family: verdana, arial, sans-serif;
    margin: 1em;
}

table {
    border: 1px solid #555;
    border-collapse: collapse;
    font-size: 1em;
}

td,
th {
    padding: 3px 5px;
}

th {
    background-color: #666;
    border-left: 1px solid white;
    color: white;
    font-weight: bold;
    text-align: left;
}

tr {
    border-bottom: 1px solid #bbb;
}

td {
    border-left: 1px solid #bbb;
    vertical-align: top;
}

tr:last-child {
    border-bottom: none;
}

td:first-child,
th:first-child,
thead th:first-child {
    border-left: none;
}

.odd-row td {
    background-color: #eee;
}

td > span {
    border: 1px solid white;
    display: block;
    padding: 3px 5px 2px 5px;
}

.info {
    background-color: #ddd;
}

.render-button {
    text-align: center;
}

.menu-group {
    float: left;
    margin: 0 2%;
    width: 45%;
}

.model-dump {
    border: solid 1px;
    font-family: monospace;
    font-size: 18px;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
}
