/*
   High Contrast Inverted (white on black)
=============================================
 * Color Scheme:
 *     white: #ffffff
 *     black: #000000
 */
 
/* 
 * General Styling
 */
  
.fl-theme-hci {color:#fff; background-color:#000;}

/* Divs, inputs */
.fl-theme-hci div, .fl-theme-hci input {color:#fff; background-color:#000; border-color:#fff}

/* iframes */
.fl-theme-hci iframe {border-color:#fff;}

/* Links */
.fl-theme-hci a  {color: #ffffff; font-weight:bold; background-color:#000000;}

/* Headers */
.fl-theme-hci h1,
.fl-theme-hci h2,
.fl-theme-hci h3,
.fl-theme-hci h4,
.fl-theme-hci h5,
.fl-theme-hci h6 {color:#ffffff; background-color:#000000; border-color:#ffffff;}

/* Tables */
.fl-theme-hci th {border:0.1em solid #ffffff; background-color:#ffffff; color:#000000;}
.fl-theme-hci td {border:0.1em solid #ffffff;}

/* 
 * FSS Elements
 */
 
/* Focus */
.fl-theme-hci .fl-focus:focus,
.fl-theme-hci .fl-focus :focus,
.fl-theme-hci.fl-focus :focus,
.fl-theme-hci .selectable  {outline: 0.2em solid #F00;}
 
.fl-theme-hci .fl-knockout {background:transparent !important; color:#ffffff;} /* Deprecated: use .fl-noBackgroundImages */

/* Icons */
.fl-theme-hci .fl-icon {background-color:#000000;}

/* Tabs */
.fl-theme-hci .fl-tabs {border-bottom-color:#ffffff;}
.fl-theme-hci .fl-tabs li,
.fl-theme-hci .fl-tabs li *  {border-color:#ffffff; border-bottom-color:#ffffff; }
.fl-theme-hci .fl-tabs li    {background-color:#ffffff;}
.fl-theme-hci .fl-tabs li *  {color:#000000; font-weight:bold; background-color:#ffffff;text-decoration:none;}

.fl-theme-hci .fl-tabs li:hover,
.fl-theme-hci .fl-tabs li:hover *,
.fl-theme-hci .fl-tabs li a:hover {color:#ffffff; background-color:#000000;}

.fl-theme-hci .fl-tabs li.fl-tabs-active,
.fl-theme-hci .fl-tabs li.fl-tabs-active a,
.fl-theme-hci .fl-tabs li.fl-tabs-active a:hover, 

.fl-theme-hci .fl-tabs li.fl-activeTab,
.fl-theme-hci .fl-tabs li.fl-activeTab:hover,
.fl-theme-hci .fl-tabs li.fl-activeTab a,
.fl-theme-hci .fl-tabs li.fl-activeTab a:hover {background-color: #000000; border-bottom-color:#000000; color:#ffffff;}
.fl-theme-hci .fl-tab-content {background-color:#000000; border:1px solid #fff; border-top:none; color:#ffffff;}

/* Menu */
.fl-theme-hci .fl-listmenu, 
.fl-theme-hci .fl-list-menu {border:1px solid #ffffff; border-bottom-width:2px; background-color:#000000;}
.fl-theme-hci .fl-listmenu li, 
.fl-theme-hci .fl-list-menu li,
.fl-theme-hci .fl-listmenu li a, 
.fl-theme-hci .fl-list-menu li a  {font-weight:bold; color:#ffffff; background-color:#000000; border-color:#ffffff; text-decoration:none;}
.fl-theme-hci .fl-listmenu a:hover, 
.fl-theme-hci .fl-list-menu a:hover {background-color:#ffffff; color:#000000;}
.fl-theme-hci .fl-listmenu .fl-activemenu a, 
.fl-theme-hci .fl-list-menu .fl-activemenu a,
.fl-theme-hci .fl-listmenu .fl-activemenu a:hover, 
.fl-theme-hci .fl-list-menu .fl-activemenu a:hover { background-color: #ffffff; border-bottom-color:#000000; color: #000000;}

/* Buttons */
.fl-theme-hci .fl-button-left,
.fl-theme-hci .fl-button-right {color:#ffffff; background-color:#000000;}
.fl-theme-hci .fl-button-left,
.fl-theme-hci .fl-button-right {background-image:url('../images/themes/hci/buttons-med-cap.png');}
.fl-theme-hci .fl-button-inner {background-image:url('../images/themes/hci/buttons-med-bg.png');}

/* Widgets */
.fl-theme-hci .fl-widget {background-color:#ffffff; border:1px solid #000000;}
.fl-theme-hci .fl-widget h2 {color:#ffffff0; background-color:#00000;}
.fl-theme-hci .fl-widget a {color:#ffffff;}
.fl-theme-hci .fl-widget .fl-icon-more  {background-image:url('../images/themes/hci/icon-widget-More.png'); margin-left:0px;}
.fl-theme-hci .fl-widget .fl-icon-close {background-image:url('../images/themes/hci/icon-widget-Close.png'); margin-right:0px;}
        
/* Widget titlebar */
.fl-theme-hci .fl-widget .fl-widget-titlebar {margin-bottom:3px;}
.fl-theme-hci .fl-grabbable .fl-widget-titlebar {background-image:url('../images/themes/hci/icon-widget-gripper.png');}
.fl-theme-hci .fl-grabbable .fl-widget-titlebar h2 {display:inline;}
.fl-theme-hci .fl-widget-titlebar .icon {background-position:center center;}
.fl-theme-hci .fl-widget-titlebar .fl-button-right,
.fl-theme-hci .fl-widget-titlebar .fl-button-left {
    color:#fff;
    background-image:url('../images/themes/hci/buttons-titlebar-cap.png');
    text-decoration:none;
}
.fl-theme-hci .fl-widget-titlebar .fl-button-inner {
    background-image:url(../images/themes/hci/buttons-titlebar-bg.png);
}

/* Widget options */
.fl-theme-hci .fl-widget .fl-widget-options {padding:0px;}
.fl-theme-hci .fl-widget .fl-widget-options li {border-left:1px solid #000000;}
    
/* Widget content */
.fl-theme-hci .fl-widget .fl-widget-content {background-color:#000000;}

/* 
 * Infusion Components
 */

/* Progress */
.fl-theme-hci .fl-progress-bounds {border-color:#ffffff; background-color:#000000;}
.fl-theme-hci .fl-progress-fill {color:#000000; background-color:#ffffff;}

/* Reorderer */
.fl-theme-hci .fl-reorderer-dropMarker {background-color:#f00;}

/* Inline Edit */
.fl-theme-hci .fl-inlineEdit-edit {background-color:#ffffff; color:#000000; border: 0.1em solid #000000; padding:0.1em; margin:-0.1em;}
