body {
    font-family: "Helvetica", sans-serif;
    background:#C5CCD3 url(../images/themes/iphone/stripes.png) repeat scroll left top;
    margin:0;
    padding:0;
}
.fl-text-bevel {
    text-shadow: 0px -1px 0px #000000;
}
.fl-tabs li {
	border-bottom: 0px;
}
/* Navigation Bar */
.fl-navbar {
    /* glossy blue gradient */   
    border:1px solid #cdd5df;
    border-bottom-color:#000;
    background: -webkit-gradient(linear, left top, left bottom, from(#6D84A2), to(#6D84A2), color-stop(0.0, #B0BCCD), color-stop(0.5, #889BB3), color-stop(0.50, #6D84A2));
    -webkit-background-origin: padding-box; 
    -webkit-background-clip: content-box; 
}
.fl-navbar h1 {
    text-align:center;
    color:#fff;
    margin:0;
    padding:0;    
    font-size:1.75em;
}

.fl-navbar .fl-button-left {background-image:url(../images/themes/iphone/);}
.fl-navbar .fl-button-left .fl-button-inner {background-image:url(../images/themes/iphone/);}
.fl-navbar .fl-button-right {background-image:url(../images/themes/iphone/);}
.fl-navbar .fl-button-right .fl-button-inner {background-image:url(../images/themes/iphone/);}