/***************************************/
/* general styles */
html {
    background: -webkit-gradient(linear, left top, right top, 
        from(#c5ccd3), 
        to(#cfd5dd), 
        color-stop(0.80, #c5ccd3),
        color-stop(0.80, #cfd5dd));
    -webkit-background-origin: padding-box; 
    -webkit-background-clip: content-box;
    -webkit-background-size: 10px 100px;
}
body.fl-theme-iPhone {
    font:normal 17px Helvetica, sans-serif;
    margin:0;
    padding:0;
    overflow:hidden;/* for transitions without scrollbars */
}

h1 {}
h2 {color:#4C566C; margin:0; padding:3px 0;}
h3 {}
h4 {}
h5 {}
h6 {}
img {border:none;}

.fl-theme-iPhone .fl-bevel-black {
    text-shadow: rgba(0,0,0,0.75) 0px -1px 1px;
}
.fl-theme-iPhone .fl-bevel-white {
    text-shadow: rgba(255,255,255,1) 0px 1px 0px;
}

.fl-theme-iPhone .fl-icon {
    width:30px;
    height:30px;
    margin-top:-5px;
    -webkit-border-radius: 5px;
}

/***************************************/
/* Navigation Bar */
body.fl-theme-iPhone::before, .fl-theme-iPhone .fl-navbar {
    height:42px;
    border-top:1px solid #ccd6e2;
    border-bottom:1px solid #273750;
    border-bottom-color:#000;
    background: -webkit-gradient(linear, left top, left bottom, 
        from(#B0BCCD), 
        to(#6D84A2), 
        color-stop(0.5, #889BB3), 
        color-stop(0.50, #6D84A2));
    margin-bottom:12px;
    -webkit-background-origin: padding-box; 
    -webkit-background-clip: content-box;
    color:#fff;
    text-shadow: rgba(0,0,0,0.75) 0px -1px 1px;
}
/* persistent navbar bg for navbar fade in/out fx */
body.fl-theme-iPhone::before {
    content:" ";
    position:absolute;
    z-index:1;
    width:100%;
    text-align:center;
}
.fl-theme-iPhone .fl-navbar { 
    display:table;
    width:100%;
    border-collapse:collapse;
    border:none;
}
.fl-theme-iPhone .fl-navbar h1 {
    text-align:center;
    color:#fff;
    margin:0;
    padding:0;   
    font-size:20px;
    font-weight: bold;
    /* for dynamic vertical alignment */
    display:table-cell;
    vertical-align:middle;
}

.fl-theme-iPhone .fl-navbar a {
	color: #fff;
	text-decoration:none;
	font-size: 12px;
    margin-top:5px;
}
/* iPhone Buttons */
/* navbar buttons taken out of flow to avoid influencing header text centering */
.fl-theme-iPhone .fl-navbar .fl-button-left, 
.fl-theme-iPhone .fl-navbar .fl-button-right {
    position:absolute; 
}
.fl-theme-iPhone .fl-navbar .fl-button-left {
    left:0;
	background-image:url(../images/themes/iphone/nav_back_cap.png);
}
.fl-theme-iPhone .fl-navbar .fl-button-right {
    right:0;
	background-image:url(../images/themes/iphone/nav_button_cap.png);
}
.fl-theme-iPhone .fl-navbar .fl-button-inner {
    padding:9px 16px 9px 0px;
    background-image:url(../images/themes/iphone/nav_button_stretcher.png);
    font-weight:bold;
}
/* iPhone gel buttons */
.fl-button {
    border:transparent;
    border-width: 10px;
    -webkit-border-image: url(../images/themes/iphone/button_bg_insetShadow.png) 10 stretch;
    -webkit-border-radius:10px;
    -webkit-background-origin: border; 
    -webkit-background-clip: border; 
    text-decoration:none;
    font-weight:bold;    
}
.fl-button.fl-bevel-white {
    color:#333333;
}
.fl-button.fl-bevel-black{
    color:#FFFFFF;
}
.fl-button-white {    
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(240,240,240,0.25)), 
        to(rgba(220,220,220,0.75)),
        color-stop(0.5, rgba(240,240,240,1)),
        color-stop(0.50, rgba(200,200,200,0.8))
    );
}
.fl-button-black { 
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(106,106,106,0.25)), 
        to(rgba(00,00,00,0.75)),
        color-stop(0.5, rgba(130,130,130,1)),
        color-stop(0.50, rgba(75,75,75,0.8))
    );
}
.fl-button-green {    
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(120,190,130,0.2)),
        to(rgba(50,170,60,0.75)),
        color-stop(0.5, rgba(120,190,130,1)),
        color-stop(0.50, rgba(0,150,10,0.8))
    );
}
.fl-button-blue {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(149, 184, 239,0.2)), 
        to(rgba(35,109,229,0.75)),
        color-stop(0.5, rgba(149, 184, 239,1)),
        color-stop(0.50, rgba(75,148,244,0.8))
    );
}

/***************************************/
/* iPhone list menu styles: Ordered lists, Unordererd lists, Thumbnail lists, Icon lists, Definition lists */
/* General rules */

.fl-theme-iPhone .fl-listmenu {
	border: none;
	margin: 0 10px 10px;
}

.fl-theme-iPhone .fl-listmenu > li { 
	background-color: #fff;
    padding:0;
    margin: 0 0 -1px 0;
	border: 0px;
	border: 1px solid rgb(169,173,176);
    -webkit-background-size: 50px 50px;
}
.fl-theme-iPhone .fl-listmenu > :first-child {
    -webkit-background-clip:padding;
    -webkit-background-origin:border;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
.fl-theme-iPhone .fl-listmenu > :last-child {
    -webkit-background-clip:padding;
    -webkit-background-origin:border;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

/* List link specific rules */
.fl-theme-iPhone .fl-listmenu a {
    -webkit-tap-highlight-color: -webkit-gradient(linear, left top, left bottom, from(#4a94f4), to(#236de5));
    padding:12px 0 12px 12px;
    font-weight:bold;
    outline:none;
}
.fl-theme-iPhone .fl-listmenu a:link, .fl-theme-iPhone .fl-listmenu a:visited {
	color: black;
	text-decoration: none;
    background:url(../images/themes/iphone/listmenu_arrow.png) no-repeat right 5px;
}
.fl-theme-iPhone .fl-listmenu a:active {
	color: #fff;
    background: url(../images/themes/iphone/listmenu_arrow.png) no-repeat right -25px,
                -webkit-gradient(linear, left top, left bottom, from(#4a94f4), to(#236de5));
}
.fl-theme-iPhone .fl-listmenu a:active * {
    color: #fff !important;
}
.fl-theme-iPhone .fl-listmenu a.fl-link-loading {
	color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#4a94f4), to(#236de5));
}
.fl-theme-iPhone .fl-listmenu a.fl-link-loading .fl-link-summary{
    color: #fff;
}
.fl-theme-iPhone .fl-listmenu a.fl-link-loading .fl-link-secondary{
    display:none;
}

.fl-theme-iPhone .fl-listmenu a.fl-link-loading::before {
    width:16px;
    height:16px;
    float:right;
    margin-right:5px;
    content:" ";
    
    /* Webkit bug 23209: CSS Generated content disregards CSS animations/transitions.
    Therefore, since webkit doesnt yet support APNG's we need to use an animated GIF (!) instead of a static png until this is fixed. 
    Forcing more markup into the mix just for this effect is not an option */
    background: url(../images/themes/iphone/listmenu_loader.gif) no-repeat center center;
}

.fl-theme-iPhone .fl-listmenu > :first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
.fl-theme-iPhone .fl-listmenu > :last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
.fl-theme-iPhone .fl-listmenu a .fl-link-secondary {
    color: rgb(50, 79, 133);
    float:right;
    font-weight:normal;
    font-size:.9em;
    margin-right:25px;
}
.fl-theme-iPhone .fl-listmenu a .fl-link-summary {
    display:block;
    color:#999;
    font-weight:normal;
    font-size:0.85em;
    height:1.1em;
    margin-right:25px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

/* Definition list rules */
.fl-theme-iPhone .fl-listmenu > dd {
    font-size:0.8em;
    color:#999;
}

/* List icon and Thunbail list rules */
.fl-theme-iPhone .fl-listmenu .fl-icon {
    float:left;
    margin-left:-6px;
}

.fl-theme-iPhone .fl-listmenu.fl-thumbnail > li {
    margin-top:5px;
    margin-bottom:5px;
    -webkit-border-radius:8px;
}

.fl-theme-iPhone .fl-listmenu.fl-thumbnail .fl-icon {
    width:44px;
    height:44px;
    margin-left:0;
    -webkit-border-radius:0;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
}
.fl-theme-iPhone .fl-listmenu.fl-thumbnail a {
    padding:5px 0 4px;
    -webkit-border-radius:8px;
}

/***************************************/
/* instructional text (usually embossed too)*/
.fl-theme-iPhone .fl-note {
    color:#4C566C;
    text-align:center;
}



/***************************************/
/* Content Views */
.fl-theme-iPhone .fl-view {
    position:absolute;
    width:100%;
    z-index:100;
}
.fl-theme-iPhone .fl-offScreen-right {
    left:100%; 
}
.fl-theme-iPhone .fl-offScreen-left {
    left:-100%; 
}

/***************************************/
/* Transition Library */

.fl-theme-iPhone .fl-transition-slide {
    -webkit-transition: left 0.75s ease-in-out;
}
.fl-theme-iPhone .fl-transition-slide-right-out {
    left: 100%;
}
.fl-theme-iPhone .fl-transition-slide-right-in {
    left: 0%;
}
.fl-theme-iPhone .fl-transition-slide-left-out {
    left: -100%;
}
.fl-theme-iPhone .fl-transition-slide-left-in {
    left: 0%;
}
.fl-theme-iPhone .fl-transition-fade {
    -webkit-transition: opacity 0.75s linear;
}
.fl-theme-iPhone .fl-transition-fade-in {
    opacity:1;
}
.fl-transition-fade-out {
    opacity:0;
}
.fl-theme-iPhone .fl-transition-grow {
    -webkit-transition: height 0.75s ease-out;
    overflow:hidden;
}
.fl-theme-iPhone .fl-transition-grow-collapsed {
    height:0px;
}

/***************************************/
/* Animation Library */
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }
    to {
        opacity: 0;        
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    to {
        opacity: 1;        
    }
}
@-webkit-keyframes loading_spinner {
    from {
        -webkit-transform: rotate(0deg);
        -webkit-animation-timing-function: linear
    }
    to {
        -webkit-transform: rotate(360deg);
        -webkit-animation-timing-function: linear
    }
}

.fl-theme-iPhone .fl-animation-fade-out {
    -webkit-animation-name: fadeOut;
    -webkit-animation-duration: .75s;
    -webkit-animation-iteration-count: 1;
} 
.fl-theme-iPhone .fl-animation-fade-in {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
} 
.fl-theme-iPhone .fl-listmenu a.fl-link-loading::before {
    -webkit-animation-name: loading_spinner;
    -webkit-animation-duration: .75s;
    -webkit-animation-iteration-count: infinite;
}