/***************************************/
/* general styles */
:root {
    background: -webkit-gradient(linear, left top, right top, 
        from(#c5ccd3), 
        to(#cfd5dd), 
        color-stop(0.80, #c5ccd3),
        color-stop(0.80, #cfd5dd));
    -webkit-background-origin: padding-box; 
    -webkit-background-clip: content-box;
    -webkit-background-size: 10px 1px;
}
body {
	overflow:hidden;
    font:normal 17px Helvetica, sans-serif; /* Base font rules */
    margin:0;
    padding:0;
}

h1 {font-size:1.2em; margin:0;}
h2 {font-size:1.15em; margin:0;}
h3 {font-size:1.1em; margin:0;}
h4 {}
h5 {}
h6 {}
img {border:none;}

.fl-bevel-black {
    text-shadow: rgba(0,0,0,0.75) 0px -1px 0px;
}
.fl-bevel-white {
    text-shadow: rgba(255,255,255,1) 0px 1px 0px;
}
.fl-icon {
    width:30px;
    height:30px;
    margin-top:-5px;
    -webkit-border-radius: 5px;
}

/***************************************/
/* Navigation Bar */
body::before, .fl-navbar {
    width:100%;
    height:45px;
}
/* persistent, fixed navbar bg */
body::before {
    content:" ";
    position:absolute;
    z-index:1;    
    border-top:1px solid #ccd6e2;
    border-bottom:1px solid #273750;
    border-bottom-color:#000;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#B0BCCD),
        color-stop(0.5, #889BB3), 
        color-stop(0.50, #6D84A2),
        to(#6D84A2)
    );
    -webkit-background-origin: padding-box; 
    -webkit-background-clip: content-box;    
}
.fl-navbar {     
    color:#fff;
    text-shadow: rgba(0,0,0,0.75) 0px -1px 0px;
    margin-bottom:12px;
}
.fl-navbar .fl-table-cell:first-child {
    margin-left:5px;
}
.fl-navbar .fl-table-cell:last-child {
    margin-right:5px;
}
.fl-navbar h1 {
    text-align:center;
    color:#fff;
    margin:0 auto;
    padding:0;   
    font-size:1.17em;
    font-weight: bold;
}
.fl-navbar a {
	color: #fff;
	text-decoration:none;
	font-size: 0.7em;
    font-weight:bold;
    margin-top:5px;
}
.fl-navbar .fl-button {
    padding:0;
    -webkit-border-radius:5px;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#9aafca), 
        color-stop(0.5, #6d8cb3),
        color-stop(0.50, #4b6b90),
        to(#4b6b90)
    );
}
.fl-navbar .fl-button-left {
    left:5px;
}
.fl-navbar .fl-button-right {
    right:5px;
}
.fl-navbar .fl-backButton {
    /* 
     * To create the oddly shaped back button with fully customizable CSS colors, there are 2 main things:
     * 1) The stencil for the shadow and hilights along the angled edge
     * 2) The mask to crop the background along the angled edge
     */
    
    /* Angled effect is just a single border with a transaprent stencil image */
    border-width:0 0 0 15px;
    -webkit-border-image: url(../images/themes/iphone/navbar_back_button_insetShadow.png) 0 15 stretch; 
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    /* Angled effect is cropped using a CSS Mask */
    -webkit-background-origin: border; 
    -webkit-background-clip: border; 
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-box-image: url(../images/themes/iphone/backbutton_mask.png) 0 15 stretch;
    -webkit-mask-origin: border; 
    -webkit-mask-clip: border; 
}
.fl-navbar .fl-backButton .fl-button-inner {
    border-left-width:0;
    margin-left:-3px; /* Mobile Safari (but not Desktop Safari) showed a tiny gap - this closes it*/
}
.fl-navbar .fl-button-inner {
    padding:5px;
    border-width:5px;
    -webkit-background-origin: border; 
    -webkit-background-clip: border; 
    -webkit-border-image: url(../images/themes/iphone/navbar_normal_button_insetShadow.png) 5 5 5 5 stretch;   
}

/***************************************/
/* iPhone general purpose gel buttons */
.fl-container-auto .fl-button {
    border:transparent;
    border-width: 10px;
    -webkit-border-image: url(../images/themes/iphone/button_bg_insetShadow.png) 10 stretch;
    -webkit-border-radius:10px;
    -webkit-background-origin: border; 
    -webkit-background-clip: border; 
    text-decoration:none;
    font-weight:bold;    
}
.fl-button.fl-bevel-white {
    color:#333333;
}
.fl-button.fl-bevel-black{
    color:#FFFFFF;
}
.fl-button-white {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(240,240,240,0.25)), 
        to(rgba(220,220,220,0.75)),
        color-stop(0.5, rgba(240,240,240,1)),
        color-stop(0.50, rgba(200,200,200,0.8))
    );
}
.fl-button-black { 
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(106,106,106,0.25)), 
        to(rgba(00,00,00,0.75)),
        color-stop(0.5, rgba(130,130,130,1)),
        color-stop(0.50, rgba(75,75,75,0.8))
    );
}
.fl-button-green {    
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(120,190,130,0.2)),
        to(rgba(50,170,60,0.75)),
        color-stop(0.5, rgba(120,190,130,1)),
        color-stop(0.50, rgba(0,150,10,0.8))
    );
}
.fl-button-blue {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(149, 184, 239,0.2)), 
        to(rgba(35,109,229,0.75)),
        color-stop(0.5, rgba(149, 184, 239,1)),
        color-stop(0.50, rgba(75,148,244,0.8))
    );
}
/***************************************/
/* iPhone tabs 1: small general purpose content dividers */
.fl-tabs {
    margin:0;
    padding:0;
    border:none;
    text-align:center;
}
.fl-tabs li:not(:last-child) a {
   margin-right:-5px;
}
.fl-tabs li a {
	color:#fff;
    margin:0;
    display:inline-block;
    -webkit-background-origin: border; 
    -webkit-background-clip: border;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#9aafca),
        color-stop(0.5, #6d8cb3),
        color-stop(0.50, #4b6b90),
        to(#4b6b90)
    );
    border-width:5px;
    -webkit-border-image: url(../images/themes/iphone/navbar_normal_button_insetShadow.png) 5 5 5 5 stretch;
}
.fl-tabs li a {
    border-left-width:1px;
    border-right-width:0px;
}
.fl-tabs li:first-child a {
    border-left-width:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
}
.fl-tabs li:last-child a {
    border-right-width:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
}
.fl-tabs li.fl-tabs-active a {
    padding:0.25em 1.25em 0.2em;
}

/* iPhone tabs 2: common concept of tabs with fixed region identifying different functions */
/* 
 * Position:fixed has no meaning in the iPhone, rendering this approach useless
 * http://doctyper.com/archives/200808/fixed-positioning-on-mobile-safari/
 */
/*
.fl-tabs-fixed {
    position:fixed;
    bottom:0;
    width:100%;
    color:#fff;    
    font-size:.85em;
    padding:3px;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(80,80,80,1)), 
        to(rgba(0,0,0,1)),
        color-stop(0.5, rgba(30,30,30,1)),
        color-stop(0.50, rgba(0,0,0,1))
    );
    z-index:10000;
}
*/

/*************************************************/
/* iPhone list menu styles: Ordered lists, Unordererd lists, Thumbnail lists, Icon lists, Definition lists */
/*************************************************/
/* Default listmenu system setup */
[class*=fl-listmenu] {
	border: none;
	margin: 0 10px 10px;	
}
[class*=fl-listmenu] > li {	
    padding:0;
	margin:0;
	border:none;
    -webkit-background-size: 50px 50px;
}
[class*=fl-listmenu] > li:first-child,
[class*=fl-listmenu] > li:last-child {
    -webkit-background-clip:padding;
    -webkit-background-origin:border;
}
[class*=fl-listmenu] > li a {
    -webkit-tap-highlight-color: -webkit-gradient(linear, left top, left bottom, from(#4a94f4), to(#236de5));
    background:#fff url(../images/themes/iphone/listmenu_arrow.png) no-repeat right 5px;
	display:block;	
	color: #000;
	text-decoration: none;
	font-weight: bold;
	outline: none;
	padding: 12px 0px 12px 12px;
	border: 1px solid rgb(169,173,176);
	border-width:1px 1px 0 1px;
}
[class*=fl-listmenu] > li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
[class*=fl-listmenu] > li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
	border-bottom-width:1px;
}
[class*=fl-listmenu] a:active {
	color: #fff;
    background: url(../images/themes/iphone/listmenu_arrow.png) no-repeat right -25px,
                -webkit-gradient(linear, left top, left bottom, from(#4a94f4), to(#236de5));
}
[class*=fl-listmenu] .fl-link-loading {
    color: #fff !important;
    background: url(../images/themes/iphone/listmenu_loader.gif) no-repeat 97% center,
		        -webkit-gradient(linear, left top, left bottom, from(#4a94f4), to(#236de5));
}
[class*=fl-listmenu] a:active,
[class*=fl-listmenu] a:active .fl-link-secondary,
[class*=fl-listmenu] a:active .fl-link-summary,
[class*=fl-listmenu] .fl-link-loading * {
    color: #fff !important;
}
[class*=fl-listmenu] .fl-link-loading .fl-link-secondary{
    display:none;
}

/* secondary link info behaviour */
[class*=fl-listmenu] > li .fl-link-secondary {
    color: rgb(50, 79, 133);
    float:right;
    font-weight:normal;
    font-size:.9em;
    margin-right:25px;
}

 /* summary link info ehaviour */ 
[class*=fl-listmenu] > li a .fl-link-summary {
    display:block;
    color:#999;
    font-weight:normal;
    font-size:0.80em;
	line-height:0.9em;
    margin:0 25px 0 30px; /* default size of fl-icon */
}
/* icon behaviour */
[class*=fl-listmenu] > li a > .fl-icon {
    float:left;
    margin-left:-6px;
}


/*************************************************/
/* Brief lists that auto trim content + ellipsis (w/ optional thumbnail) */
.fl-listmenu-brief > li {
	margin-bottom:10px;
    -webkit-border-radius:8px;
}
.fl-listmenu-brief > li a {
	-webkit-border-radius:8px;
	padding:5px 0;
	border-bottom-width:1px;
}
.fl-listmenu-brief > li a > .fl-link-summary {
    height:1.1em;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.fl-listmenu-brief > li a > .fl-icon {
    width:44px;
    height:44px;
    margin-left:0;
    -webkit-border-radius:0;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
}


/*************************************************/
/* Thumbnail lists */
.fl-listmenu-thumbnails {	
}
.fl-listmenu-thumbnails > li {
    margin-bottom:10px;
    -webkit-border-radius:8px;
}
.fl-listmenu-thumbnails > li a {
}
/* summary behaviour */
.fl-listmenu-thumbnails > li a .fl-link-summary {
	white-space:normal;
	height:auto;
	margin:0 25px 0 50px;
}
/* icon behaviour */
.fl-listmenu-thumbnails > li a > .fl-icon {
    width:44px;
    height:44px;
    margin:0 5px 0 0;
    -webkit-border-radius:0;
}

/***************************************/
/* instructional text (usually embossed too)*/
.fl-note {
    color:#4C566C;
}

/****************************/
/* Collapsing and expanding panels */
.fl-collapsingPanel {
	-webkit-border-radius:8px;	
}
.fl-collapsingPanel > *:first-child {
	color:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#000));
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}
.fl-collapsingPanel > *:last-child {
	-webkit-border-radius:0;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
}
.fl-collapsingPanel > [class*=fl-listmenu] > li:first-child a {
	-webkit-border-radius:0;
}
