/***************************************/
/* general styles */
:root {
    background: -webkit-gradient(linear, left top, right top, 
        from(#c5ccd3), 
        to(#cfd5dd), 
        color-stop(0.80, #c5ccd3),
        color-stop(0.80, #cfd5dd));
}

.fl-bevel-black {
    text-shadow: rgba(0,0,0,0.75) 0px -1px 0px;
}
.fl-bevel-white {
    text-shadow: rgba(255,255,255,1) 0px 1px 0px;
}

a {
   -webkit-touch-callout:none; /* prevents iphone popup menu to copy / follow / bookmark a particular link */
    -webkit-tap-highlight-color: rgba(255,0,0,1);
}
/***************************************/
/* Navigation Bar */

body::before {
    border-top-color:#ccd6e2;
    border-bottom-color:#000;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#B0BCCD),
        color-stop(0.5, #889BB3), 
        color-stop(0.50, #6D84A2),
        to(#6D84A2)
    );
}
.fl-navbar {     
    color:#fff;
    text-shadow: rgba(0,0,0,0.75) 0px -1px 0px;
}

.fl-navbar h1 {
    color:#fff;
}
.fl-navbar a {
	color: #fff;
}
.fl-navbar .fl-button {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#9aafca), 
        color-stop(0.5, #6d8cb3),
        color-stop(0.50, #4b6b90),
        to(#4b6b90)
    );
}

.fl-navbar .fl-backButton {
    /* See mobile layout for details */
    -webkit-border-image: url(../images/themes/iphone/navbar_back_button_insetShadow.png) 0 15 stretch; 
    -webkit-mask-box-image: url(../images/themes/iphone/backbutton_mask.png) 0 15 stretch;
}

.fl-navbar .fl-button-inner {
    -webkit-border-image: url(../images/themes/iphone/navbar_normal_button_insetShadow.png) 5 5 5 5 stretch;   
}

/***************************************/
/* iPhone general purpose gel buttons */
/* effect is applied anywhere but the navbar, which has its own button look */
.fl-navbar ~ * .fl-button,
.fl-navbar ~ .fl-button {
    -webkit-border-image: url(../images/themes/iphone/button_bg_insetShadow.png) 10 stretch;
}
.fl-button.fl-bevel-white {
    color:#333333;
}
.fl-button.fl-bevel-black{
    color:#FFFFFF;
}
.fl-button-white {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(240,240,240,0.25)), 
        to(rgba(220,220,220,0.75)),
        color-stop(0.5, rgba(240,240,240,1)),
        color-stop(0.50, rgba(200,200,200,0.8))
    );
}
.fl-button-black { 
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(106,106,106,0.25)), 
        to(rgba(00,00,00,0.75)),
        color-stop(0.5, rgba(130,130,130,1)),
        color-stop(0.50, rgba(75,75,75,0.8))
    );
}
.fl-button-green {    
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(120,190,130,0.2)),
        to(rgba(50,170,60,0.75)),
        color-stop(0.5, rgba(120,190,130,1)),
        color-stop(0.50, rgba(0,150,10,0.8))
    );
}
.fl-button-blue {
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(149, 184, 239,0.2)), 
        to(rgba(35,109,229,0.75)),
        color-stop(0.5, rgba(149, 184, 239,1)),
        color-stop(0.50, rgba(75,148,244,0.8))
    );
}
/***************************************/
/* iPhone tabs 1: small general purpose content dividers */
.fl-tabs li a {
	color:#fff;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(#9aafca),
        color-stop(0.5, #6d8cb3),
        color-stop(0.50, #4b6b90),
        to(#4b6b90)
    );
    -webkit-border-image: url(../images/themes/iphone/navbar_normal_button_insetShadow.png) 5 5 5 5 stretch;
}


/* iPhone tabs 2: common concept of tabs with fixed region identifying different functions */
/* 
 * Position:fixed has no meaning in the iPhone, rendering this approach useless
 * http://doctyper.com/archives/200808/fixed-positioning-on-mobile-safari/
 */
/*
.fl-tabs-fixed {
    position:fixed;
    bottom:0;
    width:100%;
    color:#fff;    
    font-size:.85em;
    padding:3px;
    background-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(80,80,80,1)), 
        to(rgba(0,0,0,1)),
        color-stop(0.5, rgba(30,30,30,1)),
        color-stop(0.50, rgba(0,0,0,1))
    );
    z-index:10000;
}
*/

/*************************************************/
/* iPhone list menu styles: Ordered lists, Unordererd lists, Thumbnail lists, Icon lists, Definition lists */
/*************************************************/
/* Default listmenu system setup */

[class*=fl-listmenu] > li a {
    -webkit-tap-highlight-color: -webkit-gradient(linear, left top, left bottom, from(#4a94f4), to(#236de5));
    background:#fff url(../images/themes/iphone/listmenu_arrow.png) no-repeat right 5px;
	color: #000;
	border-color: rgb(169,173,176);
}

[class*=fl-listmenu] a:active {
	color: #fff;
    background: url(../images/themes/iphone/listmenu_arrow.png) no-repeat right -25px,
                -webkit-gradient(linear, left top, left bottom, from(#4a94f4), to(#236de5));
}

[class*=fl-listmenu] .fl-link-loading {
    color: #fff !important;
    background: url(../images/themes/iphone/listmenu_loader.gif) no-repeat 97% center,
		        -webkit-gradient(linear, left top, left bottom, from(#4a94f4), to(#236de5));
}

[class*=fl-listmenu] a:active,
[class*=fl-listmenu] a:active .fl-link-secondary,
[class*=fl-listmenu] a:active .fl-link-summary,
[class*=fl-listmenu] .fl-link-loading * {
    color: #fff !important;
}

/* secondary link info behaviour */
[class*=fl-listmenu] > li .fl-link-secondary {
    color: rgb(50, 79, 133);
}

 /* summary link info ehaviour */ 
[class*=fl-listmenu] > li a .fl-link-summary {
    color:#999;
}

/***************************************/
/* instructional text (usually embossed too)*/
.fl-note {
    color:#4C566C;
}

/****************************/
/* Collapsing and expanding panels */
.fl-collapsingPanel > *:first-child {
	color:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#000));
}
