/***************************************/
/* general styles */
body {
    font:normal 17px Helvetica, sans-serif;
    background: -webkit-gradient(linear, left top, right top, 
        from(#c5ccd3), 
        to(#cfd5dd), 
        color-stop(0.80, #c5ccd3),
        color-stop(0.80, #cfd5dd)
    );
    -webkit-background-origin: padding-box; 
    -webkit-background-clip: content-box;
    -webkit-background-size: 10px 100px;
    margin:0;
    padding:0;
    overflow:hidden; /* for transitions without scrollbars */
}

.fl-text-bevel {
    text-shadow: rgba(0,0,0,0.75) 0px -1px 1px;
}
.fl-text-bevel-whiteText {
    color:#fff;
    text-shadow: rgba(0,0,0,0.75) 0px -1px 1px;
}
.fl-text-bevel-blackText {
    color:#333;
    text-shadow: rgba(255,255,255,0.75) 0px 1px 1px;
}
.fl-icon {
    width:30px;
    height:30px;
    margin-top:-5px;
    -webkit-border-radius: 5px;
}

/***************************************/
/* Navigation Bar */
.fl-navbar {
    height:42px;
    border-top:1px solid #ccd6e2;
    border-bottom:1px solid #273750;
    border-bottom-color:#000;
    background: -webkit-gradient(linear, left top, left bottom, from(#6D84A2), to(#6D84A2), color-stop(0.0, #B0BCCD), color-stop(0.5, #889BB3), color-stop(0.50, #6D84A2));
    margin-bottom:12px;
    -webkit-background-origin: padding-box; 
    -webkit-background-clip: content-box;
}
.fl-navbar h1 {
    text-align:center;
    color:#fff;
    margin: 5px 0px;
    padding-top:5;    
    font-size:20px;
    font-weight: normal;
}
.fl-navbar a {
	color: #fff;
	text-decoration:none;
	font-size: 12px;
    margin-top:5px;
}
.fl-navbar .fl-button-inner {
    padding:8px 16px 10px 0px;    
    background-image:url(../images/themes/iphone/nav_button_stretcher.png);
}
.fl-navbar .fl-button-left {
	background-image:url(../images/themes/iphone/nav_back_cap.png);
}
.fl-navbar .fl-button-right {
	background-image:url(../images/themes/iphone/nav_button_cap.png);
}

/***************************************/
/* list */
.fl-listmenu {
	background-color: #fff;
	border: 1px solid rgb(169,173,176);
	margin: 0 10px 10px;
	-webkit-border-radius: 8px;
}
.fl-listmenu li {
	border: 0px;
	border-top: 1px solid rgb(169,173,176);
    overflow:hidden;
}
.fl-listmenu li:first-child {
	border: 0px;
}
.fl-listmenu li a:link, .fl-listmenu li a:visited {
	color: black;
	text-decoration: none;
    background:url(../images/themes/iphone/listmenu_arrow.png) no-repeat right 5px;
}
.fl-listmenu li a:active {
	color: #fff;
    background: 
        url(../images/themes/iphone/listmenu_arrow.png) no-repeat right -25px,
        -webkit-gradient(linear, left top, left bottom, from(#4a94f4), to(#236de5));
}
.fl-listmenu li a {
    -webkit-tap-highlight-color: -webkit-gradient(linear, left top, left bottom, from(#4a94f4), to(#236de5));
    padding:10px 0;
}
.fl-listmenu li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
.fl-listmenu li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
.fl-listmenu .fl-icon {
    float:left;
}

.fl-listmenu.fl-menu-thumbnails li img:first-child {
    height : 100px;
    width : 50px;
}

/***************************************/
/* Content Views */
.fl-view {
    position:absolute;
    width:100%;
}
.fl-offScreen-right {
    left:100%; 
}
.fl-offScreen-left {
    left:-100%; 
}

/***************************************/
/* Transition Library */

.fl-transition-slide {
    -webkit-transition: left 0.75s ease-in-out;
}
.fl-transition-slide-right-out {
    left: 100%;
}
.fl-transition-slide-right-in {
    left: 0%;
}
.fl-transition-slide-left-out {
    left: -100%;
}
.fl-transition-slide-left-in {
    left: 0%;
}
.fl-transition-fade {
    -webkit-transition: opacity 0.75s linear;
}
.fl-transition-fade-in {
    opacity:1;
}
.fl-transition-fade-out {
    opacity:0;
}


