table {
    width: 100%;
}

thead {
    background-color: #cdcdee;
    color: #343499;
}

td {
    padding: 0.5em 0.2em;
}

input {
    width: 3em;
}

.hidden {
    display: none;
}

.fl-pager-top,
.fl-pager-bottom {
    background-color: #eee;
    padding: 0.5em;
    text-align: center;
}

.fl-pager-top li,
.fl-pager-bottom li {
    display: inline;
    padding-right: 0.3em;
}

.fl-pager-pageLink a,
.fl-pager-previous a,
.fl-pager-next a {
    border-bottom: solid 0.1em;
    color: #00759c;
    font-size: 0.9em;
    text-decoration: none;
}

.fl-pager-previous,
.fl-pager-next {
    padding: 0 1.3em 0 1em !important;
}

.fl-pager-currentPage a {
    border: 0;
    color: #000;
    text-decoration: none;
}

.fl-pager-disabled a {
    border: 0;
    color: #6c6c6c;
    text-decoration: none;
}
