section {
    margin: 2rem;
}

td,
th {
    border: 0 solid;
    padding: 1em 1.5em;
}

th {
    background: #dcdcdc;
}

.fl-reorderer-movable-default:hover,
.fl-reorderer-movable-selected {
    background: #eee;
    cursor: move;
}

.fl-reorderer-avatar,
.fl-reorderer-movable-dragging {
    background: #ffc !important;
    outline: 1px solid red;
}

.fl-reorderer-avatar {
    opacity: 0.75;
}

.fl-reorderer-dropMarker {
    height: 2em;
}
