.fixed {
    font-style: italic;
}

.orderable-selected {
    font-weight: bold;
}

.orderable-dragging {
    color: gray;	
}

.orderable-hover {
    color: gray;	
}

.orderable-drop-marker {
    height: 10px;
}

.columnTitle {
    font-style: bold;
    font-size: 18pt;
}

.column {
    list-style: none;
}

li{
    padding-bottom: 10px;
}

.times {
    float: left;
    margin: 0;
    text-align: right;
}

#agendaItems{
    margin: 0;
    padding-left: 8.25em;
}