
body{
    font-family: verdana, sans-serif;
    font-size: 0.8em;
}

ol > li {
    margin: 10px;
}

.orderable-default{
    background-color: #eee;
}

.orderable-hover{
    background-color: lightyellow;
    cursor: move;
}

.orderable-selected{
    background-color: #ddd;
}

.orderable-dragging {
    background-color: lightyellow;
}

.orderable-avatar {
    opacity: 0.55;
    width: 300px;
    border: 0;
}

.orderable-drop-marker{
    background-color: red;
    height: 10px;
}

