/* pager demo styles */

.demo-pager-container {
    width:95%;
    margin-top: 4rem;
}

.demo-pager-container a {
    color: #343499;
}

.demo-pager-container input {
    width: 3em;
}

.demo-pager-container .hidden {
    display: none;
}

.demo-pager-container a:visited {
    color: blue;
}

.demo-pager-container a:hover{
    outline: 2px #000 solid;
    padding:0px;
}

/***********************************************
 * Styles for table formatting.
 */

.demo-pager-container table {
    width: 100%;
}

.demo-pager-container thead {
    color: #343499;
    background-color: #E6E7E8;
}

.demo-pager-container td {
    padding: .5em .2em;
}

.demo-pager-head-select { width:5%; }
.demo-pager-head-members { width:25%; }
.demo-pager-head-email { width:25%; }
.demo-pager-head-role { width:15%; }
.demo-pager-head-comments { color: #000; }

.demo-pager-table-data {
    width: 100%;
    clear: both;
}

/***********************************************
 * The horizontal pager bar containing Previous, Next, and Page links.
 */
.demo-pager-bar  {
    min-width: 555px;
    margin-left: 0em;
}

.demo-pager-bar  li  {
    display:inline;
    float:left;
}

/***********************************************
 * Previous and Next default and hover styles
 */

.demo-pager-previous, .demo-pager-next {
    margin: 1px;
    padding: 2px 6px 2px 6px; /* padding values to align Next and Previous links to Page numbered links */
}

/***********************************************
 * Styles for the list of numerated page links.
 */


.demo-pager-pageLink-default a {
    /* Using display:block and float:left, it creates helps create a horizontal list with fixed width elements.*/
    display:block;
    float:left;

    width:3em;
    text-align:center;
    margin:2px;
    border: 1px solid #afafaf;
}

.demo-pager-pageLink-default a {
    text-decoration: none;
}

.demo-pager-links .fl-pager-currentPage {
    color: #fff;
    display:block;
    width:3em;
    float:left;
    background: #000;
    padding:0px;
    margin:2px;
    border: 1px solid #000;
    text-align:center;
}

.demo-pager-links .fl-pager-currentPage:visited {
    color: #fff;
}

.demo-pager-head a {
    display:block;
    width:100%;
}

/***********************************************
 * Styles for pager size selector.
 */
.demo-pager-page-size {
    margin-top: 10px;/* horizontal align page size selector to the pager bar. */
}

 .demo-pager-page-size  label {
    margin-right: 2px;
 }

 /***********************************************
 * Styles for pager previous and next page symbol
 */
 .demo-pager-previous-character::before {
     content: "<";
 }

 .demo-pager-next-character::after {
     content: ">";
 }
