/* Themed Appearance + Themed States */

.fl-inlineEdit-edit {margin:-2px; padding:0;}

.fl-inlineEdit-textEditButton {
    padding-left : 5px;
}

.fl-inlineEdit-textEditButton, .fl-inlineEdit-text {
    border-bottom : 1px dotted #0086D8;
}

/* Base Appearance & States Appearance */
.fl-inlineEdit-tooltip, .fl-inlineEdit-keyboardTooltip {
    position    : absolute;
    background  : #CCC;
    border      : 1px solid #999;
    font        : normal 75% sans-serif;
    padding     : 3px 5px;
}

/* Put keyboard focusin tooltip on a foreground layer */
.fl-inlineEdit-keyboardTooltip {
	z-index     : 1;
}

/* :hover */
.fl-inlineEdit-invitation {
    border      : 1px solid #999;
    background  : lightyellow;
    cursor      : pointer;
    /*margin      : -1px;*/
}

.fl-inlineEdit-richText-invitation {
    background  : lightyellow;
    cursor      : pointer;
}

/* :focus */ 
.fl-inlineEdit-focus{
    
}