@font-face {
    font-family:'Orator-Icons';
    src:url("../fonts/Orator-Icons.ttf"),url("../fonts/Orator-Icons.eot")
}

/* controller */
.fl-orator-controller {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* set normal letter-spacing and line-height so that the prefs editor settings won't affect alignment */
    letter-spacing: normal;
    line-height: normal;
}

.fl-orator-controller * {
    box-sizing: inherit;
}

.fl-orator-controller > * {
    background-color: #666666;
    height: 3rem;
    width: 3rem;
}

.fl-orator-controller > *:not(:first-child) {
    border-left: 0.1rem solid #4E4E4E;
}

.fl-orator-controller > :first-child {
    border: 0.1rem solid #4E4E4E;
    border-right: none;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.fl-orator-controller > *:not(:first-child):hover {
    background-color: #4E4E4E;
}

.fl-orator-controller > *:not(:first-child):focus {
    border-color: #FFFFFF;
}

.fl-orator-controller > :last-child {
    border: 0.1rem solid #4E4E4E;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.fl-orator-controller-playToggle {
    color: #FFFFFF;
    font-size: 2.25rem;
    text-shadow: 0.1rem 0.2rem 0.2rem #4E4E4E;
}


.flc-orator-controller .fl-orator-controller-playToggle {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.fl-orator-controller-playToggle:hover:before {
    background-color: #4E4E4E;
}

/* highlight */
.fl-orator-highlight {
    color: #000000;
    background-color: #EED400;
    /* Used to make the background appear larger so that it stands out in a block of text */
    outline: 0.2rem solid #EED400;
}


/* Font Icons */
.fl-icon-orator {
    font-family: 'Orator-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-size: 2.25rem;
}

/* control icons */

.fl-icon-orator:before {
    content: "\e000";
}

.fl-icon-orator:before {
    /* the following is to style the icon to appear inset */
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 0.5px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.fl-orator-controller .fl-icon-orator {
    color: #4E4E4E;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.fl-icon-orator-playToggle:before {
    content: "\25B6";
}

.fl-orator-controller-play .fl-icon-orator-playToggle:before {
    content: "\2016";
}
