.dropdown {
    position: relative;
}

.dropdown .selectbox {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.dropdown .selectbox-wrapper {
    left: 0;
    margin: 0;
    position: absolute;
    top: 18px;
}
