.combination-table td{
    vertical-align: top;
}
.review1, .review2{
    width: 400px;
}

#customEdit .fl-inlineEdit-invitation {
    border      : 1px solid red;
    font        : bold 12px "Arial";
    background  : yellow;
    color       : red;
    padding     : 2px;
}

#customizedEditField {
    border  : 1px dashed #999;
    font    : bold 12px "Arial";
    color   : #999;
    padding : 2px;
}