.fl-tts-read-block {
    background-color: #F1F3AE;
    color: #000000;
    outline: 1px dotted #000000;
}

.fl-tts-highlight {
    color: #000000;
    background-color: #EED400;
    /* Used to make the background appear larger so that it stands out in a block of text */
    outline: 0.2em solid #EED400;
}
