
@font-face {
    font-family: "Icons";
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icons.eot'),
         url('../fonts/icons.ttf');
}

@font-face {
    font-family: "Fluid-star";
    src:url('../fonts/fluid-star.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fluid-star.eot'),
         url('../fonts/fluid-star.ttf');
}

.fl-overviewPanel-container {
    /* 
     * APPLY this class on the container for the overviewPanel component.
     * Customize these values to change the positioning.
     * 
     * Note: If you change the position, you may have to change the position of 
     * .fl-overviewPanel-hidden styles so that the transition goes in the desired 
     * direction.
     */
    position:fixed;
    top:0;
    left:0;
    width:24em;
    
    overflow: auto;
    z-index: 9999;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    
    /* Note about transitions:
     * There are two transitions: one for fl-overviewPanel-container and one for 
     * fl-overviewPanel-body. Both these transitions are necessary for the desired
     * visual effect when hiding and showing.
     */
}

/* General styles */

.fl-overviewPanel {
    transition: left 0.2s linear;
    position: relative;
    left: 0;
    color: #fff;
}

.fl-overviewPanel h1 {
    margin: 0;
    font-size: 1.4em;
}

.fl-overviewPanel h2 {
    margin: 0;
    font-size: 1em;
}

.fl-overviewPanel a:active,
.fl-overviewPanel a:focus {
    outline: 0.2em solid #27A9E1;
}

.fl-overviewPanel-group:after { /* clearfix (aka. group) */
  content: "";
  display: table;
  clear: both;
}

/* The Star icon that acts as a toggle button */

.fl-overviewPanel .fl-overviewPanel-icon-fluidStar {
    position:fixed;
    top:0.2em;
    left:0.2em;
    z-index: 1; /* Z-index and position relative is defined so it appears properly relative to the panel's title. */    
}

.fl-overviewPanel .fl-overviewPanel-icon-fluidStar a {
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Fluid-star";
    margin: 0.2em 0 0.2em 0.2em;
    padding: 0.7em 0.3em;
    color: #fff;
    float: left;
    position:relative;
    background-color: #333; /* IE8 */
    background-color: rgba(51,51,51,.96);    
}

.fl-overviewPanel .fl-overviewPanel-icon-fluidStar a:before{
    content: "\e600";
}

/* The Demo Menu itself */
.fl-overviewPanel .fl-overviewPanel-body {
    position:relative;
    left: 0em;
    transition: left 0.2s ease, visibility 0.2s linear; /* Create the sliding effect when showing and hiding */
    background-color:#444; /* IE8 */
    background-color: rgba(51,51,51,.96);
    visibility:visible;
}

/* Demo Menu Visibility */

.fl-overviewPanel-container.fl-overviewPanel-hidden{
    width: 3em;
    height: 4.2em; /* make the hidden container the same size as the star button. This way the star button 
                      appears properly and the hidden container doesn't block interaction with content below it. */
    overflow: hidden;
}

.fl-overviewPanel-hidden .fl-overviewPanel {
    left: -30em; 
}

.fl-overviewPanel-hidden .fl-overviewPanel-body {
    position: relative;
    left: -30em; /* Change (minus) this value if the edge of the panel stays on the screen before visibility:hidden takes effect. */
    visibility:hidden;
}

/* Header area with title */
.fl-overviewPanel .fl-overviewPanel-title {
    background-color: #333;
    font-family: 'Roboto Slab', serif;
    color: #ccc;
    padding: 0.5em 0.5em 0.5em 3em;
}

.fl-overviewPanel .fl-overviewPanel-title h1 {
    display: inline-block;
    padding: 0.5em;
}

.fl-overviewPanel .fl-overviewPanel-title a {
    text-decoration: none;
    color: #fff;
}

/* Content area of the component */

.fl-overviewPanel .fl-overviewPanel-contents {
    padding: 1.5em;
}

.fl-overviewPanel .fl-overviewPanel-componentName {
    font-weight: bold;
}

.fl-overviewPanel .fl-overviewPanel-componentVersion {
    font-style: italic;
}

.fl-overviewPanel .fl-overviewPanel-instructions {
    border: 0.2em solid #FFCC00;
    padding: 1em;
    margin-top: 2em;
}

.fl-overviewPanel .fl-overviewPanel-instructions h2 {
    text-transform: uppercase;
    font-weight: normal;
}

/* Icon links to code, API, and designs. */ 
.fl-overviewPanel .fl-overviewPanel-links ul{
    margin: 1.6em 0;
}

.fl-overviewPanel .fl-overviewPanel-links ul li {
    display: inline-block;
    list-style: none outside none;
    margin: 0 1em 0 0;
}

.fl-overviewPanel .fl-overviewPanel-links ul li a {
    color: #fff;
    text-decoration: none;
}

.fl-overviewPanel .fl-overviewPanel-links-icon-api,
.fl-overviewPanel .fl-overviewPanel-links-icon-github,
.fl-overviewPanel .fl-overviewPanel-links-icon-design {
    display: inline-block;
    background-color: #fff;
    width: 2em;
    height: 2em;
    border-radius: 50em;
    font-family: icons;
    color: #333333;
}

.fl-overviewPanel .fl-overviewPanel-links-icon-api:before,
.fl-overviewPanel .fl-overviewPanel-links-icon-github:before,
.fl-overviewPanel .fl-overviewPanel-links-icon-design:before{
    position: relative;
    top: 0.35em;
    left: 0.41em;
    font-size: 1.2em;
}

.fl-overviewPanel .fl-overviewPanel-links-icon-api:before{
    content: "\e602";
}

.fl-overviewPanel .fl-overviewPanel-links-icon-github:before {
    content: "\e601";
}

.fl-overviewPanel .fl-overviewPanel-links-icon-design:before {
    content: "\e603";
}

.fl-overviewPanel .fl-overviewPanel-feedback-link a{
    display:block;
    color: #FFCC00;
}

/* Footer / Close button */
.fl-overviewPanel .fl-overviewPanel-footer {
    margin: 1em;
}

.fl-overviewPanel .fl-overviewPanel-footer a {
    background-color: #fff;
    border-radius: 0.3em; 
    padding: 0.3em 1em;
    color:  #333333;
    text-decoration: none;
    text-transform: lowercase;
    display: inline-block;
    margin: 1em 0;
    float: right;
}

/* Theming */

/* black on white */
.fl-theme-uio-bw .fl-overviewPanel,
.fl-theme-uio-bw .fl-overviewPanel-body,
.fl-theme-uio-bw .fl-overviewPanel a,
.fl-theme-uio-bw .fl-overviewPanel .fl-overviewPanel-links-icon-api,
.fl-theme-uio-bw .fl-overviewPanel .fl-overviewPanel-links-icon-github,
.fl-theme-uio-bw .fl-overviewPanel .fl-overviewPanel-links-icon-design {
    color: #000;
    background-color: #fff;
}

.fl-theme-uio-bw .fl-overviewPanel {
    border: 0.2em solid #000;
}

.fl-theme-uio-bw .fl-overviewPanel .fl-overviewPanel-title .fl-overviewPanel-icon-fluidStar,
.fl-theme-uio-bw .fl-overviewPanel .fl-overviewPanel-title a,
.fl-theme-uio-bw .fl-overviewPanel .fl-overviewPanel-title {
    background-color: #000;
    color: #fff;
}

.fl-theme-uio-bw .fl-overviewPanel a { text-decoration: underline; }
.fl-theme-uio-bw .fl-overviewPanel *:focus { outline: 0.2em solid #000; }
.fl-theme-uio-bw .fl-overviewPanel-instructions { border: 0.2em solid #000; }

.fl-theme-uio-bw .fl-overviewPanel-hidden .fl-overviewPanel { /* when hidden */
    border-width: 0;
}

.fl-theme-uio-bw .fl-overviewPanel-hidden .fl-overviewPanel-icon-fluidStar a{
    border: 0.1em solid #000;
    outline: 0.3em solid #fff;
}


/* white on black */
.fl-theme-uio-wb .fl-overviewPanel,
.fl-theme-uio-wb .fl-overviewPanel-body,
.fl-theme-uio-wb .fl-overviewPanel a, 
.fl-theme-uio-wb .fl-overviewPanel .fl-overviewPanel-links-icon-api,
.fl-theme-uio-wb .fl-overviewPanel .fl-overviewPanel-links-icon-github,
.fl-theme-uio-wb .fl-overviewPanel .fl-overviewPanel-links-icon-design {
    color: #fff;
    background-color: #000;
}

.fl-theme-uio-wb .fl-overviewPanel {
    border: 0.2em solid #000;
}

.fl-theme-uio-wb .fl-overviewPanel .fl-overviewPanel-title .fl-overviewPanel-icon-fluidStar,
.fl-theme-uio-wb .fl-overviewPanel .fl-overviewPanel-title a,
.fl-theme-uio-wb .fl-overviewPanel .fl-overviewPanel-title {
    background-color: #fff;
    color: #000;
}

.fl-theme-uio-wb .fl-overviewPanel a { text-decoration: underline; }
.fl-theme-uio-wb .fl-overviewPanel *:focus { outline: 0.2em solid #fff; }
.fl-theme-uio-wb .fl-overviewPanel-instructions { border: 0.2em solid #fff; }

.fl-theme-uio-wb .fl-overviewPanel-hidden .fl-overviewPanel-icon-fluidStar a{
    border: 0.1em solid #fff;
    outline: 0.3em solid #000;
}


/* Low contrast: light grey on dark grey */
.fl-theme-uio-lgdg .fl-overviewPanel,
.fl-theme-uio-lgdg .fl-overviewPanel-body,
.fl-theme-uio-lgdg .fl-overviewPanel a, 
.fl-theme-uio-lgdg .fl-overviewPanel .fl-overviewPanel-links-icon-api,
.fl-theme-uio-lgdg .fl-overviewPanel .fl-overviewPanel-links-icon-github,
.fl-theme-uio-lgdg .fl-overviewPanel .fl-overviewPanel-links-icon-design {
    color: #bdbdbb;
    background-color: #555;
}

.fl-theme-uio-lgdg .fl-overviewPanel {
    border: 0.2em solid #555;
}

.fl-theme-uio-lgdg .fl-overviewPanel .fl-overviewPanel-title .fl-overviewPanel-icon-fluidStar,
.fl-theme-uio-lgdg .fl-overviewPanel .fl-overviewPanel-title a,
.fl-theme-uio-lgdg .fl-overviewPanel .fl-overviewPanel-title {
    background-color: #bdbdbb;
    color: #555;
}

.fl-theme-uio-lgdg .fl-overviewPanel a { text-decoration: underline; }
.fl-theme-uio-lgdg .fl-overviewPanel *:focus { outline: 0.2em solid #bdbdbb; }
.fl-theme-uio-lgdg .fl-overviewPanel-instructions { border: 0.2em solid #bdbdbb; }

.fl-theme-uio-lgdg .fl-overviewPanel-hidden .fl-overviewPanel-icon-fluidStar a{
    border: 0.1em solid #bdbdbb;
    outline: 0.3em solid #555;
}


/* Yellow on Black */
.fl-theme-uio-yb .fl-overviewPanel,
.fl-theme-uio-yb .fl-overviewPanel-body,
.fl-theme-uio-yb .fl-overviewPanel a, 
.fl-theme-uio-yb .fl-overviewPanel .fl-overviewPanel-links-icon-api,
.fl-theme-uio-yb .fl-overviewPanel .fl-overviewPanel-links-icon-github,
.fl-theme-uio-yb .fl-overviewPanel .fl-overviewPanel-links-icon-design {
    color: #FFFF00;
    background-color: #000;
}

.fl-theme-uio-yb .fl-overviewPanel {
    border: 0.2em solid #000;
}

.fl-theme-uio-yb .fl-overviewPanel .fl-overviewPanel-title .fl-overviewPanel-icon-fluidStar,
.fl-theme-uio-yb .fl-overviewPanel .fl-overviewPanel-title a,
.fl-theme-uio-yb .fl-overviewPanel .fl-overviewPanel-title {
    background-color: #FFFF00;
    color: #000;
}

.fl-theme-uio-yb .fl-overviewPanel a { text-decoration: underline; }
.fl-theme-uio-yb .fl-overviewPanel *:focus { outline: 0.2em solid #FFFF00; }
.fl-theme-uio-yb .fl-overviewPanel-instructions { border: 0.2em solid #FFFF00; }

.fl-theme-uio-yb .fl-overviewPanel-hidden .fl-overviewPanel-icon-fluidStar a{
    border: 0.1em solid #ffff00;
    outline: 0.3em solid #000;
}


/* Black on Yellow */
.fl-theme-uio-by .fl-overviewPanel,
.fl-theme-uio-by .fl-overviewPanel-body,
.fl-theme-uio-by .fl-overviewPanel a,
.fl-theme-uio-by .fl-overviewPanel .fl-overviewPanel-links-icon-api,
.fl-theme-uio-by .fl-overviewPanel .fl-overviewPanel-links-icon-github,
.fl-theme-uio-by .fl-overviewPanel .fl-overviewPanel-links-icon-design  {
    color: #000;
    background-color: #FFFF00;
}

.fl-theme-uio-by .fl-overviewPanel {
    border: 0.2em solid #000;
}

.fl-theme-uio-by .fl-overviewPanel .fl-overviewPanel-title .fl-overviewPanel-icon-fluidStar,
.fl-theme-uio-by .fl-overviewPanel .fl-overviewPanel-title a,
.fl-theme-uio-by .fl-overviewPanel .fl-overviewPanel-title {
    background-color: #000;
    color: #FFFF00;
}

.fl-theme-uio-by .fl-overviewPanel a { text-decoration: underline; }
.fl-theme-uio-by .fl-overviewPanel *:focus { outline: 0.2em solid #000; }
.fl-theme-uio-by .fl-overviewPanel-instructions { border: 0.2em solid #000; }

.fl-theme-uio-by .fl-overviewPanel-hidden .fl-overviewPanel-icon-fluidStar a{
    border: 0.1em solid #000;
    outline: 0.3em solid #ffff00;
}
