/*
 * Uploader container
 */
.fl-uploader { 
    width: 434px;
    position: relative;
    clear: both;
}

/* Header table */
table.fl-uploader-header {
    width: 434px;
    margin-bottom: 0px;
    border-bottom: 1px solid #999;      
}

.fl-uploader-header tr { 
    width: 100%;
    color: #666;    
}

.fl-uploader-header th { 
    text-align: left;
    font-size: 0.94em;
    font-weight: normal;
    padding: 6px;
}

/*
 * Scrollable file queue table
 */
 
.fl-scrollable-scroller {
    display: block;
    position: relative;  
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 160px;

}

.fl-scrollable-inner {
    position: relative;
    overflow: hidden;
}

/* File queue table general */
table.fl-uploader-queue {
    margin: 0;
    color: #333;
}

.fl-uploader-queue td, .fl-uploader-header th {
    border: none;
    margin: 0px;
}

.fl-uploader-queue tr.fl-uploader-dim {
    color: #666;
}

.fl-uploader-queue caption {
    display: none;
}

/* Table body */
.fl-uploader-queue tbody {
    z-index: 6;
    border-right: 1px solid #999;    
    display:block;
    font-size: 0.9em;
}

.fl-uploader-queue tr:focus, .fl-uploader-queue tr.fl-uploader-file-state-ready:hover {  
    background-color: #FFF9DC;
}

/* Table columns */
.fl-uploader-queue td { 
    text-align: left;
    padding: 3px 6px;
    border-bottom: 1px solid #BBCFDC;
}

/* file name */
.fl-uploader-queue td.fl-uploader-file-name {
    width: 29em;
    overflow: hidden;
    font-weight:bold;    
}
.fl-uploader-header th.fl-uploader-file-name {
    width:26.5em;
}

/* file size */
.fl-uploader-queue .fl-uploader-file-size, .fl-uploader-header .fl-uploader-file-size {
    text-align: right;
    white-space: nowrap;
}

/* action */
.fl-uploader-queue .fl-uploader-file-actions, .fl-uploader-header .fl-uploader-file-actions {
    padding-right:15px;
    white-space: nowrap;
    text-align: center;
}
.fl-uploader-queue .fl-uploader-file-actions .fl-uploader-dim {
    border: 1px solid transparent;
    background-color: transparent;
    cursor: auto;
}

/* 
 * Action buttons: remove or uploaded 
 */
 
/* general action buttons */
.fl-uploader-file-actions button {
    border: 1px solid transparent;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background-color: transparent;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    padding: 0;
    margin: 0;
}

/* remove button */
.fl-uploader-file-actions .fl-uploader-file-action-remove {
    background-image: url(../images/remove.png);
    cursor: pointer; 
}

.fl-uploader-file-actions .fl-uploader-file-action-remove:hover, tr:focus .fl-uploader-file-actions .fl-uploader-file-action-remove {
    border: 1px solid #CCC;
    background-color: #FFF;
}

/* uploaded row */
tr.fl-uploader-file-state-uploaded button {
    background-image: url(../images/tick.png);
}
tr.fl-uploader-file-state-uploaded .fl-uploader-file-name {
    border-left: 4px solid #74B74A;
    color: #5E7A5E;
}

/*
 * Instructions 
 */
.fl-uploader-browse-instructions {
    background-color: #F0F9FF;
    color: #666;
    text-align: center;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding: 6px;
}

/* 
 * Status footer 
 */
.fl-uploader-queue-footer {
    z-index:6;
    position: relative;
    background-color: #E6E6E6;
    border: 1px solid #999;    
    color:#666666;
    font-size:1.07em;
    font-weight:bolder;
    padding:8px 6px;
    vertical-align:middle;  
}

.fl-uploader span.fl-uploader-browse {
    background-image: url(../images/add.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 4px 6px;
    padding: 5px 5px 0px 22px;
    border: none;
    white-space: nowrap;
    color: #427ABE;
    font-weight: normal;
}

.fl-uploader-queue-footer .fl-uploader-total-progress-text {
    padding-top:6px;
}

/*
 * Browse files/Add more buttons 
 */
 
/* Special note about .fl-uploader-browse, .fl-uploader-browse.fl-uploader-browseMore, .fl-uploader-browse input
 *
 * Because of the inconsistencies in affecting <input type="file"> styling across browsers, we've used the following hack:
 * 1. Create a fake "Browse files"/"Add more" button
 * 2. Make the real button invisible
 * 3. Put the real, invisible button on top of the fake button
 */

/* Fake add files button wrapper ("Browse files") */
.fl-uploader-browse {
    display: block;
    overflow: hidden;
    height: 1.65em;
    width: 5.7em;
    cursor: default;
}

/* Fake add files button wrapper ("Add more")
 * Same as above, but width-adjusted for shorter text */
.fl-uploader-browse.fl-uploader-browseMore {
   width: 4.5em;
}

/* Actual, real add files button (invisible) */
.fl-uploader-browse input {
    position: relative;
    overflow: hidden;
    float: right;

    /* Make the real button big enough to cover the fake button */
   /* height: 40px;
       bottom: 28px;*/
	height: 3em;
	bottom: 2em;
    letter-spacing: 5px;
    left: 10px;
    
    /* Make the button invisible */
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

html>body .fl-uploader span.fl-uploader-browse {
    border: 1px solid transparent;
}

.fl-uploader span.fl-uploader-browse:hover {
    border: 1px solid #CCC;
    background-color: #FFF;
}

.fl-uploader span.fl-uploader-browse:focus, .fl-uploader span.fl-uploader-browse.focus {
    outline: 2px solid #142B8C;
    background-color: #FFF;
}

.fl-uploader-browse-overlay {
    position: absolute;
    top: 8px;
    left: 320px;
    z-index: 7;
}

.fl-uploader-flash10-wrapper {
    position: relative;
    float: left;
}

/*
 * Upload/Stop Upload buttons 
 */

.fl-uploader-buttons {
    margin-top: 1em;
    text-align:right;
}

/* general button */
.fl-uploader-buttons button {
    border-width: 1px;
    border-style: solid;
    font-weight: bolder;
    font-size: 1.06em;
    color: #FFF;
    height: 32px;
    padding:0px;
    margin-right: 1em;
    outline: none;
    cursor: pointer;
    width: 8.4em;
}

.fl-uploader-buttons button:focus {
    outline: 2px solid #142B8C;
}

/* upload button */
.fl-uploader-buttons .fl-uploader-button-upload {
    background-color: #74B74A;
    border-color: #006838;
}

.fl-uploader-buttons .fl-uploader-button-upload:hover {
    background-color: #519325;
    border-color: #142B8C;
}

/* stop upload button */
.fl-uploader-buttons .fl-uploader-button-stop {
    background-color: #4F99D3;
    border-color: #2A3990;
}

.fl-uploader-buttons .fl-uploader-button-stop:hover {
    background-color: #115F8F;
}

/* disabled button */
.fl-uploader-buttons .fl-uploader-dim, .fl-uploader-buttons .fl-uploader-dim:hover {
    background-color: #999;
    border-color: #666666;
    cursor: auto;
}

/* 
 * Progess bars
 */
.fl-uploader-file-progress, .fl-uploader-total-progress-okay, .fl-uploader-total-progress-errored {
    position: absolute;
    display: none;
    background-attachment: scroll;
    background-position: bottom left;
    background-repeat: repeat-x;
    overflow: hidden;
    left: -1px;
    z-index:-1;
    top: 0;
    height: 100%;    
}

/* file progress */
.fl-uploader-file-progress {
    background-image: url('../images/gradient-file-green.png');
    background-color: #D1D6DD;
    border-right: 1px solid #9FCE7F;
}

/* overall progress */
.fl-uploader-total-progress-okay {
    background-image: url('../images/gradient-total-green.png');
    border-right: 1px solid #9FCE7F;
    background-color: #BDBFC1;
}

.fl-uploader-total-progress-errored {
    background-image: url('../images/gradient-total-yellow.png');
    border-right: 1px solid #E8C81C;
    background-color: #F6ECA0;
}

/* ERRORS */
.fl-uploader-queue .fl-uploader-file-state-error th {
    border-left: 4px solid #F5E392;
    background-color: #FCFBE6;
    border-bottom-width: 0;
}

.fl-uploader-queue .fl-uploader-file-state-error td {
    background-color: #FCFBE6;
    border-bottom-width: 0;
}

.fl-uploader-queue .fl-uploader-file-error td {
    background-color: #FCFBE6;
    border-left: 4px solid #F5E392;
    background-image: url(../images/error.png);
    background-position: 8px 2px;
    background-repeat: no-repeat;
    padding-bottom: 8px;
    padding-left: 32px;
}

.fl-uploader-errorsPanel {
    float: left;
    background-color: #E6E6E6;
    width: 100%;
    margin-top: 0.5em;
}

.fl-uploader-errorsPanel-header {
    background-image: url("../images/error.png");
    background-position: 1px center;
    background-repeat: no-repeat;
    padding-top: 6px;
    padding-bottom: 6px;
}

.fl-uploader-errorsPanel-header span {
    padding-left: 25px;
    font-size: 1.1em;
    font-weight: bolder;
    color: #000000;
}

.fl-uploader-errorPanel-section-wrapper {
    float: left;
    width: 90%;
}

.fl-uploader-errorPanel-section-removeButton {
    background-image: url("../images/grey-4d4d4d-x-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e6e6e6;
    border-width: 0px;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin-right: 9px;
    float: right;
}

.fl-uploader-errorPanel-section-removeButton:hover {
    background-image: url("../images/grey-999999-x-button.png");
}

.fl-uploader-errorPanel-section-toggleDetails {
    background-color: #e6e6e6;
    border: none;
    padding: 0em;
    color: #3da6e5;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    height: 2em;
    margin: 0em;
}

.fl-uploader-errorPanel-section-toggleDetails:hover {
    background-color: #e6e6e6;
}

.fl-uploader-errorPanel-section-title {
    font-size: 0.9em;
}

.fl-uploader-errorPanel-section-details {
    font-size: 0.9em;
    color: #666;
    font-weight: normal;
}

/*
 * Misc
 */
 
/* button for no-js basic version */
.fl-uploader-basic-save {
    margin-top: 0.6em;
    display:block;
}

/* hidden */
.fl-uploader-hidden {
    display: none;
}

/* dimmed */
.fl-uploader-dim {
    opacity: 0.4;
    filter:alpha(opacity=40);
}


/* Hidden SWF for Flash 9*/
.fl-uploader-flash9-container {
    overflow: hidden; 
    width: 1px; 
    height: 1px;
}

/* an alternative way to hide the Uploader because of a bug in Opera,
 * described in FLUID-2789 */
.hideUploaderForOpera {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    width: 0;
    padding: 0;
}
