<form id="options" action="" class="flc-uiOptions-fatPanel-tabs fl-uiOptions">    
    <div class="flc-uiOptions-controls">    
        <ul class="fl-uiOptions-panels">     
            <li class="fl-uiOptions-panel"><div class="flc-uiOptions-text-sizer fl-uiOptions-text"></div></li> 
            <li class="fl-uiOptions-panel"><div class="flc-uiOptions-text-font fl-uiOptions-text"></div></li> 
            <li class="fl-uiOptions-panel"><div class="flc-uiOptions-line-spacer fl-uiOptions-text"></div></li> 
            <li class="fl-uiOptions-panel"><div class="flc-uiOptions-contrast fl-uiOptions-text"></div></li> 
            <li class="fl-uiOptions-panel"><div class="flc-uiOptions-layout-controls"></div></li>   
            <li class="fl-uiOptions-panel"><div class="flc-uiOptions-links-controls"></div></li>         
            <li class="fl-uiOptions-panel"><div class="flc-uiOptions-self-voicing"></div></li>   
            <li class="fl-uiOptions-panel"><div class="flc-uiOptions-simplified-content"></div></li>
        </ul>
    </div>
</form>
