<div>
    <h2><span role="presentation" class="fl-icon-simplify"></span><label for="line-spacing">simplify</label></h2>
    <div class="fl-uiOptions-fatPanel-toc">
        <input type="checkbox" id="simplifiedContent-choice" class="fl-uiOptions-fatPanel-toc-input flc-uiOptions-simplifiedContent fl-force-left fl-hidden-accessible" />
        <label for="simplifiedContent-choice">
            <span class="fl-uiOptions-fatPanel-switch">
                <span class="fl-uiOptions-fatPanel-switch-inner"></span>
            </span>
        </label>
    </div>
    <div class="fl-uiOptions-option-description fl-uiOptions-fatPanel-option-description">Prioritize the main content of the page.</div>
</div>                            