strong {
    display: block;
    margin: 4px;
}

.container {
    width: 500px;
    padding: 4px;
}

.column {
    border: 1px solid black;
    width: 50%;
    padding: 4px;
}

.description {
    width: 100px;
    padding: 4px;
    font-style: italic;
}

/* new clear fix http://perishablepress.com/press/2009/12/06/new-clearfix-hack/ */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
