/* FSS Linearize test */

h2 {
	clear: both;
	margin-top: 1em;
}

h3 {
	clear: both;
	background-color: lightgreen;	
}

.layout-demo {
	margin-bottom:10px;
}
.layout-demo div {
	background-color: #ccc;
}