/* FSS Linearize test */

.layout-demo {
	margin-bottom:10px;
}
.layout-demo div {
	background-color: #ccc;
}

.absolute-a { position:absolute; left: 0; }
.absolute-b { position:absolute; left: 350px; }

.fl-theme-mist :focus {
	outline:0;
}