
.image-container-default{
position: relative;
top: 0px;
}

.image-container-hover{
}

.image-container-selected a{
}

.image-container-dragging a{
background-color: lightyellow !important;
position: relative;
top: -5px;
}