/*
 * General prefs editor styling used to apply preferences
 * !important is used for all styles to ensure that Preferences Framework's enactors are able to override the page's default styles.
 */

.fl-letterSpace-enabled {
    letter-spacing: var(--fl-letterSpace) !important;
}
