/* CSS for the example document */
h1 {clear:both; padding:40px 0 0; margin:0px;}


/* Basic skinning for this component example 1: simple setup */
.columnSetup1 {font: normal 0.75em Verdana, Arial, sans-serif;}
    .columnSetup1 .myColumn {
        margin          : 0 5px;
        border          : 1px solid #666;
        width           : 30%;    
        background-color: #ccc;
        float           : left;
    }
    .columnSetup1 .myColumn div, .mySortable {
        padding         : 10px;
        border          : 1px solid;
        margin          : 5px;
        background-color: #fff;     
    }
    .columnSetup1 .mySortable {
        cursor : move;
    }


/* Basic skinning for this component example 2: different selectors */

.columnSetup2 {font: normal 0.75em Verdana, Arial, sans-serif;}
    .columnSetup2 h2 {color:white;}
    .columnSetup2 div {
        margin          : 0 5px;
        border          : 1px solid #666;
        width           : 30%;    
        background-color: #000;
        float           : left;
    }
    .columnSetup2 div div, .columnSetup2 div p {
        padding         : 10px;
        border          : 1px solid #000;
        margin          : 5px;
        width           : auto;
        float           : none;
        background-color: #fff;
        cursor          : not-allowed;
    }
    .columnSetup2 div div {
        cursor : move;
    }


/* Basic skinning for this component example 3: complex setup */
.columnSetup3 {font: normal 0.75em Verdana, Arial, sans-serif;}
    .columnSetup3 .myColumn {
        margin          : 0 5px;
        border          : 1px solid #666;
        width           : 30%;    
        background-color: #ccc;
        float           : left;
    }
    .columnSetup3 div div {
        padding         : 10px;
        border          : 1px solid;
        margin          : 5px;
        background-color: #fff;
        cursor          : move;
    }


/* local theme options specifically for this component */




