/* FSS Extension: Sakai widgets */

/* Widget :: Icons */
.fl-theme-slate .fl-widget .more  {background-image:url('../images/slate-icons/icon-widget-More.png'); margin-left:0px;}
.fl-theme-slate .fl-widget .close {background-image:url('../images/slate-icons/icon-widget-Close.png'); margin-right:0px;}
.fl-theme-slate .fl-widget .settings {background-image:url('../images/slate-icons/icon-widget-ShowSettings.png'); margin-right:0px; width:70px; }
.fl-theme-slate .viewOptions {background-image:url('../images/slate-icons/icon-options-ListOrGrid.png'); background-color:#fff;  border:1px solid #000;}
.fl-theme-slate .menu .delete {background-image: url('../images/slate-icons/icon-menu-Delete.png');}    

