/* FSS Extension: Sakai widgets */

/* Widget core */
.fl-theme-hc .fl-widget {background-color:#000; border:1px solid #fff;}
    .fl-theme-hc .fl-widget ul {}
    .fl-theme-hc .fl-widget h2 {color:#fff;}
    .fl-theme-hc .fl-widget a {color:#000;}
    .fl-theme-hc .fl-widget .icon,
	.fl-theme-hc .fl-widget .fl-icon {color:#000; background-image:none; background-color:#fff; text-indent:0; width:auto; height:auto; margin-left:0px; padding:0 2px; display:inline; font-weight:bold;}
        
/* Widget titlebar */
.fl-theme-hc .fl-widget .fl-widget-titlebar {margin-bottom:3px;}

/* Widget options */
.fl-theme-hc .fl-widget .fl-widget-options {padding:0px;}
    .fl-theme-hc .fl-widget .fl-widget-options ul {} 
    .fl-theme-hc .fl-widget .fl-widget-options li {border-left:1px solid #fff;}
    .fl-theme-hc .fl-widget .fl-widget-options a {color:#fff;}
    .fl-theme-hc .fl-widget .fl-widget-options .icon {}
    .fl-theme-hc .fl-widget .fl-widget-options .viewOptions {}
    .fl-theme-hc .fl-widget .fl-widget-options .toggle {}
    
/* Widget content */
.fl-theme-hc .fl-widget .fl-widget-content {background-color:#fff;}

    /* Widget :: Menus */
    .fl-theme-hc .fl-widget .fl-widget-content .menu {padding:0px; overflow-y:auto; overflow-x:hidden; border:1px solid #000; border-bottom:none; zoom:1;}
    .fl-theme-hc .fl-widget .fl-widget-content .menu li {float:left; list-style-type:none; border-bottom:1px solid #000; width:100%; }
    .fl-theme-hc .fl-widget .fl-widget-content .menu a {position:relative; display:block; text-indent:0.25em; font-weight:bold; padding:7px 0 7px 0; color:#000; background-color:#fff;}
    .fl-theme-hc .fl-widget .fl-widget-content .menu a:hover,
    .fl-theme-hc .fl-widget .fl-widget-content .menu a:hover * {background-color:#000; color:#fff;}    
    .fl-theme-hc .fl-widget .fl-widget-content .menu .icon,
	.fl-theme-hc .fl-widget .fl-widget-content .menu .fl-icon	 {position:absolute; right:0; top:5px; background:none; color:#000;}
