<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Dropdown Inline Edit</title>

        <link rel="stylesheet" type="text/css" href="../../../../../src/lib/normalize/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="../../../lib/jquery/plugins/selectbox/selectbox.css" />
        <link rel="stylesheet" type="text/css" href="../../../../../src/lib/jquery/ui/css/default-theme/core.css" />
        <link rel="stylesheet" type="text/css" href="../../../../../src/lib/jquery/ui/css/default-theme/tooltip.css" />
        <link rel="stylesheet" type="text/css" href="../../../../../src/lib/jquery/ui/css/default-theme/theme.css" />
        <link rel="stylesheet" type="text/css" href="../../../../../src/framework/core/css/fluid.css" />
        <link rel="stylesheet" type="text/css" href="../../../../../src/components/inlineEdit/css/InlineEdit.css" />
        <link rel="stylesheet" type="text/css" href="css/InlineEditSelectbox.css" />

        <!-- styling for manual tests -->
        <link rel="stylesheet" type="text/css" href="../../../shared/css/manualTests.css" />

        <script src="../../../../../src/lib/jquery/core/js/jquery.js"></script>
        <script src="../../../../../src/lib/jquery/ui/js/version.js"></script>
        <script src="../../../../../src/lib/jquery/ui/js/widget.js"></script>
        <script src="../../../../../src/lib/jquery/ui/js/position.js"></script>
        <script src="../../../../../src/lib/jquery/ui/js/keycode.js"></script>
        <script src="../../../../../src/lib/jquery/ui/js/scroll-parent.js"></script>
        <script src="../../../../../src/lib/jquery/ui/js/unique-id.js"></script>
        <script src="../../../../../src/lib/jquery/ui/js/tooltip.js"></script>

        <script src="../../../../../src/framework/core/js/FluidDocument.js"></script>
        <script src="../../../../../src/framework/core/js/jquery.keyboard-a11y.js"></script>
        <script src="../../../../../src/framework/core/js/Fluid.js"></script>
        <script src="../../../../../src/framework/core/js/FluidPromises.js"></script>
        <script src="../../../../../src/framework/core/js/FluidIoC.js"></script>
        <script src="../../../../../src/framework/core/js/FluidDebugging.js"></script>
        <script src="../../../../../src/framework/core/js/DataSource.js"></script>
        <script src="../../../../../src/framework/core/js/ResourceLoader.js"></script>
        <script src="../../../../../src/framework/core/js/ResourceLoader-browser.js"></script>
        <script src="../../../../../src/framework/core/js/DataBinding.js"></script>
        <script src="../../../../../src/framework/core/js/FluidView.js"></script>
        <script src="../../../../../src/framework/core/js/FluidView-browser.js"></script>
        <script src="../../../../../src/components/tooltip/js/Tooltip.js"></script>
        <script src="../../../../../src/components/inlineEdit/js/InlineEdit.js"></script>
        <script src="../../../../../src/components/inlineEdit/js/InlineEditIntegrations.js"></script>

        <script src="../../../lib/jquery/plugins/selectbox/jquery.selectbox.js"></script>
    </head>
    <body>
        <aside class="instructions-container">
            <div class="instructions-content">
                <h2>Description</h2>
                <p>
                    The content section below has a constrained inline edit field. A user will be able to select from a predefined set of options to replace the text with.
                </p>
                <h2>Instructions</h2>
                <ol>
                    <li>Activate the inline editable text to open the dropdown</li>
                    <li>Select a different item from the dropdown</li>
                    <li>Presse Enter, or click an item with the mouse to chose an item and close the dropdown.</li>
                </ol>
            </div>
        </aside>
        <main>
            <h1>Dropdown Inline Edit</h1>
            <form>
                Elect an anoetic vocable from this colligation:&nbsp;
                <span id="combo-editable">
                    <span class="flc-inlineEdit-text">Apocatastasis</span>
                    <span class="flc-inlineEdit-editContainer dropdown">
                        <select class="flc-inlineEdit-edit" name="myselectbox" tabindex="1">
                            <option value="Enchiridion">Enchiridion</option>
                            <option value="Apocatastasis">ApoCATTastasis</option>
                            <option value="Exomologesis">Exomologesis</option>
                        </select>
                    </span>
                </span>
                <br/>
                Having elected, you have a plerophory to adumbrate:
                <br/>
                <p>
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                </p>
                <script>
                  $(document).ready(function() {
                      fluid.inlineEdit.dropdown("#combo-editable");
                  });
                </script>
            </form>
        </main>
    </body>
</html>
