/**
 * Two main parts to Pager: Data, and UI
 * Data and UI separated into 2 parts: Layout and Color Themes
 */

/***********************************************************/
/** LAYOUT **/
/* Pager data */
.fl-pager .fl-pager-data {
    .fl-pager-desc {
        background: url(../images/arrow-up.png) no-repeat right;
    }
    
    .fl-pager-asc {
        background: url(../images/arrow-dn.png) no-repeat right;
    }
}
