/**
 * Two main parts to Pager: Data, and UI
 * Data and UI separated into 2 parts: Layout and Color Themes
 */

/***********************************************************/
/** LAYOUT **/
/* Pager data */
.fl-pager .fl-pager-data {
}
.fl-pager .fl-pager-data .fl-pager-desc {
  background: url(../images/arrow-up.png) no-repeat right;
}
.fl-pager .fl-pager-data .fl-pager-asc {
  background: url(../images/arrow-dn.png) no-repeat right;
}

/* Pager UI */
/* Class name for the list container */
.fl-pager .fl-pager-ui {
    margin: 0;
    padding: 0;
}
.fl-pager .fl-pager-ui li {
    list-style-type: none;
    display: inline;
}
.fl-pager .fl-pager-ui a {
    margin: 0 2px;
}
.fl-pager .fl-pager-ui .fl-pager-links a {
    border: 1px solid #ccc;
    background-color: #fff;
    zoom: 1;
}
.fl-pager .fl-pager-ui .fl-pager-links a:hover {
    background-color: #0287C5;
    color: #fff;
    text-decoration:none;
}
.fl-pager .fl-pager-ui .fl-pager-links .fl-pager-currentPage {
    color: #fff;
    border: none;
    outline: 0px;
    background-color: #000;
    text-decoration: none;
    cursor: default;
}
.fl-pager .fl-pager-ui .fl-pager-links .fl-pager-currentPage:hover,
.fl-pager .fl-pager-ui .fl-pager-links .fl-pager-currentPage:focus {
    outline: 2px #000 solid;
    background-color: #000;
}
.fl-pager .fl-pager-ui .fl-pager-disabled a,
.fl-pager .fl-pager-ui .fl-pager-disabled a:hover {
    color: #afafaf;
    cursor: default;
    border: none;
    outline: 0px;
    pointer-events: none;
}

/*On :focus doesnt work*/
.fl-pager .fl-pager-ui .fl-pager-disabled:focus {
    outline: 2px #000 solid;
}

/***********************************************************/
/** THEMES - High Contrast **/
/* Pager data */
.fl-theme-bw .fl-pager .fl-pager-data {
}
.fl-theme-bw .fl-pager .fl-pager-data .fl-pager-desc {
  background: url(../images/arrow-up.png) no-repeat right;
}
.fl-theme-bw .fl-pager .fl-pager-data .fl-pager-asc {
  background: url(../images/arrow-dn.png) no-repeat right;
}

/* Pager UI */
