.orderable-default{
}

.orderable-hover{
  cursor: move;
}

.orderable-selected{
  border: 2px solid #666;
}

.orderable-avatar {
    background-color: blue;
    opacity: 0.75;
}

div .orderable-drop-marker{
  height: 10px !important;
  background-color: #fa7019;
}

