       <!-- Table of contents template -->
        <div id="toc">
            <ul class="flc-toc-levels-level1s">
                <li>
                    <a class="flc-toc-levels-link" href="">1</a>
                </li>
                <ul class="flc-toc-levels-level2s">
                    <li>
                        <a class="flc-toc-levels-link" href="">2</a>
                    </li>
                    <ul class="flc-toc-levels-level3s">
                        <li>
                            <a class="flc-toc-levels-link" href="">3</a>
                        </li>
                        <ul class="flc-toc-levels-level4s">
                            <li>
                                <a class="flc-toc-levels-link" href="">4</a>
                            </li>
                            <ul class="flc-toc-levels-level5s">
                                <li>
                                    <a class="flc-toc-levels-link" href="">5</a>
                                </li>
                                <ul class="flc-toc-levels-level6s">
                                    <li>
                                        <a class="flc-toc-levels-link" href="">6</a>
                                    </li>
                                </ul>
                            </ul>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </div>
