<!-- Table of contents template -->
<ul class="flc-toc-levels-level1">
    <li class="flc-toc-levels-items">
        <a class="flc-toc-levels-link" href="">1</a>
        <ul class="flc-toc-levels-level2">
            <li class="flc-toc-levels-items">
                <a class="flc-toc-levels-link" href="">2</a>
                <ul class="flc-toc-levels-level3">
                    <li class="flc-toc-levels-items">
                        <a class="flc-toc-levels-link" href="">3</a>
                        <ul class="flc-toc-levels-level4">
                            <li class="flc-toc-levels-items">
                                <a class="flc-toc-levels-link" href="">4</a>
                                <ul class="flc-toc-levels-level5">
                                    <li class="flc-toc-levels-items">
                                        <a class="flc-toc-levels-link" href="">5</a>
                                        <ul class="flc-toc-levels-level6">
                                            <li class="flc-toc-levels-items">
                                                <a class="flc-toc-levels-link" href="">6</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
