:focus {
    outline: none;
}

h1 {
    margin-bottom: 0.2em;
}

.demo-container {
    width:95%;
    background-color: #E6E8F4;
    margin: 1em;
    padding: 0.5em;
    min-width: 30em;
}


/**/
/* Main image viewer */
/**/
.demo-container-imageViewer {
    width: 100%;
    height: 24em;
    background-color:#FFFFFF;
    border: 0.1em solid #000;
    text-align:center;
    margin-top:1em;
}

/* Stretch the image to fit the height view container, while maintaining the aspect ratio. */
.demo-image-mainImage {
    height:100%;
    width:auto; /* maintain the aspect ratio even if height resized. */
    min-width: 28em; /* if resized, this is the smallest width the image will have. */
}


/**/
/* Thumbnails */
/**/
.demo-container-imageThumbnails  {
    height: 11em;
    background-color:#CCCBE4;
    border: 1px solid #000;
    margin-top: 0.5em;
    text-align:center;
    overflow:auto;
    position:relative;
    white-space:nowrap;
    z-index:1;
}

.demo-container-imageThumbnails ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}

.demo-container-imageThumbnails ul li {
    display:inline-block;
    margin:0.5em;
    padding:0.3em;
    text-align:center;
}

.demo-container-imageThumbnails img {
    border: 0.1em solid #000;
    height:100%;
    width:auto;
    max-height:7em;
    max-width:auto;
}

/**/
/* Five Star Widget */
/**/
.demo-container-fiveStar {
    width: 100%;
    height: 3em;
    background-color:#CCCBE4;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.demo-container-fiveStar ul {
    /* Place an image of the various 5-star states as the background image */
    background:url("../images/star-matrix.gif") no-repeat scroll 0 0 transparent;
    /*clear:both;*/
    list-style:none outside none;
    padding:0;
    position:relative;
    margin:0;
    height:16px; /* the height of a row in the 5-star image matrix. */
    width:80px;  /* the width of the 5-star image. */
    left:40%;
    }

.demo-container-fiveStar #ranking {
    padding:0;
    position:relative;
    margin:0;
    height:16px; /* the height of a row in the 5-star image matrix. */
    width:80px;  /* the width of the 5-star image. */
    left:40%;
    }
.demo-container-fiveStar #ranking img {
    cursor:pointer;
    float:left;
    display:inline; /* make the 5-star list as a horizontal list. */
}

.demo-container-imageThumbnails img.demo-selected,
.demo-container-imageThumbnails img:hover {
    border: 3px solid black;
}

.demo-activated {
    padding: 10px;
    background-color: white;
}
