:focus {
    outline: 4px black #000 !important;
}

.demo-container{
    background-color: #E6E8F4;
}

h1 {
    margin-bottom: 3px;
}

ul {
    margin:0;
    padding:0;
}
li {
    list-style:none;
    display:block;
}
:focus {
    /* no styles currently. */
}

.image-viewer {
    width: 390px;
    height: 300px;
    background-color:#FFFFFF;
    margin-top: 20px;
    border: 1px solid #000;
    text-align:center;
}

.image-main {
    height:100%;
    width:auto;
    max-height:300px;
    max-width:390px;
}

.five-star {
    width: 390px;
    height: 30px;
    background-color:#CCCBE4;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    text-align:center;
}

.five-star  ul li{
    display:inline;
    margin:5px;
}

.image-thumbnails {
    width: 390px;
    background-color:#CCCBE4;
    border: 1px solid #000;
    margin-top: 10px;
    text-align:center;
}

.image-thumbnails ul {
    padding: 5px;
}

.image-thumbnails ul li {
    margin: 10px;
}

.image-thumbnails img {
    border: 1px solid #000;
}