<div>
    <h2><label for="line-spacing"><span role="presentation" class="fl-icon-text-to-speech"></span>Text-to-Speech</label></h2>
    <div class="fl-uiOptions-fatPanel-toc">
        <input type="checkbox" id="selfVoicing-choice" class="fl-uiOptions-fatPanel-toc-input flc-uiOptions-selfVoicing fl-force-left fl-hidden-accessible" />
        <label for="selfVoicing-choice">
            <span class="fl-uiOptions-fatPanel-switch">
                <span class="fl-uiOptions-fatPanel-switch-inner"></span>
            </span>
        </label>
    </div>
    <div class="fl-uiOptions-option-description fl-uiOptions-fatPanel-option-description">Enable the page to speak itself out loud.</div>
</div>                            