.orderable-default{
  border: 2px solid green;
}

.orderable-hover{
  cursor: move;
}

.orderable-selected{
  border: 2px solid blue;
}

.orderable-avatar {
    background-color: blue;
    opacity: 0.75;
}

div .orderable-drop-marker{
  height: 4px !important;
  margin: 10px;
  width: 80px;
  background-color: green;
}

