body {
    font-family: "Myriad Pro", Helvetica, Tahoma, Verdana, sans-serif;
}

main.content {
    margin: 0;
    max-width: none;
    padding-left: 2rem;
    width: 95%;
}

h1 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 1em;
}

.demo-backButton {
    padding: 20px 0;
}

.demo-backButton a {
    background-color: #3e606f;
    border: 2px solid #3e606f;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.demo-backButton a::before {
    content: "⇦";
    padding-right: 5px;
}
