main {
    width: 95%;
    max-width: 950px;
}

/* Scoped colours for theme swapping */
/*
    Font color: #3E606F
    Button blue: #0071BC
 */
.prefsEditor-demo-theme {
    color: #3E606F;
    background-color: #E8EBE0;
}
.prefsEditor-demo-theme a {
    color: #3E606F;
}

.prefsEditor-demo-theme .demo-goTo-link {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.prefsEditor-demo-theme .demo-goTo-link a {
    padding: 10px;
    background-color: #3E606F;
    color: #FFFFFF;
    border: 2px solid #3E606F;
    text-decoration: none;
}

.prefsEditor-demo-theme .demo-goTo-link a:after {
    content: "⇨";
    padding-left: 5px;
}
