<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
	
<head>
<title>Fluid Lightbox</title>
<script type="text/javascript" src="../js/Lightbox.js"
  rsf:id="scr=contribute-script"></script>
<link type="text/css" rel="stylesheet" href="../css/Lightbox.css" 
  rsf:id="scr=contribute-style" />
</head>

<body>
<h1>Fluid Lightbox</h1>
<div id="fluid.lightbox" tabIndex='0'>
<!--	<p class="debug" id="debugString">Foo</p> -->

	<!-- this div is the one that will be replicated, one per thumbnail -->
						<div rsf:id="thumbs-div:" class="float">
						  <a rsf:id="thumbs-link">
						    <img rsf:id="thumbs-image" border="0" />
						    <div rsf:id="thumbs-name" class="caption">Thumbnail name here.</div>
						  </a>
						</div>




<!--	<div id='fluid.thumb' class='image-container-default' name='fluid.thumb'>
		<a  id='fluid.thumb.link' href='#' name='fluid.thumb.link'>
			<img  id='fluid.thumb.img' src='thumb1.jpg' name='fluid.thumb.img'/>
			<div  id='fluid.thumb.caption' class='image-title' name='fluid.thumb.caption'>
				Image caption  here
			</div>
		</a>
	</div>
-->

</div>

</body>
</html>