<div id="fluid.lightbox" tabIndex='0'>
<!--	<p class="debug" id="debugString">Foo</p> -->

	<!-- this div is the one that will be replicated, one per thumbnail -->
	<div id='fluid.thumb' class='image-container-default' name='fluid.thumb'>
		<a  id='fluid.thumb.link' href='#' name='fluid.thumb.link'>
			<img  id='fluid.thumb.img' src='thumb1.jpg' name='fluid.thumb.img'/>
			<div  id='fluid.thumb.caption' class='image-title' name='fluid.thumb.caption'>
				Image caption  here
			</div>
		</a>
	</div>


</div>
