/* progress demo styles */

/* strawberries image from Simon Koleznik
http://www.flickr.com/photos/simonkoleznik/396358600/
Modified under CC v2.0 generic license. */

/* general */
html {
	background-color: #444;
}

#main {
    position: relative;
    min-height: 300px;
	margin: 0 auto;
	padding: 1em;
	background-color: white;
	border: 3px solid black;
	max-width: 30em;
	min-width: 30em;
}

#inner {
	margin: 0 auto 3em auto;
}

h1 {
	margin-top: 0.5em;
}

abbr {
	border:0px;
}


/* progress bar */
.progress-pop-up {
    display: none;
    text-align: center;
    color: black;
	margin: 0px auto;
    width: 20em;	
    z-index: 3000;
}

.progress-pop-up h3 {
    margin-top: 0;
    margin-bottom: 0.4em;
}

.progress-label {
    margin-top: 0.6em;
    margin-bottom: 0;
}

.progress-bar {
    text-align: left;
    background-image: url('../images/progress-bar-animation.gif');
    background-position: left top;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: white;
    border: 1px solid #000;
    border-left-width: 2px;
    border-right-width: 2px;
    overflow: hidden;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
}

.progress-indicator {
    height: 16px;
    width: 5px;
    border: 1px solid #2D3E76;
    border-right-width: 2px;
    border-left-width: 0px;
    background-color: #7B7EAE;
    -moz-border-radius: 0.1em;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-radius: 0.1em;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
}

.status-area{
	height:5em;
    background-color: #afddc5;
    padding:1em;
}

.status-text, .restart-demo{
    text-align: center;
    display: block;
    margin-top:1em;
}

/* table styles */

div#data-tables {
	margin: 10px 0px 10px 0px;
	border:3px solid #d2d3d5;
	padding: 0px 30px 0px 30px;
}

table#grocery-order {
	width: 100%;
	border: 0px;
	margin-top: 10px;
}

table#grocery-order th {
	font-weight:bold;
	text-align:left;
	border: 0px;
	padding: 2px;	
}

table#grocery-order td, table#totals td {
	border: 0px;
	padding: 2px;
}

table#totals {
	width: 100%;
	border: 0px;
	margin-top: 10px;
}

tr#total-row {
	border-top: 2px solid black;
}
tr#total-row td {
	padding-top:5px;
}

#sub, #service, #total {
	width:18em;
}

p#submit-section {
	text-align:right;
	clear:both;
}

button.enabled {
	background-color: #8bc5eb;
	border: 1px solid black;
	padding:3px 15px 3px 15px;
	color: black;
}

button.disabled {
	background-color: #cbe5f6;
	border: 1px solid #cdcccc;
	padding:3px 15px 3px 15px;
	color: #cdcccc;
}
