/* Soft 2 Scheme */
body, input, select, .blq-solidbg, .blq-solidbg * {color:#000000 !important;background-color:#ffffcc !important;}
* {color:#000000 !important;border-color:#000000 !important;background-color:transparent !important;}
a:link, a:link * {color:#0000ff !important;background-color:#ffffcc !important;}
a:visited, a:visited * {color:#950042 !important;}
a:active, a:active * {color:#007200 !important;}
a:hover, a:hover * {color:#007200 !important;}
#blq-accesslinks li.hide a:focus, #blq-accesslinks li.hide a:active, .blq-toplink a:focus, .blq-toplink a:active {background-color:#ffffcc !important;}
#blq-accesslinks p * {color:#ffffcc !important;background-color:#ffffcc !important;}
body .altcolour1, body .altcolour1 * {background-color:#ecfffb !important;}
body .altcolour2, body .altcolour2 * {background-color:#ecffcc !important;}
body .altcolour3, body .altcolour3 * {background-color:#ffe8cc !important;}

/* Automatic low-graphics */
* {background-image:none !important;}
* {filter:none !important;opacity:1 !important;-moz-opacity:1 !important;}