/* Soft 1 Scheme */
body, input, select, .blq-solidbg, .blq-solidbg * {color:#010066 !important;background-color:#fff9d2 !important;}
* {color:#010066 !important;border-color:#010066 !important;background-color:transparent !important;}
a:link, a:link * {color:#908000 !important;background-color:#fff9d2 !important;}
a:visited, a:visited * {color:#800080 !important;}
a:active, a:active * {color:#5b0000 !important;}
a:hover, a:hover * {color:#555400 !important;}
#blq-accesslinks li.hide a:focus, #blq-accesslinks li.hide a:active, .blq-toplink a:focus, .blq-toplink a:active {background-color:#fff9d2 !important;}
#blq-accesslinks p * {color:#fff9d2 !important;background-color:#fff9d2 !important;}
body .altcolour1, body .altcolour1 * {background-color:#f5f9d2 !important;}
body .altcolour2, body .altcolour2 * {background-color:#f5f9ea !important;}
body .altcolour3, body .altcolour3 * {background-color:#f5eaea !important;}

/* Automatic low-graphics */
* {background-image:none !important;}
* {filter:none !important;opacity:1 !important;-moz-opacity:1 !important;}