/* High Viz Scheme */
body, input, select, .blq-solidbg, .blq-solidbg * {color:#ffff00 !important;background-color:#000000 !important;}
* {color:#ffff00 !important;border-color:#ffff00 !important;background-color:transparent !important;}
a:link, a:link * {color:#00ffff !important;background-color:#000000 !important;}
a:visited, a:visited * {color:#00cfff !important;}
a:active, a:active * {color:#ffffff !important;}
a:hover, a:hover * {color:#00ff00 !important;}
#blq-accesslinks li.hide a:focus, #blq-accesslinks li.hide a:active, .blq-toplink a:focus, .blq-toplink a:active {background-color:#000000 !important;border-color:red;}
#blq-accesslinks p * {color:#000000 !important;background-color:#000 !important;}
body .altcolour1, body .altcolour1 * {background-color:#0000bf !important;}
body .altcolour2, body .altcolour2 * {background-color:#77006d !important;}
body .altcolour3, body .altcolour3 * {background-color:#a30000 !important;}

/* Automatic low-graphics */
* {background-image:none !important;}
* {filter:none !important;opacity:1 !important;-moz-opacity:1 !important;}