/* Reflect Scheme */
body, input, select, .blq-solidbg, .blq-solidbg * {color:#000000 !important;background-color:#cecfce !important;}
* {color:#000000 !important;border-color:#000000 !important;background-color:transparent !important;}
a:link, a:link * {color:#303030 !important;background-color:#cecfce !important;}
a:visited, a:visited * {color:#c00000 !important;}
a:active, a:active * {color:#800000 !important;}
a:hover, a:hover * {color:#008000 !important;}
#blq-accesslinks li.hide a:focus, #blq-accesslinks li.hide a:active, .blq-toplink a:focus, .blq-toplink a:active {background-color:#cecfce !important;}
#blq-accesslinks p * {color:#cecfce !important;background-color:#cecfce !important;}
body .altcolour1, body .altcolour1 * {background-color:#cecfad !important;}
body .altcolour2, body .altcolour2 * {background-color:#cec4cf !important;}
body .altcolour3, body .altcolour3 * {background-color:#c0cfce !important;}

/* Automatic low-graphics */
* {background-image:none !important;}
* {filter:none !important;opacity:1 !important;-moz-opacity:1 !important;}