/* Blue 3 Scheme */
body, input, select, .blq-solidbg, .blq-solidbg * {color:#010066 !important;background-color:#9fcfff !important;}
* {color:#010066 !important;border-color:#010066 !important;background-color:transparent !important;}
a:link, a:link * {color:#f00 !important;background-color:#9fcfff !important;}
a:visited, a:visited * {color:#b10000 !important;}
a:active, a:active * {color:#950060 !important;}
a:hover, a:hover * {color:#4500ff !important;}
#blq-accesslinks li.hide a:focus, #blq-accesslinks li.hide a:active, .blq-toplink a:focus, .blq-toplink a:active {background-color:#9fcfff !important;}
#blq-accesslinks p * {color:#9fcfff !important;background-color:#9fcfff !important;}
body .altcolour1, body .altcolour1 * {background-color:#c5cfff !important;}
body .altcolour2, body .altcolour2 * {background-color:#b7bff4 !important;}
body .altcolour3, body .altcolour3 * {background-color:#aec2ce !important;}

/* Automatic low-graphics */
* {background-image:none !important;}
* {filter:none !important;opacity:1 !important;-moz-opacity:1 !important;}