table {
    width: 100%;
}

thead {
    color: #343499;
    background-color: #CDCDEE;
}

td {
    padding: .5em .2em;
}

input {
    width: 3em;
}

.hidden {
    display: none;
}

.demo-pager-top,.demo-pager-bottom {
    padding: 0.5em;
    width:50%;
}

.demo-pager-top li, .demo-pager-bottom li {
	display:inline;
}

.demo-pager-links li{
    display:inline;
}

a.fl-pager-currentPage {
    color: #000000;
    border: 0;
    text-decoration: none;
}

.fl-pager-disabled a {
    color: #777777;
    border: 0;
    text-decoration: none;
}
