table {
    width: 100%;
}

thead {
    background-color: #FCD6CA;
}

td {
    padding: .5em .2em;
}

input {
    width: 3em;
}

.hidden {
    display: none;
}

.demo-pager-links {
    width: 65%;
}

.demo-pager-controls {
    width:35%;
    margin-top: 1em;
}

.demo-pager-links ul li{
    display:block;
    width:2em;
    float:left;
    margin:2px;
    text-align:center;
}

.demo-pager-links ul .fl-pager-currentPage {
    display:block;
    width:2em;
    float:left;
    background:#000;
}

.demo-pager-previous, .demo-pager-next {
    margin-right: 1em;
}

.fl-pager-currentPage {
    background-color: #000000;
}

a.fl-pager-currentPage {
    color: #FFFFFF;
    border: 0;
    text-decoration: none;
}

.fl-pager-disabled {
    width: 3em;
}

.fl-pager-disabled a {
    color: #777777;
    border: 0;
    text-decoration: none;
}

