/*
         Medium Contrast Greyscale
=============================================
 * Color Schema:
 *     DEFINITIONS:
 *         white     : #ffffff
 *         grey      : #999999
 *         charcoal  : #333333
 *         black     : #000000
 */
.fl-theme-coal :focus,
.fl-theme-coal .selectable  {
   /* themed focus indicator */
   outline: 0.1em solid #000;
}

.fl-theme-coal {color:#000000 !important; background-color:#ebebeb !important; border-color:#000000;}
.fl-theme-coal a {color: #333333 !important; font-weight:bold;}
.fl-theme-coal a:hover {color: #999999 !important;}
.fl-theme-coal h1 {color:#ffffff; border-bottom-width:0.2em; border-bottom-style:solid;} 
.fl-theme-coal h2 {color: #ffffff;}

.fl-theme-coal th {border:0.1em solid #ffffff; background-color:#dfefff !important;}
.fl-theme-coal td {border:0.1em solid #999999 !important;}
.fl-theme-coal .fl-textfield,
.fl-theme-coal .fl-textarea {background-color:#ffffff; border:1px solid #000000;}

/* temp selector to access inline edit input fields (should use a classname but now there is none applied) */
.fl-theme-coal span input {background-color:#ebebeb !important; border:0.1em solid #ffffff; margin:-0.1em;}

/* Helper: Tabs */
.fl-theme-coal .fl-tabs {border-bottom-color:#333333;}
.fl-theme-coal .fl-tabs li,
.fl-theme-coal .fl-tabs li a  {font-weight:bold; color:#ffffff !important; border-color:#333333; border-bottom-color:#333333; background-color:#666666; text-decoration:none;}
.fl-theme-coal .fl-tabs li a:hover {background-color:#333333; color:#fff !important;}

/* Deprecated */
.fl-theme-coal .fl-tabs li.fl-activeTab,
.fl-theme-coal .fl-tabs li.fl-activeTab:hover,
.fl-theme-coal .fl-tabs li.fl-activeTab a,
.fl-theme-coal .fl-tabs li.fl-activeTab a:hover,
/* New syntax */
.fl-theme-coal .fl-tabs li.fl-tabs-active,
.fl-theme-coal .fl-tabs li.fl-tabs-active a,
.fl-theme-coal .fl-tabs li.fl-tabs-active a:hover {background-color: #ebebeb; border-bottom-color:#ebebeb; color:#000 !important;}

.fl-theme-coal .fl-tabs-content {background-color:#ebebeb; color:#000; border:1px solid #333333; border-top:none;}

/* Helper: Menu */
.fl-theme-coal .fl-listmenu {border:1px solid #000000; background-color:#ebebeb;}
.fl-theme-coal .fl-listmenu li,
.fl-theme-coal .fl-listmenu li a  {font-weight:bold; background-color:#ebebeb; border-color:#999999; text-decoration:none;}
.fl-theme-coal .fl-listmenu a:hover {background-color:#ffffff; color:#333333 !important;}
.fl-theme-coal .fl-listmenu .fl-activemenu,
.fl-theme-coal .fl-listmenu .fl-activemenu:hover { background-color: #ffffff; border-bottom-color:#999999; color:#d9d9d9;}

/* Helper: Thumbnail Grid */
.fl-theme-coal .fl-grid {border:2px solid #000000; background-color:#ccc;}
.fl-theme-coal .fl-grid li {background-color:#dfefff; border:1px solid #000000;}
.fl-theme-coal .fl-grid .caption {background-color:#dfefff; color:#ffffff; }

/* Helper: Widgets */
/* Widget core */
.fl-theme-coal .fl-widget {background:#333333 url(FSS_images/themes/coal/widget-bg.png) repeat-x top left; border:1px solid #000000;}                        
    .fl-theme-coal .fl-widget ul {}
    .fl-theme-coal .fl-widget h2 {color:#ffffff;}
    .fl-theme-coal .grabbable {background-image:url('FSS_images/themes/coal/gripper.png');}

/* Widget titlebar */
.fl-theme-coal .fl-widget-titlebar {/*margin:-5px -5px 0 -5px;*/}
    .fl-theme-coal .fl-widget-titlebar .icon {background-position:center center;}

/* Widget options */
.fl-theme-coal .fl-widget-options {}
    .fl-theme-coal .fl-widget-options ul {} 
    .fl-theme-coal .fl-widget-options li {border-left:1px solid #ccc;}
    .fl-theme-coal .fl-widget-options li a {color: #ebebeb !important;}
	.fl-theme-coal .fl-widget-options li a:hover {color: #ffffff !important;}
    .fl-theme-coal .fl-widget-options a.icon:hover {background-color:#ffffff; border-color:#000;}

/* Widget content */
.fl-theme-coal .fl-widget-content {background-color:#ffffff;}


/* Component: Progressor */
.fl-theme-coal .fl-progress-bounds {border-color:#333333; background-color:#ebebeb;}
.fl-theme-coal .fl-progress-fill {color:#ffffff; background-color:#999999;}

/* Component: Uploader */

/* States */
.fl-theme-coal .orderable-drop-marker {background-color:#f00 !important;}
