/*
Generic containers for columns and layouts
=============================================
 */
/* Container alignment */
.fl-force-right {float:right; display:inline;} /* IE 6 needs inline display to prevent double margin bug (other browsers ignore it) */
.fl-force-left {float:left; display:inline;} /* IE 6 needs inline display to prevent double margin bug (other browsers ignore it) */
.fl-centered {margin-left:auto; margin-right:auto;}

/* Generic container, proxy for other container effects */
.fl-fix {overflow: auto; zoom:1;}
.fl-container {}
/* Fixed width containers */
.fl-container-100 {width: 100px;}
.fl-container-150 {width: 150px;}
.fl-container-200 {width: 200px;}
.fl-container-250 {width: 250px;}
.fl-container-300 {width: 300px;}
.fl-container-400 {width: 400px;}
.fl-container-750 {width: 750px;}
.fl-container-950 {width: 950px;}

/* Flex width containers */
.fl-container-auto {width: auto;}
.fl-container-flex {width: 100%; clear:both;}
.fl-container-flex25 {width: 25%;}
.fl-container-flex30 {width: 30%;}
.fl-container-flex33 {width: 33%;}
.fl-container-flex50 {width: 50%;}

/* linearizable containers & columns */
.fl-layout-linear *,
.fl-layout-linear .fl-linearEnabled {
    overflow:visible !important; 
    clear: both !important; 
    float:none !important;
    position:relative !important; 
    margin-left:0 !important;  
    margin-right:0 !important;
    top:0 !important; 
    left:0 !important;
}
.fl-layout-linear .fl-container,
.fl-layout-linear .fl-container-100,
.fl-layout-linear .fl-container-150,
.fl-layout-linear .fl-container-200,
.fl-layout-linear .fl-container-250,
.fl-layout-linear .fl-container-300,
.fl-layout-linear .fl-container-400,
.fl-layout-linear .fl-container-750,
.fl-layout-linear .fl-container-950,
.fl-layout-linear .fl-container-auto, 
.fl-layout-linear .fl-container-flex25, 
.fl-layout-linear .fl-container-flex30, 
.fl-layout-linear .fl-container-flex33, 
.fl-layout-linear .fl-container-flex50,
.fl-layout-linear .fl-col,
.fl-layout-linear .fl-col-side,
.fl-layout-linear .fl-col-flex,
.fl-layout-linear .fl-col-main,
.fl-layout-linear .fl-col-fixed,
.fl-layout-linear .fl-col-justified {width:100% !important; margin:auto; padding:0 !important;}

.fl-layout-linear .fl-force-left, 
.fl-layout-linear .fl-force-right,
.fl-layout-linear li {display:block !important; float:none !important;}

.fl-layout-linear .fl-linearEnabled {width:100% !important; position:relative;} /* linearization opt in for special cases */

/*
Layout Helpers
=============================================
*/
/*
 * Columns: A quick column grid system
 */
/* Flex width columns (containers with margins and padding) */
/* magic derivative is 30: every size should be base 30, to perfectly fit up to 5 columns evenly */
.fl-col {float:left; display:inline; overflow:auto;}
.fl-col-justified {float:left; display:inline; overflow:auto; text-align:justify;}
.fl-col-flex5 .fl-col {width:18.9%; margin:0 0.25%; padding:0 0.25%}
.fl-col-flex4 .fl-col {width:24%; margin:0 0.25%; padding:0 0.25%}
.fl-col-flex3 .fl-col {width:32%; margin:0 0.25%; padding:0 0.25%}
.fl-col-flex2 .fl-col {width:49%; margin:0 0.25%; padding:0 0.25%}

/* CHANGE TO LAYOUT not COL since this will become a layout helper */
.fl-col-mixed,
.fl-col-mixed2,
.fl-col-mixed3 {overflow:auto; zoom:1;}

/* Old System */
.fl-col-mixed .fl-col-side {width:200px;}
.fl-col-mixed .fl-col-side, 
.fl-col-mixed .fl-col-main {padding:0 10px;}

.fl-col-mixed2 .fl-col-side {width:200px; padding:0 10px; float:left;}
.fl-col-mixed2 .fl-col-main {margin-left:220px; padding:0 10px;} /* margin goes on whichever side the fixed column goes */

.fl-col-mixed3 .fl-col-main {margin:0 220px;} /* margin goes on whichever side the fixed column goes */

/* New System, requires fl-force-XX */
.fl-col-mixed .fl-col-fixed {width:200px; padding:0 10px;}
.fl-col-mixed .fl-col-flex {margin-left:220px; padding:0 10px;}

.fl-col-fixed, .fl-col-flex {padding:0 10px;}

.fl-col-mixed-100 .fl-col-fixed {width:100px;}
.fl-col-mixed-100 .fl-col-flex {margin-left:120px;}

.fl-col-mixed-150 .fl-col-fixed {width:150px;}
.fl-col-mixed-150 .fl-col-flex {margin-left:170px;}

.fl-col-mixed-200 .fl-col-fixed {width:200px;}
.fl-col-mixed-200 .fl-col-flex {margin-left:220px;}

.fl-col-mixed-250 .fl-col-fixed {width:250px;}
.fl-col-mixed-250 .fl-col-flex {margin-left:270px;}

.fl-col-mixed-300 .fl-col-fixed {width:300px;}
.fl-col-mixed-300 .fl-col-flex {margin-left:320px;}



/*
 * Tabs: a quick tab system
 * Dependency: list-based markup ?
 */
.fl-tabs-center {text-align:center;}
.fl-tabs-left {text-align:left; padding-left:10px;}
.fl-tabs-right {text-align:right; padding-right:15px;}
.fl-tabs {margin:5px 0 0px; border-bottom: 1px solid}
.fl-tabs .fl-activeTab {}
.fl-tabs li {border:1px solid; list-style-type:none; padding:3px 8px; text-align:center; margin-bottom:-1px; margin-right:-5px; cursor:pointer;}
.fl-tabs li, x:-moz-any-link {display:-moz-inline-box;} /* FF2 inline-block workaround */
.fl-tabs li {display:inline-block;} /* Opera, Safari, Chrome */
.fl-tabs li, x:-moz-any-link, x:default {display:inline-block;}  /* reset for FF 3*/
.fl-tabs li {*display:inline;} /* IE only selector */
.fl-tabs .orderable-drop-marker {width:0.5em; height:1.5em; padding-left:0.2em; padding-right:0.2em; margin:0;}
/*
 * Menus: quick horizontal and vertical menu
 * Requires list items with anchors
 */
.fl-listmenu {padding:0px;}
.fl-listmenu li {margin:0; padding:0; list-style-type:none;}
.fl-listmenu a {padding:5px 5px; display:block; zoom:1;} /* list item needs layout (http://www.brunildo.org/test/IEWlispace.php) */

.fl-vert-menu {
    
}

.fl-horz-menu {
    
}


/*
 * Picture Grid: a quick picture grid layout
 * Dependency: list-based markup
 */
.fl-grid {padding:2px;}
.fl-grid li {list-style-type:none; display:inline;}
.fl-grid li {float:left; width:18%; margin:2px; height:150px; overflow:hidden; position:relative; display:inline;}
.fl-grid li img {display:block; margin:0 auto;}
.fl-grid li .caption {position:absolute; left:0px; bottom:0px; width:100%; text-align:center; height:1em; padding:3px 0;}

/*
 * Icons: quick accessible icon helper
 */
.fl-icon {
    text-indent:-5000px; 
    overflow:hidden; 
    cursor:pointer; 
    display:block; 
    height:16px; 
    width:16px; 
    margin-left:5px; 
    margin-right:5px;
    background-position:center center; 
    background-repeat:no-repeat;
}
input.fl-icon {padding-left:16px;}

/*
 * Buttons: quick sliding door buttons
 * requires a container with a sub container
 */

.fl-button-left {float:left; margin-right:10px; padding:0 0 0 1.95em; background-position:left top; background-repeat:no-repeat;}
.fl-button-left * {float:left; padding: 0.5em 0.5em 0.55em 0; cursor:pointer; background-position:left top; background-repeat:no-repeat;}
.fl-button-right {float:right;  margin-left:10px; padding:0 0 0 1.95em; background-position:left top; background-repeat:no-repeat;}
.fl-button-right * {float:left; padding: 0.5em 0.5em 0.55em 0; cursor:pointer; background-position:left top; background-repeat:no-repeat;}

/*
 * Widgets: modelled after the mycamtools widget model
 */
.fl-widget {padding:5px; margin-bottom:10px;}
.fl-widget .button {margin:0 5px;}
.fl-widget .fl-widget-titlebar {} /* fixes layout problem in IE6 due to .column {position:relative} setup*/
.fl-widget .fl-widget-titlebar h2 {padding:0; margin:0; font-size:105%;}
.fl-widget .fl-widget-controls {margin:-1.3em 0 1.5em 0;}
.fl-widget .fl-widget-options {margin-top:3px; padding:5px 10px 0px 10px;}
.fl-widget .fl-widget-options ul {margin:0; padding:0; overflow:hidden; zoom:1;} 
.fl-widget .fl-widget-options li {list-style-type:none; float:left; display:inline; padding:0 5px 0 5px; margin-left:-5px;}
.fl-widget .fl-widget-options a {margin-right:5px;}
.fl-widget .fl-widget-content {zoom:1; margin:5px 0 0 0; overflow: auto;}
.fl-widget .fl-widget-content ul {}
.fl-widget .empty * {padding-top:10px; margin-left:auto; margin-right:auto; text-align:center;}

/* Common widget sub-components */
.fl-widget .menu 	{margin:0;}
.fl-widget .grabbable {cursor:move; background-position:center top; background-repeat:no-repeat;}
.fl-widget h2.grabbable {background-position:center top;}
/*.fl-widget .icon 	{text-indent:-5000px; cursor:pointer; display:block; height:16px; width:16px; margin-left:5px; margin-right:5px; background-repeat:no-repeat;}*/
.fl-widget .toggle  {width:32px;}
.fl-widget .on 		{background-position:left top;}
.fl-widget .off 	{background-position:left bottom;}


/*
 * Forms and Form Controls
 * Common arrangements for form inputs
 */
/* Alignment requires list of label elements placed before the control */
.fl-controls-left li {list-style-type:none; text-align:left;}
.fl-controls-left .fl-label {float:left; text-align:left; width:50%; margin-right:5px;}
.fl-controls-centered li {list-style-type:none; display:block; text-align:left;}
.fl-controls-centered .fl-label {float:left; text-align:right; width:50%; margin-right:5px; color:#0080ff;}


/*
 * Progressive Enhancement
 */
.fl-progressive-enhancer {display:none;}

/*
Component Specific
=============================================
*/

/* INLINE EDIT */
.fl-component-inlineEdit span input {margin:-2px; padding:0;} /* auto generated input fields */



/* PROGRESSOR */
.fl-progress-bounds {border-width:1px; border-style:solid; padding:2px;}
.fl-progress-fill {width:100%;}
