
/* line-height is 0.2 em larger than font size */
.fl-font-size-70, 
.fl-font-size-70 input, 
.fl-font-size-70 select, 
.fl-font-size-70 textarea {font-size:0.7em !important; line-height:1em !important;}

.fl-font-size-80, 
.fl-font-size-80 input, 
.fl-font-size-80 select, 
.fl-font-size-80 textarea {font-size:0.8em !important; line-height:1.1em !important;}

.fl-font-size-90, 
.fl-font-size-90 input, 
.fl-font-size-90 select, 
.fl-font-size-90 textarea {font-size:0.9em !important; line-height:1.2em !important;}

.fl-font-size-100, 
.fl-font-size-100 input, 
.fl-font-size-100 select, 
.fl-font-size-100 textarea {font-size:1em !important; line-height:1.3em !important;}

.fl-font-size-110, 
.fl-font-size-110 input, 
.fl-font-size-110 select, 
.fl-font-size-110 textarea {font-size:1.1em !important; line-height:1.4em !important;}

.fl-font-size-120, 
.fl-font-size-120 input, 
.fl-font-size-120 select, 
.fl-font-size-120 textarea {font-size:1.2em !important; line-height:1.5em !important;}


/* Apply pixel reset to container, then every relevant child node is set relative to that */
/*.fl-font-size-130 input, 
.fl-font-size-130 select, 
.fl-font-size-130 textarea,
.fl-font-size-130 * {font-size:1em !important; line-height:1.2em !important;}
.fl-font-size-130, 
.fl-font-size-130 body {font-size:16.9px !important; line-height:18px !important;} 
.fl-font-size-130 h1 {font-size:150% !important; line-height:200% !important;} 
.fl-font-size-130 h2 {font-size:135% !important; line-height:165% !important;} 
.fl-font-size-130 h3 {font-size:125% !important; line-height:150% !important;} 
.fl-font-size-130 h4 {font-size:120% !important; line-height:135% !important;} 
.fl-font-size-130 h5 {font-size:110% !important; line-height:120% !important;} 
.fl-font-size-130 h6 {font-size:105% !important; line-height:110% !important;} 
*/
.fl-font-size-130, 
.fl-font-size-130 input, 
.fl-font-size-130 select, 
.fl-font-size-130 textarea {font-size:1.3em !important; line-height:1.6em !important;}

.fl-font-size-140, 
.fl-font-size-140 input, 
.fl-font-size-140 select, 
.fl-font-size-140 textarea {font-size:1.4em !important; line-height:1.7em !important;}

.fl-font-size-150, 
.fl-font-size-150 input, 
.fl-font-size-150 select, 
.fl-font-size-150 textarea {font-size:1.5em !important; line-height:1.8em !important;}

.fl-font-serif, .fl-font-serif * {font-family: Georgia, Times, "Times New Roman", "Book Antiqua", serif !important;}
.fl-font-sans, .fl-font-sans * {font-family: Tahoma, Verdana, Helvetica, sans-serif !important;}
.fl-font-monospace, .fl-font-monospace * {font-family: "Courier New, Courier", monospace !important;}

.fl-font-arial, .fl-font-arial * {font-family: "Arial" !important;}
.fl-font-verdana, .fl-font-verdana * {font-family: "Verdana" !important;}
.fl-font-times, .fl-font-times *   {font-family: Georgia, Times, "Times New Roman", serif !important;}
.fl-font-courier, .fl-font-courier * {font-family: "Courier New", Courier, monospace !important;}

.fl-font-aqua {color: aqua;}
.fl-font-black {color: black;}
.fl-font-blue {color: blue;}
.fl-font-fuchsia {color: fuchsia;}
.fl-font-gray {color: gray;}
.fl-font-green {color: green;}
.fl-font-lime {color: lime;}
.fl-font-maroon {color: maroon;}
.fl-font-navy {color: navy;}
.fl-font-olive {color: olive;}
.fl-font-purple {color: purple;}
.fl-font-red {color: red;}
.fl-font-silver {color: silver;}
.fl-font-teal {color: teal;}
.fl-font-white {color:white;}
.fl-font-yellow {color: yellow;}

.fl-font-spacing-0 {letter-spacing:0em}
.fl-font-spacing-1 {letter-spacing:0.1em}
.fl-font-spacing-2 {letter-spacing:0.2em}
.fl-font-spacing-3 {letter-spacing:0.3em}
.fl-font-spacing-4 {letter-spacing:0.4em}
.fl-font-spacing-5 {letter-spacing:0.5em}
.fl-font-spacing-6 {letter-spacing:0.6em}