/*
              High Contrast
=============================================
 */
/*
 * Color Schema:
 *     DEFINITIONS:
 *         white     : #ffffff
 *         black     : #000000

 */
.fl-theme-hc :focus,
.fl-theme-hc .selectable  {
   /* themed focus indicator */
   outline: 2px solid #000;
}

.fl-theme-hc {color:#000000; background-color:#ffffff;}
.fl-theme-hc a {color: #000; font-weight:bold; background-color:#fff;}
.fl-theme-hc a:hover {color: #fff; background-color:#000;}
.fl-theme-hc h1 {color:#fff; background-color:#000;} 
.fl-theme-hc h2 {color:#fff; background-color:#000;} 

.fl-theme-hc th {border:1px solid #000; background-color:#000; color:#fff}
.fl-theme-hc td {border:1px solid #999999;}
.fl-theme-hc .fl-textfield {}
.fl-theme-hc .fl-textarea {}

/* temp selector to access inline edit input fields (should use a classname but now there is none applied) */
.fl-theme-hc span input {background-color:#000; color:#fff; border: 1px solid #fff; padding:3px; margin:-1px;}

/* Wrappers and Callouts  */
.fl-theme-hc .fl-wrapper-widget { border:3px solid #000; background-color:#fff; color:#000;}
.fl-theme-hc .fl-wrapper-callout { border-color:#fff; background-color:#999; }

/* Helper: Tabs */
.fl-theme-hc .fl-tabs {border-bottom-color:#000;}

.fl-theme-hc .fl-tabs li  {background-color:#000;}
.fl-theme-hc .fl-tabs li,
.fl-theme-hc .fl-tabs li a  {font-weight:bold; color:#fff; background-color:#000; border-color:#000; border-bottom-color:#000; text-decoration:none;}


.fl-theme-hc .fl-tabs li:hover,
.fl-theme-hc .fl-tabs li:hover a,
.fl-theme-hc .fl-tabs li a:hover {background-color:#fff; color:#000;}

.fl-theme-hc .fl-tabs li.fl-activeTab,
.fl-theme-hc .fl-tabs li.fl-activeTab:hover,
.fl-theme-hc .fl-tabs li.fl-activeTab a,
.fl-theme-hc .fl-tabs li.fl-activeTab a:hover {background-color: #fff; border-bottom-color:#fff; color:#000;}

.fl-theme-hc .fl-tab-content {background-color:#ffffff; color:#000;}

/* Helper: Menu */
.fl-theme-hc .fl-listmenu {border:1px solid #4070a1; background-color:#fff;}
.fl-theme-hc .fl-listmenu li,
.fl-theme-hc .fl-listmenu li a  {font-weight:bold; color:#4070a1; background-color:#dfefff; border-color:#4070a1; text-decoration:none;}

.fl-theme-hc .fl-listmenu a:hover {background-color:#5a95cf; color:#fff;}
.fl-theme-hc .fl-listmenu .fl-activemenu,
.fl-theme-hc .fl-listmenu .fl-activemenu:hover { background-color: #fff; border-bottom-color:#fff; color:#508cc9;}

/* Helper: Thumbnail Grid */
.fl-theme-hc .fl-grid {border:2px solid #4070a1; background-color:#fff;}
.fl-theme-hc .fl-grid li {background-color:#dfefff; border:1px solid #4070a1}
.fl-theme-hc .fl-grid .caption {background-color:#dfefff; color:#5a95cf; }
/*
.fl-theme-hc .fl-grid a:hover,
.fl-theme-hc .fl-grid a:hover .caption {background-color:#5a95cf; color:#fff;}
*/

/* Helper: Dialogs */
.fl-theme-hc .fl-dialog-modal {position:absolute; opacity:0.5; filter:alpha(opacity=50); background-color:#333; top:0; left:0; height:100%; width:100%;}
.fl-theme-hc .fl-dialog-content {}


/*
                Coal
=============================================
 */

