.preview {font-size:13px; background:#e8ffea url(../../images/uioptions/main_bg.png) no-repeat fixed 400px 96px; padding: 0 10px;}
.preview h1 {margin:5px -10px; padding:5px 0 5px 10px;}
.preview h2 {}
.preview h3 {}
.preview p {background:url(../../images/uioptions/border_1.png) no-repeat scroll left top; padding:5px;}
.preview img {float:right; margin:10px 0;}
.preview strong {}
.preview em {}
.preview ul {}
.preview ol {}
.preview li {}
.preview table {}
.preview table thead {}
.preview table thead th {background-color:#fff;}
.preview table tbody {}
.preview table tbody td {}
.preview table tfoot {}
.preview table tfoot th {} 