/* CSS Specifically for the UI Options dialog and Preview window */
.ui_options_container {background-color:#efefef; zoom:1; overflow:hidden; padding:0 10px 10px;}
.ui_options_container form {float:left;}
.ui_options_container fieldset {font-family:Tahoma,Arial, sans-serif; margin:0; padding:0;}
.ui_options_container legend {font-size:1.2em;}
.ui_options_container input.save {}
.ui_options_container .optionsCluster {padding:5px 0; border-top:1px solid #ccc; margin-bottom:-1px;}
.ui_options_container .optionsCluster ol {margin:0; padding:3px;}
.ui_options_container .optionsCluster li {list-style-type:none;}
.ui_options_container .optionsCluster input {margin-right:5px;}
.ui_options_container .optionsCluster input, .optionsCluster label {cursor:pointer;}
.ui_options_container .previewWindow {float:right; /*border:1px solid #ccc;*/ background-color:#fff;}
.ui_options_container .previewWindow .previewTitle {margin:0; padding:10px; color:#333; background-color:#ccc}
.ui_options_container .previewWindow iframe { height:350px; width:100%; border:none; margin:0; padding:0;}         

/* Forced nested theme overrides */
#fl-theme-hc {background-color:#fff !important;}
#fl-theme-hc label {color:#000 !important;}
#fl-theme-hc label a {color:#000 !important; font-weight:bold; text-decoration:underline;}
#fl-theme-hc label a:hover {background-color:#000 !important; color:#fff !important; font-weight:bold; text-decoration:underline;}

#fl-theme-mist {background-color:#fff !important;}
#fl-theme-mist label {color:#000 !important;}
#fl-theme-mist label a {color:#4070A1 !important; font-weight:bold; text-decoration:none;}
#fl-theme-mist label a:hover {background-color:#fff !important; color:#6DB5FB !important; font-weight:bold; text-decoration:none;}

#fl-theme-rust {background-color:#F2E0B6 !important}
#fl-theme-rust label {color:#000 !important; background-color:transparent !important;}
#fl-theme-rust label a {color:#916535 !important; background-color:transparent !important; font-weight:bold; text-decoration:none;}
#fl-theme-rust label a:hover {background-color:transparent !important; color:#914E38 !important; font-weight:bold; text-decoration:none;}

#fl-font-arial label {font-family: "Arial" !important;}
#fl-font-times label {font-family: Georgia, Times, "Times New Roman", serif !important;}
#fl-font-courier label {font-family: "Courier New", Courier, monospace !important;}
#fl-font-verdana label {font-family: "Verdana" !important;}

