/* CSS Specifically for the UI Options dialog and Preview window */
.ui_options_container {background-color:#efefef; overflow:auto;}
.ui_options_container form {float:left;}
.ui_options_container fieldset {font-family:Tahoma,Arial, sans-serif; margin:0; padding:0;}
.ui_options_container legend {font-size:1.2em;}
.ui_options_container .previewWindow {float:left; border:1px solid #ccc;background-color:#fff;}
.ui_options_container .previewWindow .header {margin:0; padding:10px; color:#333; background-color:#ccc}
.ui_options_container .previewWindow .preview {overflow:auto; height:300px;}
.ui_options_container .optionsCluster {overflow:auto; padding:5px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc; margin-bottom:-1px;}
.ui_options_container .optionsCluster li {list-style-type:none;}
.ui_options_container .optionsCluster input {margin-right:5px;}
.ui_options_container .optionsCluster input, .optionsCluster label {cursor:pointer;}

.preview {font-size:13px; background-color:#e8ffea;}
.preview div {background: url(../../images/uioptions/main_bg.png) no-repeat fixed 400px 96px; padding: 0 10px;}
.preview h1 {margin:5px -10px; padding:5px 0 5px 10px;}
.preview h2 {}
.preview h3 {}
.preview p {background:url(../../images/uioptions/border_1.png) no-repeat scroll left top; padding:5px;}
.preview img {float:right; margin:10px 0;}
.preview strong {}
.preview em {}
.preview ul {}
.preview ol {}
.preview li {}
.preview table {}
.preview table thead {}
.preview table thead th {background-color:#fff;}
.preview table tbody {}
.preview table tbody td {}
.preview table tfoot {}
.preview table tfoot th {}            
