.fluid-uploader { 
    width: 434px;
    position: relative;
	display: block;
	clear: both;
}

.fluid-uploader-inline {
	margin-top: 2em;
	padding: 1em 2em;
}

.fluid-uploader form {
    height: auto !important;
}

.fluid-uploader a.fluid-uploader-browse {
    background-image: url(../images/uploader/add.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 5px center;
    padding: 3px 6px 3px 25px;
    border: 1px solid transparent;
    white-space: nowrap;
    color: #427ABE;
    font-weight: normal;
    cursor: pointer;
}

.fluid-uploader a.fluid-uploader-browse:hover {
    border: 1px solid #CCC;
    background-color: #FFF;
}

.fluid-uploader a.fluid-uploader-browse:focus, .fluid-uploader a.fluid-uploader-browse.focus {
    border: 2px solid #142B8C;
    background-color: #FFF;
}

/* FILE QUEUE TABLE STYLES */

/* caption */

.fluid-uploader-queue-wrapper caption {
    display: none;
}

/* header rows */

.fluid-scroller-table-head {
    background-color: transparent;
    color: #666;
}

.fluid-scroller-table-head th { 
    text-align: left;
    font-size: 0.94em;
    font-weight: normal;
    padding: 6px;
}

/* footer rows */

.fluid-scroller-table-foot {
    position: relative;
    background-color: #E6E6E6;
    border: 1px solid #999;
}

.fluid-scroller-table-foot table { 
	width: 100%;
    position:relative;
    z-index:6;
}

.fluid-scroller-table-foot td {
    padding: 8px 6px;
    vertical-align: middle;
    font-size: 1.07em;
    font-weight: bolder;
    color: #666;
}

.fluid-scroller-table-foot td.footer-button {
    text-align: right;
}


/* tbody */

.fluid-scroller {
    display: block;
    position: relative;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
	border-width: 1px 1px 0;
	border-style: solid;
	border-color: #999;
}

.fluid-scroller thead {
    display: none;
}

.fluid-scroller .scroller-inner {
    position: relative;
    overflow: hidden;
}
        
.fluid-uploader-queue {
    position: relative;
    font-size: 0.9em;
    color: #333;
    z-index: 6;
}

/* hidden from IE6 */
html>body .fluid-uploader-queue {
	width: 100%;	
}

/* this style is here for debugging, if everything is working right the list items are focusable but the list not. */
.fluid-uploader-queue:focus, .fluid-uploader-queue.focus {
    border: 1px solid #142B8C;
}

.fluid-uploader-queue tr {
    background-color: transparent;
}

/* second CSS selector is added only for IE6 */

.fluid-uploader-queue tr.ready:hover, .fluid-uploader-queue tr.hover  {
    background-color: #FFF9DC;
}

.fluid-uploader-queue tr:focus, .fluid-uploader-queue tr.focus {
    background-color: #FFF9DC;
}

.fluid-uploader-queue tr:focus td, .fluid-uploader-queue tr:focus th, .fluid-uploader-queue tr.focus td, .fluid-uploader-queue tr.focus th {
    border-top: 2px solid #142B8C;
    border-bottom: 2px solid #142B8C;
    padding: 2px 4px;
}

.fluid-uploader-queue tr:focus td:last-child,.fluid-uploader-queue tr.focus td:last-child {
    border-right: 2px solid #142B8C;
}

.fluid-uploader-queue tr:focus th, .fluid-uploader-queue tr.focus th {
    border-left: 2px solid #142B8C;
}

.fluid-uploader-queue tr.dim {
    color: #666;
}

.fluid-uploader-queue td, .fluid-uploader-queue th { 
    text-align: left;
    padding: 3px 6px;
    border-bottom: 1px solid #BBCFDC;
}

.fluid-uploader-queue-wrapper .fileName {
    width: 322px;
    overflow: hidden;
}

.fluid-uploader-queue-wrapper .fileSize {
    text-align: right;
    width: 4em;
    white-space: nowrap;
}

.fluid-uploader-queue .iconBtn {
    border: 1px solid transparent;
    height: 20px;
    width: 20px;
    overflow: hidden;
    background-color: transparent;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    outline: 0;
    padding: 0;
    margin: 0;
    outline: none;
}

.fluid-uploader-queue .iconBtn:hover {
    border: 1px solid transparent;
    background-color: transparent;
    cursor: auto;
}

.fluid-uploader-queue .iconBtn.dim {
    border: 1px solid transparent;
    background-color: transparent;
    cursor: auto;
}

.fluid-uploader-queue .removeFile {
    background-image: url(../images/uploader/remove.png);
    cursor: pointer !important;
}

.fluid-uploader-queue .removeFile:hover, .fluid-uploader-queue tr.ready:focus .removeFile, .fluid-uploader-queue tr.focus .removeFile {
    border: 1px solid #CCC;
    background-color: #FFF;
}

.fluid-uploader-queue .removeFile:focus, .fluid-uploader-queue .removeFile.focus {
    background-color: #4F99D3;
    outline: none;
}

.fluid-uploader-queue .uploaded th, .fluid-uploader-queue tr.uploaded:focus th, .fluid-uploader-queue tr.focus th   {
    border-left: 4px solid #74B74A;
    color: #5E7A5E;
}

.fluid-uploader-queue .uploaded td {
    color: #5E7A5E;
}

.fluid-uploader-queue .uploaded .iconBtn {
    background-image: url(../images/uploader/tick.png);
}

.fluid-uploader-queue .error th {
    border-left: 4px solid #F5E392;
}

.fluid-uploader-queue .error .iconBtn {
    background-image: url(../images/uploader/error.png);
}

.fluid-uploader-queue-wrapper td.actions, .fluid-uploader-queue-wrapper th.actions {
    text-align: center;
}

.fluid-uploader-queue td.actions, .fluid-uploader-queue td.fileStatus { 
    white-space: nowrap;
}

.fluid-uploader-queue-wrapper .fluid-uploader-browse-instructions {
    background-color: #F0F9FF;
    color: #666;
    text-align: center;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding: 6px;
}

.fluid-uploader-btns {
    margin-top: 1em;
}

.fluid-uploader-btns .fluid-uploader-upload, .fluid-uploader-btns .fluid-uploader-resume,  .fluid-uploader-btns .fluid-uploader-pause {
    width: 8.4em;
}

.fluid-uploader-btns .fluid-uploader-done, .fluid-uploader-btns .fluid-uploader-cancel {
    width: 7.6em;
}

.fluid-uploader-btns button {
    float: right;
    padding: 0;
}

.fluid-uploader-btns button:focus, .fluid-uploader-btns button.focus {
    border-width: 3px;
    border-color: #142B8C;
}

button span.text-description {
    display: none;
}

/* element states */

.disabled, .dim {
    cursor: auto; 
}

.disabled {
    background-color: #CCC !important;
    border-color: #999 !important;
}

.dim {
    opacity: 0.4;
    filter:alpha(opacity=40);
}

.hidden {
    display: none;
}

.fluid-templates {
	display: none;
}


/* ERRORS
 * 
 */

.fluid-uploader-queue .queue-error-row td {
    border-top: 1px dotted #E6E6E6;
    border-left: 4px solid #F5E392;
}


/* PROGRESS */

.file-progress, .total-progress {
    position: absolute;
    display: none;
    background-attachment: scroll;
    background-position: bottom left;
    background-repeat: repeat-x;
    overflow: hidden;
    left: 0;
    z-index:4;
}

.file-progress {
    background-image: url('../images/progress/gradient-file.png');
    background-color: #D1D6DD;
    width:76%;
}

.file-progress .file-progress-text {
    display: none;
}

.total-progress {
    top: 0;
    height: 100%;
    background-image: url('../images/progress/gradient-total.png');
    background-color: #BDBFC1;
    width:76%;
}