.instructions-container {
    box-shadow: 1px 1px 5px 1px #707070;
    background:#fefabc;
    max-width: 50em;
    margin: 1em auto;
}

.instructions-content {
    padding: 0.5em 1em;
}

.instructions-content h2 {
    font-size: 2em;
}

.instructions-note {
    padding-top: 0.5em;
}

/* Contrast theme specific styles */

/* matches any class containing fl-theme- on the body, except the default */
body[class*="fl-theme-"]:not([class*="default"]) .instructions-container {
    box-shadow: none;
    border: 10px double;
}