html {
    font-family: sans-serif;
}

.fl-demo-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.fl-demo-content {
    border: 1rem solid transparent;
    margin-top: 4rem;
    max-width: 50rem;
}
