.modboxin_s, .modtitle_s {
  background-color: #ffeac0;
  border-color: #f29f3e;
}
.modtitle {
  background-color: #ffeac0;
  border-color: #fbd499;
  border-top-color: #f29f3e;
}
.modboxin {
  border-color: #fbd499;
}
.selectedtab,
.modtitle, .modtitle_s,
.modtitle a:visited, .modtitle a:link, .modtitle a:active {
  color: #d2501e;
}
#addcontent_button {
  background-color: #d2501e;
}
.modtitle a.el, .modtitle a.csl {
  color: #f29f3e;
}
.modtitle a.el:hover, .modtitle a.csl:hover {
  color: #d2501e;
}
.selectedtab, #footerwrap {
  border-color: #f29f3e;
}
.unselectedtab {
  border-color:#f29f3e;
  background-color:#ffeac0;
}
.unselectedtab, .unselectedtab_r, .unselectedtab_l,
.selectedtab_r, .selectedtab_l, .tab.spacer, .tab.addtab,
#addstuff {
  border-bottom-color: #f29f3e;
}
.tab_hover {
  background-color: #d2501e;
  border-top-color: #d2501e;
  border-left-color: #d2501e;
  border-right-color: #d2501e;
  color: #ffffff;
}
a.ddbox {
  background-image: url('/ig/images/arrow_orange.gif');
}
a.delbox {
  background-image: url('/ig/images/x_orange.gif');
}
a.minbox {
  background-image: url('/ig/images/min_orange.gif');
}
a.maxbox {
  background-image: url('/ig/images/max_orange.gif');
}
a.ddbox:hover {
  background-image:url('/ig/images/arrow_orange_highlight.gif');
}
a.delbox:hover {
  background-image:url('/ig/images/x_orange_highlight.gif');
}
a.minbox:hover {
  background-image:url('/ig/images/min_orange_highlight.gif');
}
a.maxbox:hover {
  background-image:url('/ig/images/max_orange_highlight.gif');
}
.dd_border {
  border-color: #f29f3e;
}
.dialog .titlebar {
  border-color: #f29f3e;
  background: #ffeac0;
}
.dialog .body {
  border-color: #f29f3e;
}
