/* Comment */

table {
    background-color: #ddd;
    font-size: 16px;
}

.cat a {
    background-image: url("cats.png");
    font-size: 24px;
}

span {
    font-size: 12px;  /* Setting font size */
}

.sheep {
    cue: url('http://sheep.org');
}
