form, #inline-edit4 {
    padding: 1em;
}

.editContainer {
    display: none;
}

.invitation {
    background-color: #FFECB3;
}

.invitation-text {
    color: #999999;
}
.focus {
    border: 2px solid #777777;
}
