.example {clear:both;}
.myColumn {border:1px solid #ccc; background-color:#ebebeb; padding:5px; margin:0 2px;}
.myColumn div {padding:5px; background-color:#fff; border:1px solid #ccc; margin:5px 0;}

.fl-reorderer-avatar {
    background-color:#00DD00;
    border:2px solid #006600;
    height:100%;
    padding:0 10px; 
}
