/* Top bar and show/hide button */
.fl-uiOptions-fatPanel .fl-panelBar {
	height: 1em;
}

.fl-uiOptions-fatPanel .fl-panelBar ul {
	border-radius: 8px;	
	border-bottom: 1px solid #ccc;
	display:inline-block;
	box-shadow: 2px 2px 3px 0px #6f6f6f;
 	float: right;
 	margin-right: 10em;	
}

.fl-uiOptions-fatPanel .fl-panelBar ul li {
	display:inline;
}

.fl-uiOptions-fatPanel .fl-toggleButton,
.fl-uiOptions-fatPanel .fl-uiOptions-reset {
	float:right;
	text-transform: lowercase;
	font-weight: bold;	
	border: 0px;
	background-color: white;	
	padding: 0.5em;
}

.fl-uiOptions-fatPanel .fl-uiOptions-reset {
	border-right: 1px solid #ccc;
}

/* IFrame */
.fl-uiOptions-fatPanel-iframe {
    border: 0;
    background-color: #fff;
    height: 0px;
    display: block;
}

/* Theming */
.fl-theme-bw .fl-uiOptions-fatPanel .fl-panelBar, 
.fl-theme-bw .fl-uiOptions-fatPanel .fl-toggleButton,
.fl-theme-yb .fl-uiOptions-fatPanel .fl-uiOptions-reset { background-color: #fff; border-color: #000; }

.fl-theme-wb .fl-uiOptions-fatPanel .fl-panelBar, 
.fl-theme-wb .fl-uiOptions-fatPanel .fl-toggleButton,
.fl-theme-yb .fl-uiOptions-fatPanel .fl-uiOptions-reset { background-color: #000; border-color: #fff; color: #fff; }

.fl-theme-by .fl-uiOptions-fatPanel .fl-panelBar, 
.fl-theme-by .fl-uiOptions-fatPanel .fl-toggleButton,
.fl-theme-yb .fl-uiOptions-fatPanel .fl-uiOptions-reset { background-color: #FFFF00; border-color: #000; }

.fl-theme-yb .fl-uiOptions-fatPanel .fl-panelBar, 
.fl-theme-yb .fl-uiOptions-fatPanel .fl-toggleButton,
.fl-theme-yb .fl-uiOptions-fatPanel .fl-uiOptions-reset { background-color: #000; border-color: #ffff00; color: #ffff00 }
