/* Top bar and show/hide button */
.fl-uiOptions-fatPanel .fl-panelBar {
	width: 100%;
	height: 5px;
	background-color: #fff;
	border-bottom: 1px solid #ccc;	
}

.fl-uiOptions-fatPanel .fl-toggleButton {
	float:right;
	text-transform: uppercase;
	font-weight: bold;	
	border: 0px;
	background-color: white;	
	padding: 5px;
	margin-right: 10px;
	border-radius: 8px;	
	border-bottom: 1px solid #ccc;
}

.fl-uiOptions-fatPanel-iframe {
    border: 0;
}