/* UI Options Fat Panel styles */
.fl-uiOptions-fatPanel {
    min-width: 960px;
	min-width: inherit;
    background-color: #fff;
    background-image: url('../images/default/fatpanelbg.png');
    background-repeat: repeat;
    height: 14em;    
    overflow-x: scroll;
   /* overflow-y: hidden;*/
    color: #433F3D;
    margin-top: 15px;
}

/* Reset link */
.fl-uiOptions-fatPanel #reset {
    color: #000;    
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width:5em;
    margin: 0 2em 1em;
    padding-left: 1.6em;
    background-image: url('../images/default/uio_icon_reset_defaultInverted_16x16.png'); 
	background-repeat: no-repeat;    
}

/* Preference Panels */
.fl-uiOptions-fatPanel ul.fl-uiOptions-panels {
	margin: 0 20px;
    width: 181em;	
}

.fl-uiOptions-fatPanel .fl-uiOptions-panels li.fl-uiOptions-panel {
	border: 1px solid #615e59;
	border-radius: 5px;
 	box-shadow: 2px 2px #7a766d;
 	display: inline-block;
 	padding: 1em;
 	min-height: 8em;
 	width: 25em;
 	background-color: #fff;
	margin-right: 10px;
	float: left;
 }

.fl-uiOptions-fatPanel h2 {
	color: #433F3D;
    padding: 0 0 0.5em 0;
    margin: 0 0 1em 0;   
    width: 100%; 
    border-bottom: solid #ccc 1px;
	box-shadow: 0px 6px 7px -6px rgba(0,0,0,0.3);
	font-size: 1.2em;
	text-transform: lowercase;
}

.fl-uiOptions-fatPanel .fl-inputs {
	float: none;
}

.fl-uiOptions-fatPanel label {
    font-size: 1em;
}

/* Sliders */
.fl-uiOptions-fatPanel .fl-slider {
	border: 1px solid #b3b3b3;
	border-radius: 5px;	
    background-color: #dad6d3;
    padding: 0;
    position: relative;
    height: 1em;
    margin-top: 0;
}

.fl-uiOptions-fatPanel .fl-slider a {
	height: 35px;
	width: 35px;
	margin-top: -10px;
	margin-left: -5px;
	background-color: #fff;
	border: 1px solid #b3b3b3;	
	border-radius: 2em;
	box-shadow: 4px 2px 3px rgba(0,0,0,0.3);	
	
	background-image: linear-gradient(right top, rgb(255,255,255) 46%, rgb(233,234,234) 73%);
	background-image: -o-linear-gradient(right top, rgb(255,255,255) 46%, rgb(233,234,234) 73%);
	background-image: -moz-linear-gradient(right top, rgb(255,255,255) 46%, rgb(233,234,234) 73%);
	background-image: -webkit-linear-gradient(right top, rgb(255,255,255) 46%, rgb(233,234,234) 73%);
	background-image: -ms-linear-gradient(right top, rgb(255,255,255) 46%, rgb(233,234,234) 73%);
	
	background-image: -webkit-gradient(
		linear,
		right top,
		left bottom,
		color-stop(0.46, rgb(255,255,255)),
		color-stop(0.73, rgb(233,234,234))
	);	
}
.fl-uiOptions-fatPanel .fl-slider a { 
    background-image: none;
}

.fl-uiOptions-fatPanel .fl-slider-horz {
}
.fl-uiOptions-fatPanel .fl-slider-input {
    /* margin-left: 2em;*/
    float:left; 
}

.fl-uiOptions-fatPanel .ui-slider-range { 
	background-color: #62bb3d; 
	height: 100%;	
}

/* Radio buttons */
.fl-uiOptions-fatPanel .fl-choice {
	display: inline;
	float: left;	
}

.fl-uiOptions-fatPanel .fl-choice label {
	margin-right: 5px;
	
	border: 1px solid black;
	border-radius: 5px;
	height: 3em;
	width: 3em;
	text-align: center;
	vertical-align: middle
}

.fl-uiOptions-fatPanel .fl-choice .fl-preview-default {
	/* diagonal line through option */
	border-bottom: 1px dashed #ddbdc0;
	-webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);  
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/	
}


.fl-uiOptions-fatPanel .fl-choice .fl-preview-A {
	font-size: 2.5em;
}

.fl-uiOptions-fatPanel .fl-choice input:focus + label {
	border: 2px solid blue;
}

/** Table of Contents switch **/

.fl-uiOptions-fatPanel .fl-uiOptions .fl-uiOptions-fatPanel-toc {
	width: 5.6em;
	height:2em;
	margin-right:10px;
	float:left;
}

.fl-uiOptions-fatPanel .fl-uiOptions .fl-uiOptions-fatPanel-option-description {
	padding: 0; /* override .fl-uiOptions-option-description style. */
}

/* The container for the toggle, which is also a label for the hidden checkbox. */
.fl-uiOptions-fatPanel .fl-uiOptions .fl-uiOptions-fatPanel-switch { 
	border-radius:50px;
	border: 1px solid #776D67;
	width: 4.6em;
	height: 2em;
	background-color: #E6E6E6;
	box-shadow: 1em 1.1em 0 0 rgba(250,250,250,0.53) inset;
	overflow:hidden;
	vertical-align: middle;
	display:inline-block;
	transition-duration: 0.2s;
	transition-property: padding-left, width, background-color, margin-left;
	font-size: 1.2em;
}

.fl-uiOptions-fatPanel .fl-uiOptions .fl-uiOptions-fatPanel-toc-input:focus + label {
	outline: 2px solid black;
}

.fl-uiOptions-fatPanel .fl-uiOptions .fl-uiOptions-fatPanel-toc-input:checked + label .fl-uiOptions-fatPanel-switch {
	padding-left: 2.6em;
	width: 2em;
	background-color: #2da750;
	box-shadow: -1em 1.1em 0.1em 0 rgba(172, 216, 92, 0.63) inset;
}

/* The "on" portion of the toggle and the knob. */
.fl-uiOptions-fatPanel .fl-uiOptions .fl-uiOptions-fatPanel-toc-input + label .fl-uiOptions-fatPanel-switch:before {
	content:"ON";
	color: #fff;
	border: 1px solid #776D67;
	border-radius: 50px;
	float:left;
	width:1.9em; 
	height: 1.9em; /* Width and height of the knob. */
	text-indent:-1.6em;
	line-height:2em;
	text-shadow: 1px 1px 1px #000;
	background-color: #fff;
	background-image: linear-gradient(bottom, rgb(205,204,202) 0%, rgb(244,244,244) 100%);
	background-image: -o-linear-gradient(bottom, rgb(205,204,202) 0%, rgb(244,244,244) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(205,204,202) 0%, rgb(244,244,244) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(205,204,202) 0%, rgb(244,244,244) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(205,204,202) 0%, rgb(244,244,244) 100%);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(205,204,202)),
		color-stop(1, rgb(244,244,244))
	);
	box-shadow: 0.2em 0.2em 0.5em #888;
}

/* The "off" portion of the toggle. */
.fl-uiOptions-fatPanel .fl-uiOptions .fl-uiOptions-fatPanel-toc-input + label .fl-uiOptions-fatPanel-switch:after {
	content:"OFF";
	float:left;
	position:relative;
	top: 0.5em;	
	left: 0.5em;
}

.fl-uiOptions-fatPanel .fl-uiOptions .fl-uiOptions-fatPanel-toc-input:checked + label .fl-uiOptions-fatPanel-switch:after {
	display:hidden;
}

/* The dark inner circle to the toggle knob. */
.fl-uiOptions-fatPanel .fl-uiOptions .fl-uiOptions-fatPanel-switch-inner {
	border: 1px solid #493A30;
	border-radius: 50px;
	width: 1em;
	height: 1em;
	position:relative;
	left:-2.7em;
	top:0.46em;
	
	background-color: #675243;
	box-shadow: 0 -0.2em 0.3em 0.05em rgba(250, 250, 250, 0.3) inset;
	
	display:inline-block;
}

.fl-uiOptions-fatPanel .fl-uiOptions .fl-uiOptions-fatPanel-toc-input:checked + label .fl-uiOptions-fatPanel-switch .fl-uiOptions-fatPanel-switch-inner {
	top:-1.6em;
	left: 0.5em;
}


/* Theming */
/* Override theme tab rounding */
.fl-theme-bw .fl-uiOptions-fatPanel .fl-tab .ui-corner-all, 
.fl-theme-wb .fl-uiOptions-fatPanel .fl-tab .ui-corner-all, 
.fl-theme-by .fl-uiOptions-fatPanel .fl-tab .ui-corner-all, 
.fl-theme-yb .fl-uiOptions-fatPanel .fl-tab .ui-corner-all { -moz-border-radius: 0px; border: 0px; }

/* Tab images - black on white */
.fl-theme-bw .fl-uiOptions-fatPanel .fl-tab-text { background-image: url('../images/bw/uio_icon_textanddisplay_hcInverted_16x16.png'); }
.fl-theme-bw .fl-uiOptions-fatPanel .fl-tab-layout { background-image: url('../images/bw/uio_icon_layoutandnavigation_hcInverted_16x16.png'); }
.fl-theme-bw .fl-uiOptions-fatPanel .fl-tab-links { background-image: url('../images/bw/uio_icon_linksandbuttons_hcInverted_16x16.png'); }
.fl-theme-bw .fl-uiOptions-fatPanel #reset { background-image: url('../images/bw/uio_icon_reset_hcInverted_16x16.png'); }
.fl-theme-bw .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-text,
.fl-theme-bw .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-text { background-image: url('../images/bw/uio_icon_textanddisplay_hc_16x16.png'); }
.fl-theme-bw .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-layout, 
.fl-theme-bw .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-layout { background-image: url('../images/bw/uio_icon_layoutandnavigation_hc_16x16.png'); }
.fl-theme-bw .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-links,
.fl-theme-bw .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-links { background-image: url('../images/bw/uio_icon_linksandbuttons_hc_16x16.png'); }

/* Tab images - white on black */
.fl-theme-wb .fl-uiOptions-fatPanel .fl-tab-text { background-image: url('../images/wb/uio_icon_textanddisplay_hciInverted_16x16.png'); }
.fl-theme-wb .fl-uiOptions-fatPanel .fl-tab-layout { background-image: url('../images/wb/uio_icon_layoutandnavigation_hciInverted_16x16.png'); }
.fl-theme-wb .fl-uiOptions-fatPanel .fl-tab-links { background-image: url('../images/wb/uio_icon_linksandbuttons_hciInverted_16x16.png'); }
.fl-theme-wb .fl-uiOptions-fatPanel #reset { background-image: url('../images/wb/uio_icon_reset_hciInverted_16x16.png'); }
.fl-theme-wb .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-text,
.fl-theme-wb .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-text { background-image: url('../images/wb/uio_icon_textanddisplay_hci_16x16.png'); }
.fl-theme-wb .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-layout,
.fl-theme-wb .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-layout { background-image: url('../images/wb/uio_icon_layoutandnavigation_hci_16x16.png'); }
.fl-theme-wb .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-links,
.fl-theme-wb .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-links { background-image: url('../images/wb/uio_icon_linksandbuttons_hci_16x16.png'); }

/* Tab images - black on yellow */
.fl-theme-by .fl-uiOptions-fatPanel .fl-tab-text { background-image: url('../images/by/uio_icon_textanddisplay_blackYellowInverted_16x16.png'); }
.fl-theme-by .fl-uiOptions-fatPanel .fl-tab-layout { background-image: url('../images/by/uio_icon_layoutandnavigation_blackYellowInverted_16x16.png'); }
.fl-theme-by .fl-uiOptions-fatPanel .fl-tab-links { background-image: url('../images/by/uio_icon_linksandbuttons_blackYellowInverted_16x16.png'); }

.fl-theme-by .fl-uiOptions-fatPanel #reset { background-image: url('../images/by/uio_icon_reset_blackYellowInverted_16x16.png'); }
.fl-theme-by .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-text,
.fl-theme-by .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-text { background-image: url('../images/by/uio_icon_textanddisplay_blackYellow_16x16.png'); }
.fl-theme-by .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-layout,
.fl-theme-by .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-layout { background-image: url('../images/by/uio_icon_layoutandnavigation_blackYellow_16x16.png'); }
.fl-theme-by .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-links,
.fl-theme-by .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-links { background-image: url('../images/by/uio_icon_linksandbuttons_blackYellow_16x16.png'); }

/* Tab images - yellow on black */
.fl-theme-yb .fl-uiOptions-fatPanel .fl-tab-text { background-image: url('../images/yb/uio_icon_textanddisplay_yellowBlackInverted_16x16.png'); }
.fl-theme-yb .fl-uiOptions-fatPanel .fl-tab-layout { background-image: url('../images/yb/uio_icon_layoutandnavigation_yellowBlackInverted_16x16.png'); }
.fl-theme-yb .fl-uiOptions-fatPanel .fl-tab-links { background-image: url('../images/yb/uio_icon_linksandbuttons_yellowBlackInverted_16x16.png'); }
.fl-theme-yb .fl-uiOptions-fatPanel #reset { background-image: url('../images/yb/uio_icon_reset_yellowBlackInverted_16x16.png'); }
.fl-theme-yb .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-text,
.fl-theme-yb .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-text { background-image: url('../images/yb/uio_icon_textanddisplay_yellowBlack_16x16.png'); }
.fl-theme-yb .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-layout,
.fl-theme-yb .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-layout { background-image: url('../images/yb/uio_icon_layoutandnavigation_yellowBlack_16x16.png'); }
.fl-theme-yb .fl-uiOptions-fatPanel .ui-tabs-selected .fl-tab-links,
.fl-theme-yb .fl-uiOptions-fatPanel .ui-state-hover .fl-tab-links { background-image: url('../images/yb/uio_icon_linksandbuttons_yellowBlack_16x16.png'); }

/* Adjust colours for specific themes */
.fl-theme-bw .fl-uiOptions-fatPanel .ui-widget-header { background: 0;}
.fl-theme-bw .fl-uiOptions-fatPanel ul.fl-tabs { background-color: #000; }
.fl-theme-bw .fl-uiOptions-fatPanel .fl-tabs .ui-tabs-selected a { background-color: #fff !important;  color: #000 !important; }

.fl-theme-wb .fl-uiOptions-fatPanel .ui-widget-header { background: 0;}
.fl-theme-wb .fl-uiOptions-fatPanel ul.fl-tabs  { background-color: #fff; }
.fl-theme-wb .fl-uiOptions-fatPanel .fl-tabs .ui-tabs-selected a { background-color: #000 !important; color: #fff !important; }

.fl-theme-by .fl-uiOptions-fatPanel .ui-widget-header { background: 0;}
.fl-theme-by .fl-uiOptions-fatPanel  ul.fl-tabs  { background-color: #000; }
.fl-theme-by .fl-uiOptions-fatPanel .fl-tabs .ui-tabs-selected a { background-color: #ffff00 !important; color: #000 !important; }

.fl-theme-yb .fl-uiOptions-fatPanel .ui-widget-header { background: 0;}
.fl-theme-yb .fl-uiOptions-fatPanel  ul.fl-tabs  { background-color: #ffff00; }
.fl-theme-yb .fl-uiOptions-fatPanel .fl-tabs .ui-tabs-selected a { background-color: #000 !important; color: #ffff00 !important; }