/* UI Option styles for full page w/ preview */

/* Overall styles */

.fl-uiOptions ul li {
    clear:both; 
}

/* Section headers */
.fl-uiOptions-fullPreview h2 {
	font-size: 1.29em;
	font-weight: bold;
	clear: both;
	border-top: 2px solid #dddddd;
	color: #444444;
	padding-top: 14px;
	padding-bottom: 22px;	
}

.fl-uiOptions-fullPreview h2 img {
	margin-bottom: -3px;
	padding-right: 5px;
}

/* Form */

/* Categories of options (e.g., Text & Display, Layout & Navigation) */
.fl-uio-category {
    padding-bottom: 48px; /* separation between categories */
}

/* Individual options (e.g., text size, simplify layout, emphasize links) */
.fl-uio-option-2col {
    padding-top: 40px;
}

.fl-uio-option-1col {
    padding-top: 28px;
}

.fl-uio-option-first {
    padding-top: 8px;
}

/* Descriptions */
.fl-uio-option-description {
	color: #4D4D4D;
	margin-bottom: 0px;
	padding-top: 5px;
}

/* Labels */
.fl-uiOptions-fullPreview label {
	text-transform: uppercase;
	font-size: 1.2em;
}

/* Preview Area */
.fl-uiOptions-fullPreview .fl-uio-preview iframe {
	height: 480px;
	width: 100%;
	border: 2px solid #d7d7d7;
}

/* Apply buttons */
.fl-uiOptions-fullPreview .fl-uio-buttons {
	margin-top: 1em;
	float: left;
}

.fl-uiOptions-fullPreview .fl-uio-buttons input {
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
	color: #333333;
/*  border: 2px solid #d7d7d7;*/
    background: -moz-linear-gradient(bottom, #e0e0e0, #fff);
    padding: 5px;
	height: 32px;
	font-size: 1em;
    margin-right: 3px;
}

.fl-uiOptions-fullPreview .fl-uio-buttons .fl-uio-save {
	padding-left: 16px;
	background-image: url("../../../../components/uiOptions/images/uio_icon_save_13x13.png");
	background-repeat: no-repeat;
	background-position: 4px 6px;
    background: -moz-linear-gradient(bottom, #e0e0e0, #fff);
}

.fl-uiOptions-fullPreview .fl-uio-buttons .fl-uio-cancel {
	padding-left: 16px;
	background-image: url("../../../../components/uiOptions/images/uio_icon_cancel_13x13.png");
	background-repeat: no-repeat;
	background-position: 3px 6px;
    background: -moz-linear-gradient(bottom, #e0e0e0, #fff);
}

.fl-uio-preview h2 {
	font-weight: lighter;
	font-size: 1.8em;
	color: #4D4D4D;
	padding-top: 18px;
	padding-bottom: 22px;
}
