/* UI Option styles for full page w/ preview */

/* Section headers */
.fl-uiOptions-fullPreview h2 {
	border-top: 2px solid #dddddd;
}

/* Form */

/* Categories of options (e.g., Text & Display, Layout & Navigation) */
.fl-uio-category {
    padding-bottom: 48px; /* separation between categories */
}

/* Individual options (e.g., text size, simplify layout, emphasize links) */
.fl-uio-option-2col {
    padding-top: 40px;
}

.fl-uio-option-1col {
    padding-top: 28px;
}

.fl-uio-option-first {
    padding-top: 8px;
}

.fl-uiOptions ul li {
    clear: both; 
}

/* Descriptions */
.fl-uio-option-description {
	color: #4D4D4D;
	margin-bottom: 0px;
	padding-top: 5px;
}

/* Labels */
.fl-uiOptions-fullPreview label {
	text-transform: uppercase;
	font-size: 1.2em;
}

/* Preview Area */
.fl-uiOptions-fullPreview .fl-uio-preview iframe {
	height: 480px;
	width: 100%;
	border: 2px solid #d7d7d7;
}

.fl-uio-preview h2 {
	font-weight: lighter;
	font-size: 1.8em;
	color: #4D4D4D;
	padding-top: 18px;
	padding-bottom: 22px;
}
