/* UI Option styles for full page w/ or w/o preview */

.fl-col-fixed-31em { width: 31em; }
.fl-col-fixed-38em { width: 38em; }
.fl-col-fixed-54em { width: 54em; }
.fl-col-fixed-72em { width: 72em; }
