/* UI Option styles for full page w/ or w/o preview */


/* Section headers */

.fl-uiOptions h2 {
	font-size: 1.29em;
	font-weight: bold;
	clear: both;
	color: #444444;
	padding: 14px 0px 5px 25px;
}

.fl-uiOptions h2 img {
	margin-bottom: -3px;
	padding-right: 5px;
}

/* Save & apply, reset, cancel buttons */

.fl-uiOptions .fl-uiOptions-buttons {
	margin-top: 1em;
	float: left;
	width: 100%;
}

.fl-uiOptions .fl-uiOptions-buttons input {
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
  	border: 2px solid #cecece;
	font-size: 1em;
    padding: 5px;
	height: 2.5em;
    margin-right: 3px;
    background-color: #F0F0F0;
}

.fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-save {
	padding-left: 20px;
	/* background: -moz-linear-gradient(bottom, #e0e0e0, #fff;) */
	background-image: url("../images/uio_icon_save_13x13.png");
	background-repeat: no-repeat;
	background-position: 0.4em 0.75em;
}

.fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-cancel {
	padding-left: 20px;
	background-image: url("../images/uio_icon_cancel_13x13.png");
	background-repeat: no-repeat;
	background-position: 0.4em 0.75em;
}

/* header icons */
.fl-uiOptions .fl-uiOptions-text-icon {
	background-image: url("../images/uio_icon_textanddisplay_18x18.png");
	background-repeat: no-repeat;
	background-position: 0px 0.7em;
}
.fl-uiOptions .fl-uiOptions-layout-icon {
	background-image: url("../images/uio_icon_layoutandnavigation_18x18.png");
	background-repeat: no-repeat;
	background-position: 0px 0.7em;	
}
.fl-uiOptions .fl-uiOptions-links-icon {
	background-image: url("../images/uio_icon_linksandbuttons_18x18.png");
	background-repeat: no-repeat;
	background-position: 0px 0.7em;	
}

/* THEME DATA */
.fl-theme-hc .fl-uiOptions .fl-uiOptions-text-icon { background-image: url("../images/hc/uio_icon_textanddisplay_black_18x18.png"); }
.fl-theme-hc .fl-uiOptions .fl-uiOptions-layout-icon { background-image: url("../images/hc/uio_icon_layoutandnavigation_black_18x18.png"); }
.fl-theme-hc .fl-uiOptions .fl-uiOptions-links-icon { background-image: url("../images/hc/uio_icon_linksandbuttons_black_18x18.png"); }

.fl-theme-hci .fl-uiOptions .fl-uiOptions-text-icon { background-image: url("../images/hci/uio_icon_textanddisplay_white_18x18.png"); }
.fl-theme-hci .fl-uiOptions .fl-uiOptions-layout-icon { background-image: url("../images/hci/uio_icon_layoutandnavigation_white_18x18.png"); }
.fl-theme-hci .fl-uiOptions .fl-uiOptions-links-icon { background-image: url("../images/hci/uio_icon_linksandbuttons_white_18x18.png"); }

.fl-theme-yellowBlack .fl-uiOptions .fl-uiOptions-text-icon { background-image: url("../images/yellowBlack/uio_icon_textanddisplay_yellow_18x18.png"); }
.fl-theme-yellowBlack .fl-uiOptions .fl-uiOptions-layout-icon { background-image: url("../images/yellowBlack/uio_icon_layoutandnavigation_yellow_18x18.png"); }
.fl-theme-yellowBlack .fl-uiOptions .fl-uiOptions-links-icon { background-image: url("../images/yellowBlack/uio_icon_linksandbuttons_yellow_18x18.png"); }

/* Linearization tweaks */
.fl-layout-linear .fl-uiOptions .fl-uiOptions-text-icon, .fl-layout-linear .fl-uiOptions .fl-uiOptions-layout-icon, .fl-layout-linear .fl-uiOptions .fl-uiOptions-links-icon {
	padding-left: 20px !important;
}