/* UI Option styles for full page w/ or w/o preview */


/* Section headers */

.fl-uiOptions h2 {
	font-size: 1.29em;
	font-weight: bold;
	clear: both;
	color: #444444;
	padding-top: 14px;
	padding-bottom: 22px;
	padding-left: 0px;	
}

.fl-uiOptions h2 img {
	margin-bottom: -3px;
	padding-right: 5px;
}


/* Save & apply, reset, cancel buttons */

.fl-uiOptions .fl-uiOptions-buttons {
	margin-top: 1em;
	float: left;
	width: 100%;
}

.fl-uiOptions .fl-uiOptions-buttons input {
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
	color: #333333;
/*  border: 2px solid #d7d7d7;*/
    background: -moz-linear-gradient(bottom, #e0e0e0, #fff);
    padding: 5px;
	height: 32px;
	font-size: 1em;
    margin-right: 3px;
}

.fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-save {
	padding-left: 16px;
	background-image: url("../../../../components/uiOptions/images/uio_icon_save_13x13.png");
	background-repeat: no-repeat;
	background-position: 4px 6px;
    background: -moz-linear-gradient(bottom, #e0e0e0, #fff);
}

.fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-cancel {
	padding-left: 16px;
	background-image: url("../../../../components/uiOptions/images/uio_icon_cancel_13x13.png");
	background-repeat: no-repeat;
	background-position: 3px 6px;
    background: -moz-linear-gradient(bottom, #e0e0e0, #fff);
}

/* Check boxes */

.fl-uiOptions input[type="checkbox"] {
	margin-right:10px;
	margin-bottom: 2em;
	border: 1px solid black;
}

