/* General UIOptions styles, used across all layouts */

.fl-uiOptions {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    font-size: 0.85em;
}

.fl-uiOptions p {
    font-size: 1.1em;
}

/* Form list */

.fl-uiOptions ul {
	margin-left: 0px;
}

.fl-uiOptions ul li {
    list-style: none;
}

/* Text and display section */
.fl-uiOptions .fl-uio-form label {
    display: block;
    float: left;
	width: 14em;	
}

.fl-uiOptions .fl-uio-form .fl-inputs {
	float: left;
}

.fl-uiOptions input[type="text"] {
	width:2em;
}

/* Slider position. More slider styles in /css/Slider.css */
.fl-uiOptions .fl-slider {
	float:left;
	margin-right: 10px;
}

/* Check boxes */
.fl-uiOptions input[type="checkbox"] {
	margin-right:10px;
	margin-bottom: 2em;
	border: 1px solid black;
}

/* Font Select box */
.fl-uiOptions select {
	border: 2px solid #ebebeb;
}

.fl-uiOptions select#text-font { 
	font-weight:bold; 
}
.fl-uiOptions select#text-font option.times { font-family: "Times New Roman"; }
.fl-uiOptions select#text-font option.comic { font-family: "Comic Sans MS"; }
.fl-uiOptions select#text-font option.arial { font-family: Arial; }
.fl-uiOptions select#text-font option.verdana { font-family: Verdana; }

/* Theme Select box */
.fl-uiOptions select#theme { 
	font-weight:bold; 
	text-transform: uppercase;
}
.fl-uiOptions select#theme option.default { color: #000; background-color: #efefef;}
.fl-uiOptions select#theme option.bw { color: #fff; background-color: #000;}
.fl-uiOptions select#theme option.wb { color: #000; background-color: #fff;}
.fl-uiOptions select#theme option.by { color: #000; background-color: #ffee00;}
.fl-uiOptions select#theme option.yb { color: #ffee00; background-color: #000;}

/**
 * Sliders: basic slider structure
 * requires an anchor for a drag handle
 */

/* LAYOUT DATA */
.fl-uiOptions .fl-slider-vert {height:10em; width:0.8em;}
.fl-uiOptions .fl-slider-horz {width:140px; height:3px; -moz-border-radius: 100%; -webkit-border-radius: 100%;}
.fl-uiOptions .fl-slider {position:relative; background-color:#555555; padding:0;}
.fl-uiOptions .fl-slider .fl-handle, .fl-slider a {position:absolute; display:block; height:32px; width:32px; top:0; left:0;}
.fl-uiOptions .fl-slider a { background-image:url('../images/uio_icon_sliderhandle.png'); background-repeat:no-repeat; background-position:center center; bottom: 16px;}
.fl-uiOptions .fl-slider-vert .fl-handle, .fl-slider-vert a {margin-left:-0.2em; margin-top:-0.5em;}
.fl-uiOptions .fl-slider-horz .fl-handle, .fl-slider-horz a {margin-top:-14px; margin-left:-6px;}
.fl-uiOptions .fl-left-slider-image { padding-right: 8px; }
.fl-uiOptions .fl-right-slider-image { padding-left: 0px; padding-right: 10px;}

/* THEME DATA */
.fl-uiOptions .fl-theme-hc .fl-slider {background-color:#000;}
.fl-uiOptions .fl-theme-hc .fl-slider .fl-handle, 
.fl-uiOptions .fl-theme-hc .fl-slider a,
.fl-uiOptions .fl-theme-hc .fl-slider a:hover {border:1px solid #000 !important; background-color:#fff !important;}

.fl-uiOptions .fl-theme-hci .fl-slider {background-color:#fff;}
.fl-uiOptions .fl-theme-hci .fl-slider .fl-handle, 
.fl-uiOptions .fl-theme-hci .fl-slider a,
.fl-uiOptions .fl-theme-hci .fl-slider a:hover {border:1px solid #fff !important; background-color:#000 !important;}

.fl-uiOptions .fl-theme-slate .fl-slider {background-color:#ccc;}
.fl-uiOptions .fl-theme-slate .fl-slider .fl-handle, 
.fl-uiOptions .fl-theme-slate .fl-slider a,
.fl-uiOptions .fl-theme-slate .fl-slider a:hover {border:1px solid #000; background-color:#999;}

.fl-uiOptions .fl-theme-coal .fl-slider {background-color:#ccc;}
.fl-uiOptions .fl-theme-coal .fl-slider .fl-handle, 
.fl-uiOptions .fl-theme-coal .fl-slider a,
.fl-uiOptions .fl-theme-coal .fl-slider a:hover {border:1px solid #000; background-color:#999;}

.fl-uiOptions .fl-theme-mist {}