/* General UI Options styles, used for all layouts */

.fl-uiOptions {
    font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
}

/* Controls */
.fl-uiOptions ul {
    margin-left: 0px;
}

.fl-uiOptions ul li {
    list-style: none;
}

.fl-uiOptions label {
    text-transform: lowercase;
    font-size: 1.2em;
}

.fl-uiOptions input[type="text"] {
    width:2em;
    font-size: 1em;
}

/* Sliders */
.fl-uiOptions .fl-slider {
    float:left;
    margin-right: 10px;
}

/* Check boxes */
.fl-uiOptions input[type="checkbox"] {
    margin-right:10px;
    border: 1px solid black;
}

/* Drop downs */
.fl-uiOptions select {
    border: 2px solid #ebebeb;
}

.fl-uiOptions select#textFont { font-weight:bold; }
.fl-uiOptions select#textFont option.times { font-family: "Times New Roman"; }
.fl-uiOptions select#textFont option.comic { font-family: "Comic Sans MS"; }
.fl-uiOptions select#textFont option.arial { font-family: Arial; }
.fl-uiOptions select#textFont option.verdana { font-family: Verdana; }

.fl-uiOptions select#theme { font-weight:bold; text-transform: uppercase; }

/* 
    Had to add !importants in order for this style to still show up when another contrast theme has been selected
    It should be removed when we have an Infusion Theme
*/
.fl-uiOptions select#theme option.fl-uio-default-theme { color: #000 !important; background-color: #efefef !important;}

/* Text and display controls */
.fl-uiOptions .fl-uiOptions-text label {
    display: block;
}

.fl-uiOptions .fl-uiOptions-text .fl-inputs {
    float: left;
    font-size: 1em;
}

/* Layout and links controls */
.fl-uiOptions .fl-uiOptions-option-description {
    padding-top: 5px;
    font-size: 1.1em;
}

.fl-uiOptions .fl-uiOptions-layout div, 
.fl-uiOptions .fl-uiOptions-links div {
    margin-left: 25px;
}

/* Slider specifics */
.fl-uiOptions .fl-slider {    
    border: 1px solid #b3b3b3;
    border-radius: 0.3em;   
    background-color: #dad6d3;
    padding: 0;
    position: relative;
    height: 1em;
    margin-top: 0;    
}

.fl-uiOptions .fl-slider a {
    position:absolute; 
    display:block; 
    top:0; 
    left:0;
    height: 2.2em;
    width: 2.2em;
    margin-top: -0.75em;
    margin-left: -0.4em;
    background-color: #fff;
    border: 1px solid #b3b3b3;  
    border-radius: 2em;
    box-shadow: 4px 2px 3px rgba(0,0,0,0.3);    
    background-image: -o-linear-gradient(right top, rgb(255,255,255) 46%, rgb(233,234,234) 73%);
    background-image: -moz-linear-gradient(right top, rgb(255,255,255) 46%, rgb(233,234,234) 73%);
    background-image: -webkit-linear-gradient(right top, rgb(255,255,255) 46%, rgb(233,234,234) 73%);
    background-image: -ms-linear-gradient(right top, rgb(255,255,255) 46%, rgb(233,234,234) 73%);
    background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        color-stop(0.46, rgb(255,255,255)),
        color-stop(0.73, rgb(233,234,234))
    );    
    background-image: linear-gradient(right top, rgb(255,255,255) 46%, rgb(233,234,234) 73%);   
}
.fl-uiOptions .fl-slider a:active { outline: none; }

.fl-uiOptions .fl-slider-horz {
    width:11em; 
}

.fl-uiOptions .fl-slider-input {
    margin-left: 1em;
    float:left; 
}

.fl-uiOptions .ui-slider-range { 
    background-color: #62bb3d; 
    height: 100%;   
}

.fl-uiOptions .fl-text-slider-left {
    padding-right: 15px;
    background-image: url("../images/default/uio_icon_smallA_default_10x10.png");
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    margin-top: 5px;
}
.fl-uiOptions .fl-text-slider-right {
    padding-right: 15px;
    margin-left:8px;
    background-image: url("../images/default/uio_icon_bigA_default_20x20.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}
.fl-uiOptions .fl-spacing-slider-left {
    padding-right: 15px;
    background-image: url("../images/default/uio_icon_linesNarrow_default_16x12.png");
    background-repeat: no-repeat;
    height: 12px;
    width: 16px;
    margin-top: 5px;
}
.fl-uiOptions .fl-spacing-slider-right {
    padding-right: 15px;
    margin-left:8px;
    background-image: url("../images/default/uio_icon_linesWide_default_16x21.png");
    background-repeat: no-repeat;
    height: 21px;
    width: 16px;
}

.fl-uiOptions .fl-icon {
    width: 2em;
    padding-top: 1em;
}

/* Theme radio buttons */
.fl-uiOptions .fl-choice {
    display: inline;
    float: left;    
}

.fl-uiOptions .fl-choice label {
    margin-right: 5px;  
    border: 1px solid black;
    border-radius: 5px;
    height: 3em;
    width: 3em;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 3em !important;
}
.fl-uiOptions .fl-choice .fl-theme-uio-default .fl-crossout {
    margin-top:-1.75em;
    border-bottom: 1px dashed #ddbdc0;
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg);  
    -ms-transform: rotate(45deg);
    background-color: transparent !important;
}

.fl-uiOptions .fl-choice .fl-preview-A {
    font-size: 2em;
}

.fl-uiOptions .fl-choice input:focus ~ label {
    outline: 2px solid black;
}

.fl-uiOptions .fl-choice .fl-indicator {    
    margin: -1em 0 5px 1em;
    padding-bottom: 1em;
}
.fl-uiOptions .fl-choice input:checked + div {
    background-image: url("../images/default/uio_icon_indicator.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.8em;
    font-size: 0.8em; 
}

/* ON/OFF Switch for checkboxes */

/* The container for the toggle, which is also a label for the hidden checkbox. */
.fl-uiOptions .fl-uiOptions-onoff .fl-uiOptions-switch { 
    border-radius:50px;
    border: 1px solid #776D67;
    width: 5em;
    height: 2em;
    background-color: #E6E6E6;
    box-shadow: 1em 1.1em 0 0 rgba(250,250,250,0.53) inset;
    overflow:hidden;
    vertical-align: middle;
    display:inline-block;
    transition-duration: 0.2s;
    transition-property: padding-left, width, background-color, margin-left;
    font-size: 1.2em;
}

/* Hide input */
.fl-uiOptions .fl-uiOptions-onoff input {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.fl-uiOptions .fl-uiOptions-onoff input:focus + label {
    outline: 2px solid black;
}

.fl-uiOptions .fl-uiOptions-onoff input:checked + label .fl-uiOptions-switch {
    padding-left: 3em;
    width: 2em;
    background-color: #2da750;
    box-shadow: -1em 1.1em 0.1em 0 rgba(172, 216, 92, 0.63) inset;
}

/* With data attributes defining the on/off text, localizing the templates is easier */
.fl-uiOptions .fl-uiOptions-onoff input + label [data-checkboxStateOn]:before {
    content: attr(data-checkboxStateOn);
}
.fl-uiOptions .fl-uiOptions-onoff input + label [data-checkboxStateOff]:after {
    content: attr(data-checkboxStateOff);
}

/* The "on" portion of the toggle and the knob. */
.fl-uiOptions .fl-uiOptions-onoff input + label .fl-uiOptions-switch:before {
    color: #fff;
    border: 1px solid #776D67;
    border-radius: 50px;
    float:left;
    width:1.9em; 
    height: 1.9em; /* Width and height of the knob. */
    text-indent:-1.6em;
    line-height:1.7em;
    text-shadow: 1px 1px 1px #000;
    background-color: #fff;
    background-image: -o-linear-gradient(bottom, rgb(205,204,202) 0%, rgb(244,244,244) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(205,204,202) 0%, rgb(244,244,244) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(205,204,202) 0%, rgb(244,244,244) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(205,204,202) 0%, rgb(244,244,244) 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(205,204,202)),
        color-stop(1, rgb(244,244,244))
    );
    background-image: linear-gradient(bottom, rgb(205,204,202) 0%, rgb(244,244,244) 100%);  
    box-shadow: 0.2em 0.2em 0.5em #888;
}

/* The "off" portion of the toggle. */
.fl-uiOptions .fl-uiOptions-onoff input + label .fl-uiOptions-switch:after {
    float:left;
    position:relative;
    top: 0.36em;    
    left: 0.5em;
}

/* The dark inner circle to the toggle knob. */
.fl-uiOptions .fl-uiOptions-onoff .fl-uiOptions-switch-inner {
    border: 1px solid #493A30;
    border-radius: 50px;
    width: 1em;
    height: 1em;
    position:relative;
    left:-2.85em;
    top:0.46em;

    background-color: #675243;
    box-shadow: 0 -0.2em 0.3em 0.05em rgba(250, 250, 250, 0.3) inset;

    display:inline-block;
}

.fl-uiOptions .fl-uiOptions-onoff input:checked + label .fl-uiOptions-switch .fl-uiOptions-switch-inner {
    top:-1.6em;
    left: 0.46em;
}

/* FLUID-4966: Fix horizontal scroll bar */
.fl-uiOptions .fl-hidden-accessible  {
    top: 0px;
    left: 0px;
}

/* Theming */
.fl-theme-bw .ui-slider-horizontal .ui-slider-handle,
.fl-theme-wb .ui-slider-horizontal .ui-slider-handle,
.fl-theme-by .ui-slider-horizontal .ui-slider-handle,
.fl-theme-yb .ui-slider-horizontal .ui-slider-handle { margin-top: -5px; }

.fl-theme-bw .fl-uiOptions .fl-slider { background: none; background-color:#000;} 
.fl-theme-bw .fl-uiOptions .fl-slider a,
.fl-theme-bw .fl-uiOptions .fl-slider a:hover {border:1px solid #000; background-color:#fff;}
.fl-theme-bw .fl-uiOptions .fl-text-slider-left { background-image: url("../images/bw/uio_icon_smallA_hc_10x10.png"); }
.fl-theme-bw .fl-uiOptions .fl-text-slider-right { background-image: url("../images/bw/uio_icon_bigA_hc_20x20.png"); }
.fl-theme-bw .fl-uiOptions .fl-spacing-slider-left { background-image: url("../images/bw/uio_icon_linesNarrow_hc_16x12.png"); }
.fl-theme-bw .fl-uiOptions .fl-spacing-slider-right { background-image: url("../images/bw/uio_icon_linesWide_hc_16x21.png"); }
.fl-theme-bw .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-save { background-image: url("../images/bw/uio_icon_save_hc_13x13.png"); }
.fl-theme-bw .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-cancel { background-image: url("../images/bw/uio_icon_cancel_hc_13x13.png"); }

.fl-theme-wb .fl-uiOptions .fl-slider { background: none; background-color:#fff;} 
.fl-theme-wb .fl-uiOptions .fl-slider a,
.fl-theme-wb .fl-uiOptions .fl-slider a:hover {border:1px solid #fff; background-color:#000;}
.fl-theme-wb .fl-uiOptions .fl-text-slider-left { background-image: url("../images/wb/uio_icon_smallA_hci_10x10.png"); }
.fl-theme-wb .fl-uiOptions .fl-text-slider-right { background-image: url("../images/wb/uio_icon_bigA_hci_20x20.png"); }
.fl-theme-wb .fl-uiOptions .fl-spacing-slider-left { background-image: url("../images/wb/uio_icon_linesNarrow_hci_16x12.png"); }
.fl-theme-wb .fl-uiOptions .fl-spacing-slider-right { background-image: url("../images/wb/uio_icon_linesWide_hci_16x21.png"); }
.fl-theme-wb .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-save { background-image: url("../images/wb/uio_icon_save_hci_13x13.png"); }
.fl-theme-wb .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-cancel { background-image: url("../images/wb/uio_icon_cancel_hci_13x13.png"); }

.fl-theme-yb .fl-uiOptions .fl-slider {background: none; background-color:#000;}
.fl-theme-yb .fl-uiOptions .fl-slider a,
.fl-theme-yb .fl-uiOptions .fl-slider a:hover {border:1px solid #ffff00; background-color:#000;}
.fl-theme-yb .fl-uiOptions .fl-text-slider-left { background-image: url("../images/yb/uio_icon_smallA_yellowBlack_10x10.png"); }
.fl-theme-yb .fl-uiOptions .fl-text-slider-right { background-image: url("../images/yb/uio_icon_bigA_yellowBlack_20x20.png"); }
.fl-theme-yb .fl-uiOptions .fl-spacing-slider-left { background-image: url("../images/yb/uio_icon_linesNarrow_yellowBlack_16x12.png"); }
.fl-theme-yb .fl-uiOptions .fl-spacing-slider-right { background-image: url("../images/yb/uio_icon_linesWide_yellowBlack_16x21.png"); }
.fl-theme-yb .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-save { background-image: url("../images/yb/uio_icon_save_yellowBlack_13x13.png"); }
.fl-theme-yb .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-cancel { background-image: url("../images/yb/uio_icon_cancel_yellowBlack_13x13.png"); }

.fl-theme-by .fl-uiOptions .fl-slider {background: none; background-color:#ffff00;}
.fl-theme-by .fl-uiOptions .fl-slider a,
.fl-theme-by .fl-uiOptions .fl-slider a:hover {border:1px solid #000; background-color:#ffff00;}
.fl-theme-by .fl-uiOptions .fl-text-slider-left { background-image: url("../images/by/uio_icon_smallA_blackYellow_10x10.png"); }
.fl-theme-by .fl-uiOptions .fl-text-slider-right { background-image: url("../images/by/uio_icon_bigA_blackYellow_20x20.png"); }
.fl-theme-by .fl-uiOptions .fl-spacing-slider-left { background-image: url("../images/by/uio_icon_linesNarrow_blackYellow_16x12.png"); }
.fl-theme-by .fl-uiOptions .fl-spacing-slider-right { background-image: url("../images/by/uio_icon_linesWide_blackYellow_16x21.png"); }
.fl-theme-by .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-save { background-image: url("../images/by/uio_icon_save_blackYellow_13x13.png"); }
.fl-theme-by .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-cancel { background-image: url("../images/by/uio_icon_cancel_blackYellow_13x13.png"); }

.fl-theme-bw .fl-uiOptions .ui-slider .ui-slider-handle,
.fl-theme-wb .fl-uiOptions .ui-slider .ui-slider-handle,
.fl-theme-by .fl-uiOptions .ui-slider .ui-slider-handle,
.fl-theme-yb .fl-uiOptions .ui-slider .ui-slider-handle {
    height: 1.8em;
    width: 1.8em;
}

/* ON/OFF switch */
.fl-theme-bw .fl-uiOptions .fl-uiOptions-switch,
.fl-theme-bw .fl-uiOptions .fl-uiOptions-switch-inner,
.fl-theme-bw .fl-uiOptions input + label .fl-uiOptions-switch:before,
.fl-theme-wb .fl-uiOptions .fl-uiOptions-switch,
.fl-theme-wb .fl-uiOptions .fl-uiOptions-switch-inner,
.fl-theme-wb .fl-uiOptions input + label .fl-uiOptions-switch:before,
.fl-theme-by .fl-uiOptions .fl-uiOptions-switch,
.fl-theme-by .fl-uiOptions .fl-uiOptions-switch-inner,
.fl-theme-by .fl-uiOptions input + label .fl-uiOptions-switch:before,
.fl-theme-yb .fl-uiOptions .fl-uiOptions-switch,
.fl-theme-yb .fl-uiOptions .fl-uiOptions-switch-inner,
.fl-theme-yb .fl-uiOptions input + label .fl-uiOptions-switch:before {
    box-shadow: none !important;
    text-shadow: none;
    color: inherit;
    background-image: none;
    background-color: inherit;
}

/* Theme radio buttons */
.fl-uiOptions .fl-choice label.fl-theme-bw,
.fl-uiOptions .fl-choice label.fl-theme-bw span,
.fl-uiOptions .fl-choice label.fl-theme-bw .fl-crossout {
    background-color: #FFFFFF !important;
    border-color: #000000 !important;
    color: #000000 !important;  
}
.fl-uiOptions .fl-choice label.fl-theme-wb,
.fl-uiOptions .fl-choice label.fl-theme-wb span,
.fl-uiOptions .fl-choice label.fl-theme-wb .fl-crossout {
    background-color: #000000 !important;
    border-color: #FFFFFF !important;
    color: #FFFFFF !important;
}
.fl-uiOptions .fl-choice label.fl-theme-by,
.fl-uiOptions .fl-choice label.fl-theme-by span,
.fl-uiOptions .fl-choice label.fl-theme-by .fl-crossout {
    background-color: #FFFF00 !important;
    border-color: #000000 !important;
    color: #000000 !important;
}
.fl-uiOptions .fl-choice label.fl-theme-yb,
.fl-uiOptions .fl-choice label.fl-theme-yb span,
.fl-uiOptions .fl-choice label.fl-theme-yb .fl-crossout {
    background-color: #000000 !important;
    border-color: #FFFF00 !important;
    color: #FFFF00 !important;
}

.fl-uiOptions .fl-choice label.fl-theme-uio-default,
.fl-uiOptions .fl-choice label.fl-theme-uio-default span,
.fl-uiOptions .fl-choice label.fl-theme-uio-default .fl-crossout {
    background-color: #FFFFFF !important;
    border-color: #433F3D !important;
    color: #433F3D !important;  
}

.fl-theme-bw .fl-uiOptions .fl-choice input:checked + div { background-image: url("../images/bw/uio_icon_indicator.png"); }
.fl-theme-wb .fl-uiOptions .fl-choice input:checked + div { background-image: url("../images/wb/uio_icon_indicator.png"); }
.fl-theme-by .fl-uiOptions .fl-choice input:checked + div { background-image: url("../images/by/uio_icon_indicator.png"); }
.fl-theme-yb .fl-uiOptions .fl-choice input:checked + div { background-image: url("../images/yb/uio_icon_indicator.png"); }

.fl-theme-bw .fl-uiOptions input:focus + label,
.fl-theme-wb .fl-uiOptions input:focus + label,
.fl-theme-by .fl-uiOptions input:focus + label,
.fl-theme-yb .fl-uiOptions input:focus + label,
.fl-theme-bw .fl-uiOptions .fl-choice input:focus ~ label,
.fl-theme-wb .fl-uiOptions .fl-choice input:focus ~ label,
.fl-theme-by .fl-uiOptions .fl-choice input:focus ~ label,
.fl-theme-yb .fl-uiOptions .fl-choice input:focus ~ label {
    outline: 0.2em solid #00AAFF;
}
