/* UI Option default styles */

/* Overall styles */
.fl-uiOptions {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	font-size: 1em; 
	margin-left: 100px;
	margin-right: 100px;	
	max-width: 1280px;
	min-width: 880px;
	
}

/* form section headers */
.fl-uiOptions h2 {
	font-size: 1.29em;
	font-weight: bold;
	clear:both;
}

/* form lists */
.fl-uiOptions ul {
	margin-left: 0px;
}
.fl-uiOptions ul li {
	list-style: none;
	clear:both;	
	padding-bottom: 2em;
}

/* form paragraphs */
.fl-uiOptions p {
	color: #4D4D4D;
	margin-bottom: 0px;
}

/* form labels */
.fl-uiOptions label {
	text-transform: uppercase;
	font-size: 1.14em;
}

/* form tabular-layout */
.fl-uiOptions .fl-uio-form li {
	padding-bottom: 3.5em;
}

.fl-uiOptions .fl-uio-form label {
	display: block;
	float: left;
	width: 50%;	
}

.fl-uiOptions .fl-uio-form .fl-inputs {
	float: left;
}

.fl-uiOptions .fl-uio-form input[type="text"] {
	width:2em;
}

.fl-slider {
	float:left;
	margin-right: 10px;
}

.fl-uiOptions input[type="checkbox"] {
	height: 2em;
	width: 2em;
}

/* Preview Area */
.fl-preview iframe {
	height: 300px;
	width: 100%;
	border: 2px dotted black;
}
