/* CSS Specifically for the UI Options dialog and Preview window */
.fl-uiOptions .ui-accordion-content {border: 3px solid}/*fixes an IE issue where the border of the content needs to be specified*/
.fl-uiOptions {padding:10px;}
.fl-uiOptions fieldset {margin:0 20px 5px 0;}
/*.fl-uiOptions fieldset h2 {cursor:pointer; margin:0; padding:5px;}*/
.fl-uiOptions fieldset ol {margin:0; padding:15px 0 0 0;}
.fl-uiOptions fieldset li {padding:2px 0; clear:both}
.fl-uiOptions .fl-uiOptions-buttons-refresher-5 {width:5em;}
.fl-uiOptions .fl-uiOptions-buttons-refresher-10 {width:10em;}

.fl-uiOptions .fl-uiOptions-min-text-size .fl-textfield,
.fl-uiOptions .fl-uiOptions-line-spacing .fl-textfield {width:1.85em; height:1.2em; padding:0.1em;}

.fl-uiOptions .fl-slider {    
    margin-bottom:0;
    margin-right:5%;
    margin-top:5px;
    width:30%;
}

.fl-uiOptions .fl-subcomp-preview {padding:0;border:3px solid;}
.fl-uiOptions .fl-subcomp-preview h2 {font-weight:normal; margin:0; padding:5px;}
.fl-uiOptions .fl-subcomp-preview iframe {width:100%; height:300px;}

.ui-state-focus {*border:1px solid #F00; *outline:none;}

/* Component Theme CSS */
.fl-theme-mist .fl-uiOptions h2 {background-color:#ebebeb;}
.fl-theme-mist .fl-uiOptions .ui-accordion-content {border-color:#ebebeb;}
.fl-theme-mist .fl-uiOptions .fl-subcomp-preview {border-color:#ebebeb;}

.fl-theme-slate .fl-uiOptions h2 {background-color:#666;}
.fl-theme-slate .fl-uiOptions .ui-accordion-content {border-color:#666;}
.fl-theme-slate .fl-uiOptions .fl-subcomp-preview {border-color:#666;}

.fl-theme-coal .fl-uiOptions h2 {background-color:#666;}
.fl-theme-coal .fl-uiOptions .ui-accordion-content {border-color:#666;}
.fl-theme-coal .fl-uiOptions .fl-subcomp-preview {border-color:#666;}
