/* General UIOptions styles, used across all layouts */

.fl-uiOptions {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    font-size: 0.85em;
}


/* Form list */
.fl-uiOptions ul {
	margin-left: 0px;
}

.fl-uiOptions ul li {
    list-style: none;
}

.fl-uiOptions label {
	text-transform: uppercase;
	font-size: 1.2em;
}
.fl-uiOptions .fl-uiOptions-option-description {
	color: #4D4D4D;
	margin-bottom: 0px;
	padding-top: 5px;
    font-size: 1.1em;
}

/* text and display section */
.fl-uiOptions .fl-uiOptions-text label {
    display: block;
    float: left;
	width: 14em;	
}

.fl-uiOptions .fl-uiOptions-text .fl-inputs {
	float: left;
}

.fl-uiOptions input[type="text"] {
	width:2em;
}

/* Slider position */
.fl-uiOptions .fl-slider {
	float:left;
	margin-right: 10px;
}

.fl-uiOptions .fl-slider-input {
	float: right;
}

/* Check boxes */
.fl-uiOptions input[type="checkbox"] {
	margin-right:10px;
	margin-bottom: 2em;
	border: 1px solid black;
}

/* Font Select box */
.fl-uiOptions select {
	border: 2px solid #ebebeb;
}

.fl-uiOptions select#textFont { 
	font-weight:bold; 
}
.fl-uiOptions select#textFont option.times { font-family: "Times New Roman"; }
.fl-uiOptions select#textFont option.comic { font-family: "Comic Sans MS"; }
.fl-uiOptions select#textFont option.arial { font-family: Arial; }
.fl-uiOptions select#textFont option.verdana { font-family: Verdana; }

/* Theme Select box */
.fl-uiOptions select#theme { 
	font-weight:bold; 
	text-transform: uppercase;
}
.fl-uiOptions select#theme option.default { color: #000; background-color: #efefef;}
.fl-uiOptions select#theme option.bw { color: #fff; background-color: #000;}
.fl-uiOptions select#theme option.wb { color: #000; background-color: #fff;}
.fl-uiOptions select#theme option.by { color: #000; background-color: #ffee00;}
.fl-uiOptions select#theme option.yb { color: #ffee00; background-color: #000;}

/**
 * Sliders: basic slider structure
 * requires an anchor for a drag handle
 */

/* LAYOUT DATA */
.fl-uiOptions .fl-slider-vert {height:10em; width:0.8em;}
.fl-uiOptions .fl-slider-horz {width:140px; height:3px; -moz-border-radius: 65%; -webkit-border-radius: 65%;}
.fl-uiOptions .fl-slider {position:relative; background-color:#555555; padding:0; margin-top:8px;}
.fl-uiOptions .fl-slider .fl-handle, .fl-slider a {position:absolute; display:block; height:32px; width:32px; top:0; left:0;}
.fl-uiOptions .fl-slider a { background-image:url('../images/default/uio_icon_sliderhandle.png'); background-repeat:no-repeat; background-position:center center; bottom: 16px;}
.fl-uiOptions .fl-slider-vert .fl-handle, .fl-slider-vert a {margin-left:-0.2em; margin-top:-0.5em;}
.fl-uiOptions .fl-slider-horz .fl-handle, .fl-slider-horz a {margin-top:-14px; margin-left:-14px;}
.fl-uiOptions .fl-text-slider-left { 
	padding-right: 15px; 
	background-image: url("../images/default/uio_icon_smallA_default_10x10.png");
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
	margin-top: 5px;
}
.fl-uiOptions .fl-text-slider-right { 
	padding-right: 15px; 
	margin-left:8px;
	background-image: url("../images/default/uio_icon_bigA_default_20x20.png");
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;	
}
.fl-uiOptions .fl-spacing-slider-left { 
	padding-right: 15px; 
	background-image: url("../images/default/uio_icon_linesNarrow_default_16x12.png");
	background-repeat: no-repeat;
	height: 12px;
	width: 16px;
	margin-top: 5px;	
}
.fl-uiOptions .fl-spacing-slider-right { 
	padding-right: 15px; 
	margin-left:8px;	
	background-image: url("../images/default/uio_icon_linesWide_default_16x21.png");
	background-repeat: no-repeat;
	height: 21px;
	width: 16px;	
}

/* THEME DATA */
.fl-theme-hc .ui-slider-horizontal .ui-slider-handle,
.fl-theme-hci .ui-slider-horizontal .ui-slider-handle,
.fl-theme-blackYellow .ui-slider-horizontal .ui-slider-handle,
.fl-theme-yellowBlack .ui-slider-horizontal .ui-slider-handle { margin-top: -5px; }

.fl-theme-hc .fl-uiOptions .fl-slider { background: none; background-color:#000;}
.fl-theme-hc .fl-uiOptions .fl-slider .fl-handle, 
.fl-theme-hc .fl-uiOptions .fl-slider a,
.fl-theme-hc .fl-uiOptions .fl-slider a:hover {border:1px solid #000; background-color:#fff;}
.fl-theme-hc .fl-uiOptions .fl-text-slider-left { background-image: url("../images/hc/uio_icon_smallA_hc_10x10.png"); }
.fl-theme-hc .fl-uiOptions .fl-text-slider-right { background-image: url("../images/hc/uio_icon_bigA_hc_20x20.png"); }
.fl-theme-hc .fl-uiOptions .fl-spacing-slider-left { background-image: url("../images/hc/uio_icon_linesNarrow_hc_16x12.png"); }
.fl-theme-hc .fl-uiOptions .fl-spacing-slider-right { background-image: url("../images/hc/uio_icon_linesWide_hc_16x21.png"); }
.fl-theme-hc .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-save { background-image: url("../images/hc/uio_icon_save_hc_13x13.png"); }
.fl-theme-hc .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-cancel { background-image: url("../images/hc/uio_icon_cancel_hc_13x13.png"); }

.fl-theme-hci .fl-uiOptions .fl-slider { background: none; background-color:#fff;}
.fl-theme-hci .fl-uiOptions .fl-slider .fl-handle, 
.fl-theme-hci .fl-uiOptions .fl-slider a,
.fl-theme-hci .fl-uiOptions .fl-slider a:hover {border:1px solid #fff; background-color:#000;}
.fl-theme-hci .fl-uiOptions .fl-text-slider-left { background-image: url("../images/hci/uio_icon_smallA_hci_10x10.png"); }
.fl-theme-hci .fl-uiOptions .fl-text-slider-right { background-image: url("../images/hci/uio_icon_bigA_hci_20x20.png"); }
.fl-theme-hci .fl-uiOptions .fl-spacing-slider-left { background-image: url("../images/hci/uio_icon_linesNarrow_hci_16x12.png"); }
.fl-theme-hci .fl-uiOptions .fl-spacing-slider-right { background-image: url("../images/hci/uio_icon_linesWide_hci_16x21.png"); }
.fl-theme-hci .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-save { background-image: url("../images/hci/uio_icon_save_hci_13x13.png"); }
.fl-theme-hci .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-cancel { background-image: url("../images/hci/uio_icon_cancel_hci_13x13.png"); }

.fl-theme-yellowBlack .fl-uiOptions .fl-slider {background: none; background-color:#fff;}
.fl-theme-yellowBlack .fl-uiOptions .fl-slider .fl-handle, 
.fl-theme-yellowBlack .fl-uiOptions .fl-slider a,
.fl-theme-yellowBlack .fl-uiOptions .fl-slider a:hover {border:1px solid #fff; background-color:#000;}
.fl-theme-yellowBlack .fl-uiOptions .fl-text-slider-left { background-image: url("../images/yellowBlack/uio_icon_smallA_yellowBlack_10x10.png"); }
.fl-theme-yellowBlack .fl-uiOptions .fl-text-slider-right { background-image: url("../images/yellowBlack/uio_icon_bigA_yellowBlack_20x20.png"); }
.fl-theme-yellowBlack .fl-uiOptions .fl-spacing-slider-left { background-image: url("../images/yellowBlack/uio_icon_linesNarrow_yellowBlack_16x12.png"); }
.fl-theme-yellowBlack .fl-uiOptions .fl-spacing-slider-right { background-image: url("../images/yellowBlack/uio_icon_linesWide_yellowBlack_16x21.png"); }
.fl-theme-yellowBlack .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-save { background-image: url("../images/yellowBlack/uio_icon_save_yellowBlack_13x13.png"); }
.fl-theme-yellowBlack .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-cancel { background-image: url("../images/yellowBlack/uio_icon_cancel_yellowBlack_13x13.png"); }

.fl-theme-blackYellow .fl-uiOptions .fl-slider {background: none; background-color:#fff;}
.fl-theme-blackYellow .fl-uiOptions .fl-slider .fl-handle, 
.fl-theme-blackYellow .fl-uiOptions .fl-slider a,
.fl-theme-blackYellow .fl-uiOptions .fl-slider a:hover {border:1px solid #000; background-color:#000;}
.fl-theme-blackYellow .fl-uiOptions .fl-text-slider-left { background-image: url("../images/blackYellow/uio_icon_smallA_blackYellow_10x10.png"); }
.fl-theme-blackYellow .fl-uiOptions .fl-text-slider-right { background-image: url("../images/blackYellow/uio_icon_bigA_blackYellow_20x20.png"); }
.fl-theme-blackYellow .fl-uiOptions .fl-spacing-slider-left { background-image: url("../images/blackYellow/uio_icon_linesNarrow_blackYellow_16x12.png"); }
.fl-theme-blackYellow .fl-uiOptions .fl-spacing-slider-right { background-image: url("../images/blackYellow/uio_icon_linesWide_blackYellow_16x21.png"); }
.fl-theme-blackYellow .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-save { background-image: url("../images/blackYellow/uio_icon_save_blackYellow_13x13.png"); }
.fl-theme-blackYellow .fl-uiOptions .fl-uiOptions-buttons .fl-uiOptions-cancel { background-image: url("../images/blackYellow/uio_icon_cancel_blackYellow_13x13.png"); }