/* General prefs editor styling used to apply preferences */

@import UtilityThemes

.fl-font-serif
    &, & *
        font-family: Georgia, Times, "Times New Roman", "Book Antiqua", serif !important

.fl-font-sans
    &, & *
        font-family: Tahoma, Verdana, Helvetica, sans-serif !important

.fl-font-monospace
    &, & *
        font-family: "Courier New, Courier", monospace !important

.fl-font-arial
    &, & *
        font-family: "Arial" !important

.fl-font-verdana
    &, & *
        font-family: "Verdana" !important

.fl-font-times
    &, & *
        font-family: Georgia, Times, "Times New Roman", serif !important

.fl-font-courier
    &, & *
        font-family: "Courier New", Courier, monospace !important

.fl-font-comic-sans
    &, & *
        font-family: "Comic Sans MS", sans-serif !important

.fl-text-align-center
    text-align: center;

// UI Enhancer "Enlarge text" link options
.fl-text-larger
    font-size: 125% !important

// UI Enhancer 'enhanced links' styling
.fl-link-enhanced
    font-size: 125% !important
    text-decoration: underline !important
    font-weight: bold !important

// Theming
build-themes-prefsEditorThemes()