// Contains utility functions for building css for contrast themes

themes = {
    ".fl-theme-bw": {
        foregroundColor: #000000,
        backgroundColor: #ffffff
    }
    ".fl-theme-wb": {
        foregroundColor: #ffffff,
        backgroundColor: #000000
    }
    ".fl-theme-yb": {
        foregroundColor: #ffff00,
        backgroundColor: #000000
    }
    ".fl-theme-by": {
        foregroundColor: #000000,
        backgroundColor: #ffff00
    }
    ".fl-theme-lgdg": {
        foregroundColor: #bdbdbb,
        backgroundColor: #555555
    }
}

build-themes-prefsEditor()
    for themeName in themes
        fColor = themes[themeName].foregroundColor
        bColor = themes[themeName].backgroundColor

        {themeName}
            & .fl-prefsEditor
                // slider
                &.fl-slider
                    background: none
                    background-color: fColor

                    & a, & a:hover
                        border:1px solid fColor
                        background-color: bColor

                // ON/OFF switch
                & .fl-prefsEditor-switch,
                & .fl-prefsEditor-switch-inner,
                & input + label .fl-prefsEditor-switch:before
                    box-shadow: none !important
                    text-shadow: none
                    color: inherit
                    background-image: none
                    background-color: inherit

                & input:focus + label,
                & .fl-choice input:focus ~ label
                    outline: 0.2em solid fColor

        .fl-prefsEditor .fl-choice label
            &{themeName},
            &{themeName} span,
            &{themeName} .fl-crossout
                background-color: bColor !important
                border-color: fColor !important
                color: fColor !important

// For the separated panel
get-colors-for-separatedPanelPrefsEditor(fColor, bColor)
    background-color: bColor
    border-color: fColor
    color: fColor

build-themes-separatedPanelPrefsEditor()
    for themeName in themes
        fColor = themes[themeName].foregroundColor
        bColor = themes[themeName].backgroundColor

        {themeName}
            background-image: none !important
            get-colors-for-separatedPanelPrefsEditor(fColor, bColor)

        {themeName} .fl-prefsEditor-separatedPanel
            & .fl-panelBar, & .fl-toggleButton, & .fl-prefsEditor-reset
                get-colors-for-separatedPanelPrefsEditor(fColor, bColor)

// For the separated panel iframe
build-themes-separatedPanelPrefsEditorFrame()
    for themeName in themes
        fColor = themes[themeName].foregroundColor
        bColor = themes[themeName].backgroundColor

        .fl-prefsEditor-separatedPanel{themeName}
            background-image: none
