html {
	height:100%;
}
body {
	height:100%;
	background:#fff url('../images/960grid_no_ratios.png') repeat left 51px;
}
.options {
	background:#FFFFFF;
	padding:17px 20px;	
	text-align:right;
    margin-bottom:50px;
}
.options h1 {float:left;margin:0; padding:0;}

.test_containers {
    background-color:#c00;
}
.test_containers div {
	background-color:#999;
	text-align:center;
	color:#fff;
}