name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

defaults:
  run:
    shell: bash

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    timeout-minutes: 20

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        node-version: [10.x, 12.x]

    env:
      HEADLESS: true

    steps:
    - name: Prepare git
      run: git config --global core.autocrlf false

    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Get npm cache directory
      id: npm-cache
      run: |
        echo "::set-output name=dir::$(npm config get cache)"

    - uses: actions/cache@v2
      with:
        path: ${{ steps.npm-cache.outputs.dir }}
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: Install Node.js dependencies
      run: npm install

    - name: Code linter
      run: npm run lint

    - name: Browser tests
      run: npm run test:browser

    - name: Node.js tests
      run: npm run test:node

    - name: Code coverage
      run: npm run posttest

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./reports/lcov.info
        flags: unittests

    - name: Coveralls Coverage Report
      env:
        # workaround to set flag name as it is not properly added to the inputs.
        # see: https://github.com/coverallsapp/github-action/issues/50
        COVERALLS_FLAG_NAME: run-${{ matrix.os }}-node_${{ matrix.node-version }}
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        path-to-lcov: "./reports/lcov.info"
        parallel: true

  finish:
    needs: tests
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true
