name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    env:
      HEADLESS: true

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Node.js dependencies
      run: npm install

    - name: Code linter
      run: $(npm bin)/grunt lint

    - name: Browser tests
      run: $(npm bin)/testem ci --file tests/testem.js

    - name: Node.js tests
      run: $(npm bin)/nyc node tests/node-tests/basic-node-tests.js
