// Contains a utility function for changing font family

$fonts: (
    ".fl-font-arial": "Arial",
    ".fl-font-verdana": "Verdana",
    ".fl-font-times": "Georgia, Times, Times New Roman, serif",
    ".fl-font-comic-sans": "Comic Sans MS, sans-serif",
    ".fl-font-open-dyslexic": "OpenDyslexic, sans-serif"
);

// Defines any @font-face definitions needed by the enactors
$fontFaces: (
    openDyslexic: (
        fontDirectory: "../../../lib/open-dyslexic/fonts/",
        fontFamily: "OpenDyslexic",
        definitions: (
            normal: (
                filename:"OpenDyslexic-Regular.woff",
                fontWeight: normal,
                fontStyle: normal
            ),
            bold: (
                filename:"OpenDyslexic-Bold.woff",
                fontWeight: 600,
                fontStyle: normal
            ),
            italic: (
                filename:"OpenDyslexic-Italic.woff",
                fontWeight: normal,
                fontStyle: italic
            ),
            boldItalic: (
                filename:"OpenDyslexic-BoldItalic.woff",
                fontWeight: 600,
                fontStyle: italic
            )
        )
    )
);

@mixin build-font-face-def($fontFaces) {
    // Build any necessary @font-face definitions
    @each $key, $properties in $fontFaces {
        @each $key, $definition in map-get($properties, "definitions") {
            @font-face {
                font-family: map-get($properties, "fontFamily");
                font-style: map-get($definition, "fontStyle");
                font-weight: map-get($definition, "fontWeight");
                src: url(#{map-get($properties, "fontDirectory")}#{map-get($definition, "filename")});
            }
        }
    }
}

@mixin build-fonts-properties($fonts) {
    @each $selector, $fontFamily in $fonts {
        #{$selector} {
            --fl-font-family: #{$fontFamily};
        }
    }
}

@mixin build-fonts-Enactors($fonts) {
    @each $selector, $fontFamily in $fonts {
        #{$selector},
        #{$selector} * {
            &:not([class*='icon']) {
                font-family: var(--fl-font-family) !important;
            }
        }
    }
}
