// Contains a utility function for changing font family

$fonts: (
    ".fl-font-arial": "Arial",
    ".fl-font-verdana": "Verdana",
    ".fl-font-times": "Georgia, Times, Times New Roman, serif",
    ".fl-font-comic-sans": "Comic Sans MS, sans-serif",
    ".fl-font-open-dyslexic": "OpenDyslexic, sans-serif"
);

// Defines any @font-face definitions needed by the enactors
$fontFaces: (
    open-dyslexic: (
        font-directory: "../../../lib/open-dyslexic/fonts/",
        font-family: "OpenDyslexic",
        definitions: (
            normal: (
                filename:"OpenDyslexic-Regular.woff",
                font-weight: normal,
                font-style: normal
            ),
            bold: (
                filename:"OpenDyslexic-Bold.woff",
                font-weight: 600,
                font-style: normal
            ),
            italic: (
                filename:"OpenDyslexic-Italic.woff",
                font-weight: normal,
                font-style: italic
            ),
            bold-italic: (
                filename:"OpenDyslexic-BoldItalic.woff",
                font-weight: 600,
                font-style: italic
            )
        )
    )
);

@mixin build-font-face-def($fontFaces) {
    // Build any necessary @font-face definitions
    @each $key, $properties in $fontFaces {
        @each $key, $definition in map-get($properties, "definitions") {
            @font-face {
                font-family: map-get($properties, "font-family");
                font-style: map-get($definition, "font-style");
                font-weight: map-get($definition, "font-weight");
                src: url(#{map-get($properties, "font-directory")}#{map-get($definition, "filename")});
            }
        }
    }
}

@mixin build-fonts-properties($fonts) {
    @each $selector, $fontFamily in $fonts {
        #{$selector} {
            --fl-font-family: #{$fontFamily};
        }
    }
}

@mixin build-fonts-Enactors($fonts) {
    // Used by the @extend rule to reduce duplication of output CSS styles
    %fl-font-application {
        font-family: var(--fl-font-family) !important;
    }

    @each $selector, $fontFamily in $fonts {
        #{$selector},
        #{$selector} * {
            &:not([class*='icon']) {
                @extend %fl-font-application;
            }
        }
    }
}
